@mixin checkout-page-time-slots-selector($name: '.time-slots-selector') {
    #{$name} {
        position: relative;

        &__title {
            @include helper-breakpoint-media-min($xl-min) {
                position: absolute;
                left: 0;
                top: rem(6);
                font-family: $setting-font-family-additional;
            }
        }

        @content;
    }
}

@include checkout-page-time-slots-selector();
