$setting-item-border-radius: rem(8);

@mixin additional-order-buttons($name: '.additional-order-buttons') {
    #{$name} {

        .button--ubersicht,
        .button--addContainers,
        .button--posListe {
            width: 33%;
            background-color: white;
            border: 1px solid #7b7b7b;
            color: #7b7b7b;
        }

        .button--disabled {
            border: 1px solid #c7c7c7;
            color: #c7c7c7;
        }

        #redirectBtn {
            background-color: white;
        }

        #redirectBtn > span {
            border: none;
            text-decoration: none;
            background-color: white;
            cursor: pointer;
        }

    }
}

@include additional-order-buttons();
