$header-mobile-height: rem(61, number);
$header-height: rem(147, number);
$header-sticky-height: rem(69, number);

@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        z-index: $setting-zi-header;

        height: rem(130);
        background-color: $setting-color-white;

        @include helper-breakpoint-media-min($xl-min) {
            height: auto;
        }

        &__top, &__content-holder {
            padding-left: rem(10);
            padding-right: rem(10);
        }

        &__logo_text_link {
            text-decoration: none;
        }

        &__payback {
            color: $setting-color-stonegray;
            background-color: transparent;
            font-size: rem(12);
        }

        &__logo-text {
            color: $setting-color-fresh-orange;
            font-size: rem(18);
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: rem(1);

            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                height: 100%;
                font-size: rem(25);
                align-items: center;
                margin-bottom: 0;
            }

            @include helper-breakpoint-media-max($lg-max) {
                margin-bottom: rem(8);
            }

            @include helper-breakpoint-media-max($xs-max) {
                font-size: rem(18);
                margin: 0;
            }

        }

        &__container-nav {
            display: flex;
            justify-content: flex-end;
            height: inherit;
        }

        &__flexbox {
            display: flex;
            justify-content: space-between;
        }

        &__logo-container {
            width: 10%;
        }

        &__info-container {
            margin-left: rem(0);
        }

        &__meta-navigation-top {
            height: rem(35);
            background: $setting-color-globus-darkGray-3;
            font-size: rem(11);
            margin: 0;
            color: $setting-color-globus-white;

            #{$name}__link_container {
                display: flex;
                height: inherit;
                font-size: rem(10);
            }

            @include helper-breakpoint-media-max($xl-min) {
                display: none;
            }
        }

        &__link_orange, &__link_orange__middle {
            display: none;
        }

        &__link_orange__middle {
            color: $setting-color-gray-4;
            user-select: none;
            cursor: pointer;
        }

        &__content-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
        }

        &__left-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__text-left {
            display: flex;
            height: rem(35);
            width: 100%;
            align-items: center;
            color: $setting-color-white;
            justify-content: right;
        }

        &__text-right {
            color: $setting-color-globus-darkGray-2;
            display: none;
        }

        &__link_orange {
            color: $setting-color-globus-white;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                opacity: 1;
                color: $setting-color-globus-lightOrange-2;
                text-decoration: none;
                box-shadow: none;
            }

            &:hover svg {
                fill: $setting-color-globus-lightOrange-2;
            }
        }

        &__icon_left {
            width: rem(18);
            height: rem(18);
            vertical-align: bottom;
            margin-right: rem(2);
            margin-left: rem(10);
            text-decoration: none;

            @include helper-breakpoint-media-max($sm-max) {
                width: rem(8);
                height: rem(8);
            }

            &:hover {
                opacity: 1;
                fill: $setting-color-globus-lightOrange-2;
            }
        }

        &__icon_right {
            width: rem(16);
            height: rem(16);
            vertical-align: bottom;
            margin-right: rem(2);
            margin-left: rem(10);
        }

        &__link_black {
            display: flex;
            color: $setting-color-globus-white;
            text-decoration: none;
            align-items: center;


            &:hover {
                opacity: 1;
                color: $setting-color-black-1;
                text-decoration: none;
                box-shadow: none;
            }
        }

        &__top {
            background: $setting-color-globus-white;
            color: $setting-color-globus-lightGray;
            display: none;

            @include helper-breakpoint-media-min($xl-min) {
                display: block;
            }
        }

        &__row {

            padding-top: rem(20);

            @include helper-breakpoint-media-max($lg-max) {
                margin-right: 0;
            }
        }

        &__content-holder {
            min-height: $header-mobile-height;

            @include helper-breakpoint-media-min($xl-min) {
                min-height: $header-sticky-height;
            }
        }

        &__middle {
            padding-bottom: rem(14);
            background: $setting-color-globus-white;
            z-index: $setting-zi-header + 1;
            width: 100%;

            @include helper-breakpoint-media-max($lg-max) {
                padding: 0 rem(10) rem(15);
                transition: top 0.3s;
                top: -120px;
                background: #FFFFFF;
                &--sticky {
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: 0;

                }
            }
        }

        &__all-products-button {
            width: 20%;

            .button {
                min-width: unset;
                display: flex;
                justify-content: center;
            }
        }

        &__logo-content {
            display: flex;
            flex-flow: column;
            justify-items: center;
            justify-content: center;
        }

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__top-nav {
            display: flex;
            flex-flow: column;
        }

        &__navigation-top {
            position: relative;
            z-index: $setting-zi-header + 3;
            display: flex;
            flex-direction: row;
            align-items: center;

            &--checkout {
                display: flex;
                justify-content: flex-end;
            }
        }

        &__logo-desktop, &__logo-desktop-CZ {
            display: flex;
            @include helper-breakpoint-media-max($lg-max) {
                display: none;
            }
        }

        &__logo-desktop-CZ {

        }

        &__logo-mobile {
            display: none;
            max-width: rem(150);
            height: auto;

            @include helper-breakpoint-media-max($lg-max) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a {
                display: flex;
            }
        }

        &__search--input {
            width: 80%;
        }

        &__search-bar {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &__products-button-text {
            font-size: rem(14);
            margin-left: rem(10);

            @include helper-breakpoint-media-max($lg-max) {
                display: none;
            }
        }

        &__search-form {
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            position: fixed;
            top: #{$header-mobile-height};
            left: 0;
            width: 100%;
            bottom: 0;
            background: $setting-color-white;
            z-index: $setting-zi-header + 1;
            box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);

            display: flex;
            flex-direction: column;

            @include helper-breakpoint-media-max($lg-max) {
                margin-top: rem(48);
            }

            @include helper-breakpoint-media-max($sm-max) {
                margin-top: rem(50);
            }

            h4 {
                overflow-y: scroll;

                ul {
                    overflow-y: hidden;
                    margin-top: rem(12);

                    a, ul {
                        text-align: justify;
                    }
                }
            }

            @include helper-breakpoint-media-min($xl-min) {
                position: absolute;
                left: auto;
                bottom: auto;
                display: block;
                width: rem(300);
                padding: rem(5) 0 rem(10) rem(10);
                top: 92%;
            }

            @include helper-media-ie() {
                transform: none;
            }
        }

        &__navigation-main-CZ {
            position: fixed;
            top: #{$header-mobile-height};
            left: 0;
            width: 100%;
            bottom: 0;
            border-top: rem(8) solid $setting-color-globusCZ-main-green;
            background: $setting-color-globus-lightGray;
            z-index: $setting-zi-header + 1;
            box-shadow: 0 rem(2) 0 $setting-color-globus-lightGray;
            display: flex;
            flex-direction: column;

            h4 {
                overflow-y: scroll;

                ul {
                    overflow-y: hidden;
                    margin-top: rem(20);

                    a, ul {
                        text-align: justify;
                    }
                }
            }

            @include helper-breakpoint-media-min($xl-min) {
                position: absolute;
                top: 100%;
                left: auto;
                bottom: auto;
                display: block;
                width: rem(345);
            }

            @include helper-media-ie() {
                transform: none;
            }
        }

        &__navigation-button-container {
            min-width: rem(190);
            height: rem(48);
        }

        &__navigation-title {
            position: relative;
            color: $setting-color-globus-darkGray;
            text-align: center;
            padding: rem(22) 0;
            box-shadow: 0 rem(2) rem(12) 0 $setting-color-alpha-8;
            z-index: $setting-zi-element;
        }

        &__text-small {
            font: fw(regular) rem(13)/rem(16) $setting-font-family-additional;
            letter-spacing: rem(0.1);
        }

        &__secure-block {
            font: fw(regular) rem(13)/rem(16) $setting-font-family-additional;
            letter-spacing: rem(0.1);
            color: $setting-color-globus-white;
            display: flex;
            align-items: center;
            padding-left: rem(5);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(15);
                justify-content: flex-end;
            }
        }

        &--checkout {
            #{$name}__top {
                @include helper-breakpoint-media-min($xl-min) {
                    padding: rem(10) 0;
                }
            }
        }

        &__merchant {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $setting-color-gray-13;
            padding: 0 rem(30);
        }

        &__merchant-CZ {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $setting-color-globusCZ-header;
            padding: 0 rem(30);
            margin-left: rem(-48);
        }

        &--global-products {
            margin-right: rem(0);
            height: rem(44);
            display: flex;
            justify-content: center;
            align-items: center;
            background: $setting-color-fresh-orange;

            @include helper-breakpoint-media-max($sm-max) {
                margin-right: rem(0);
                width: rem(100);
            }
        }

        &__logo {

        }

        &__logo-CZ {

        }

        .navigation-top-left-mobile__item {
            position: fixed;
            left: rem(20);
            top: rem(15);
            background-color: transparent;
            @include helper-breakpoint-media-max($lg-max) {
                display: none;
            }
            @include helper-breakpoint-media-max($sm-max) {
                display: none;
            }
        }

        .icon-time {
            font-size: rem(28);
            margin-right: rem(12);
        }

        @content;
    }
}

@include shop-ui-header();
