@mixin record-list($name: '.record-list') {
    #{$name} {

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
        }

        &__content-wrapper {
            @include helper-breakpoint-media-max($sm-max) {
                height: 62.5%;
            }
        }

        &__image-wrap {
            text-align: center;
            background-color: $setting-color-white;

            @include helper-breakpoint-media-min($md-min){
                min-height: rem(170);
                max-height: rem(202);
                clip-path: ellipse(123% 100% at 50% 0%);
            }

            @include helper-breakpoint-media-max($sm-max){
                max-height: rem(180);
                margin-left: 2%;
                margin-top: 2%;
            }

            img {
                max-height: inherit;

                @include helper-breakpoint-media-min($md-min){
                    max-height: rem(160);
                    min-height: rem(160);
                }

            }
        }

        .fromTop {
            @include helper-breakpoint-media-max($md-min){
                top: rem(-40.5);
            }
        }


        .add-bin {
            background: url('../images/bin-new.svg') center no-repeat;

            &:hover {
                background: url('../images/bin-new-green.svg') center no-repeat;
            }
        }

        ff-record-list {
            width: 100%;

            @include helper-breakpoint-media-min($md-min){
                display: flex;
                flex-flow: wrap;
            }

            @include helper-breakpoint-media-between($md-min, $lg-min) {
                .col--md-3 {
                    width: 46%;
                    min-width: 46%;
                }
            }
        }

        ff-record {
            margin-bottom: rem(30);
            background-color: $setting-color-white;
            @include helper-breakpoint-media-min($md-min){
                margin: 0 rem(10) rem(32);
                background-color: $setting-color-stonegray;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }

            @include helper-breakpoint-media-between($md-min, $smd-max){
                margin: 0 rem(8) rem(32);
            }

            @include helper-breakpoint-media-min($lg-min){
                margin: 0 rem(5) rem(32);
            }

            @include helper-breakpoint-media-max($sm-max){
                margin-bottom: rem(15);
                margin-top: 0;
            }
        }
            @include helper-breakpoint-media-min($md-min){
                .col--md-4{
                    width: 30%;
                    min-width: 30%;
            }
        }

            @include helper-breakpoint-media-min($lg-min) {
                .col--lg-3 {
                    width: 31%;
                    min-width: 31%;
                }
            }

            @include helper-breakpoint-media-min($min: 1025px){
            .col--lg-3{
                width: 23.7%;
                min-width: 23.7%;
            }
        }

        &__record-item{
            position: relative;
            transition: 0.5s;
            transition-timing-function: ease-in;
            box-shadow: 0 0 rem(20) $setting-color-lightest;
            border: rem(1) solid $setting-color-gray-1;
            font-family: $setting-font-family-additional;
            height: rem(250);

            @include helper-breakpoint-media-min($md-min){
                height: rem(480);
                z-index: 0;
            }

        }
        .myBtn{
            justify-content: center;
            min-width: 90%;
            font-size: rem(11);
            @include helper-breakpoint-media-max($sm-max){
                margin-top: rem(12);
                min-width: 40%;
                font-size: rem(22);
                margin-right: rem(10);
            }
        }

        &__container{
            padding-left: 0;
            margin-top: rem(20);
        }


        &__labelDiscount{
            width: rem(40);
            height: rem(22.5);
            background-color: $setting-color-red-tomato;
            padding: rem(2);
            border-radius: 0 rem(29) rem(29) 0;
            position: absolute;
            bottom: auto;
            font-size: rem(14);
            font-weight: 700;
            color: $setting-color-white;
            pointer-events: none;
            font-family: $setting-font-family-additional;
            z-index: 100;
            top: rem(6);
            left: rem(0);
            text-align: center;
        }

        &__button-wrapper{
            background-color: $setting-color-stonegray;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-bottom: rem(5);
            padding-top: rem(5);
            @include helper-breakpoint-media-min($md-min){
               background-color: transparent;
                justify-content: center;
            }
        }

        .lazy-thumbnail{
            @include  helper-breakpoint-media-max($sm-max){
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: rem(71);
            }
        }

        .js-lazy-image__content {
            right: 100%;
        }

        .lazy-thumbnail__image {
            @include  helper-breakpoint-media-min($sm-max){
                position: static;
            }

        }

        &__add-to-cart-btn {
            display: block;
            text-align: center;
            position: relative;
            margin-bottom: rem(5);
            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                height: 25%;
                margin: auto;


                .button_center_align {
                    margin-top: 0;
                }
            }

            .change-cart-counter {
                display: flex;
                justify-content: space-between;
                background-color: $setting-color-white;
                margin: 0 rem(10) 0;
                position: relative;
                border-bottom-right-radius: rem(35);
                border-top-right-radius: rem(35);
                border-top-left-radius: rem(35);
                border-bottom-left-radius: rem(35);
                min-width: 40%;

                @include helper-breakpoint-media-min($md-min){
                    min-width: 90%;
                }

                .message {
                    width: rem(190);
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    top: rem(-60);
                    padding: rem(10);
                    background-color:#7b7b7b;
                    font-family: $setting-font-family-additional;
                    color: #fff;
                    z-index: 1;

                    &.is-hidden {
                        display: none !important;
                    }

                    .checkmark {
                        position: relative;
                        top: -4px;
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 22px;
                        width: 11px;
                        border-bottom: 2px solid $setting-color-globus-white;
                        border-right: 2px solid $setting-color-globus-white;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 48%;
                        margin-left: -5px;
                        border-top: 19px solid $setting-color-globus-darkGray-2;
                        border-bottom: 19px solid transparent;
                        border-right: 8px solid transparent;
                        border-left: 8px solid transparent;
                    }
                }

                .message-cz {
                    font-size: rem(12);
                    font-family: $setting-font-family-additional;
                }

                .txt-product-quantity {
                    font-family: $setting-font-family-additional;
                    width: 60%;
                    text-align: center;
                    outline: none;
                    border: none;

                    @include helper-breakpoint-media-max($sm-max) {
                        padding-left: 0;
                        width: rem(40);
                        margin: 0;
                    }
                }

                .js-ajax-change-quantity__link {
                    display: inline-block;
                    text-align: center;
                    font-size: rem(16);
                    padding: rem(5) rem(10);
                    text-decoration: none;

                    @include helper-breakpoint-media-max($sm-max) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: rem(40);

                    }

                    &.js-quantity-counter-product__decr {
                        width: rem(40);
                        border: rem(2) solid $setting-color-fresh-orange;
                        color: $setting-color-fresh-orange;
                        background-color: $setting-color-white;
                        border-radius: 100%;
                        transition-duration: 0.25s;
                        &:hover {
                            color:$setting-color-forest-green;
                            border: rem(2) solid $setting-color-forest-green;
                        }
                    }

                    &.js-quantity-counter-product__incr {
                        width: rem(40);
                        border: rem(2) solid $setting-color-fresh-orange;
                        color: $setting-color-fresh-orange;
                        background-color: $setting-color-white;
                        border-radius: 100%;
                        transition-duration: 0.25s;
                        &:hover {
                            color:$setting-color-forest-green;
                            border: rem(2) solid $setting-color-forest-green;
                        }
                    }

                    @include helper-breakpoint-media-max($sm-max) {
                        height: auto;
                        margin: 0;
                    }
                }
            }

        }
        .add-details-to-cart-text-holder{
            @include helper-breakpoint-media-max($sm-max) {
                font-size:rem(12)
            }
        }
        &__info-more{
            color: $setting-color-light-tentgray-4;
            font-weight: 400;
            padding-top: rem(5);
            font-size: rem(14);
            margin: 0 rem(8) 0;
        }

        &__uvp {
            position: absolute;
            right: rem(48);
            margin-top: rem(20.32);
            font-size: rem(12);

            @include helper-breakpoint-media-max($md-min) {
                right: rem(60.8);
            }
        }

        &__amount{
            font-family: $setting-font-family-additional;
            padding: 0 rem(10);
            font-weight: 700;
            font-size: rem(20);
        }

        &__amount--original{
            text-decoration: line-through;
            text-decoration-color: $setting-color-red-tomato;
            font-size: rem(12);
            font-weight: 400;
            position: relative;
            top: rem(16);
            display: flex;
            margin-top: rem(5);
            justify-content: flex-end;
            min-height: rem(30);
            color: $setting-color-tentgray;



            @include helper-breakpoint-media-max($sm-max){
                margin-right: rem(12);
            }
        }

        &__amount-red{
            color: $setting-color-red-tomato;
            display: flex;
            justify-content: flex-end;
            font-size: rem(30);
            @include helper-breakpoint-media-max($sm-max){
                margin-bottom: rem(0);
            }
        }

        &__record-product-container {

            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
            }
        }

        &__record-product-info {
            display: flex;
            flex-direction: column;
            padding: 0 rem(5);
            flex-grow: 1;
            position: relative;
            top: rem(30);

            @include helper-breakpoint-media-max($sm-max) {
                padding-top: 0;
                padding-bottom: 0;
                margin-top: -29%;
                margin-left: 29%;
            }

            @include helper-breakpoint-media-min($sm-max) {
                min-height: rem(115);
            }
        }

        &__record-product-brand {
            color: $setting-color-light-tentgray-4;
            font-weight: 700;
            font-size: rem(14);
            margin: 0 rem(8) rem(4);
        }

        &__record-product-name{
            cursor: pointer;
            text-decoration: none;
            font-weight: 700;
            font-size: rem(20);
            color: $setting-color-tentgray;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 rem(8) 0;

            &:hover {
                color: $setting-color-fresh-orange;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max){
                font-size: rem(17.6);
                margin: 0 rem(8) 0;
            }
        }

        &__sale-volume {
            color: $setting-color-globus-darkGray;
        }

        .money-price {
            display: flex;
            justify-content: flex-end;
            @include helper-breakpoint-media-max($sm-max) {
                margin-top: rem(15);
            }

            .money-price__amount{
                font-size: rem(20);
                margin-bottom: rem(17);
                @include helper-breakpoint-media-max($sm-max) {
                   margin-bottom: rem(0);
                }
            }
        }

        .icon-basketplus {
            font-size: rem(18);
            margin-right: rem(10);
            @include helper-breakpoint-media-max($sm-max){
                margin: rem(0);
            }
        }

        .pagingSmall {

            @include helper-breakpoint-media-max($sm-max){
                display: flex;
                justify-content: center;
                margin: rem(25) auto;
            }
        }

    }
}

@include record-list();

