@mixin record-list($name: '.record-list') {
    #{$name} {

        ff-record-list {
            width: 100%;
        }

        .ff-record-item {
            padding: rem(10);
            z-index: 0;
            margin: rem(5);
            max-width: 23%;
            transition: 0.5s;
            transition-timing-function: ease-in;
            box-shadow: 0 0 rem(20) $setting-color-lightest;
            height: 100%;
            color: $setting-color-black;
            background: $setting-color-white;
            padding-bottom: rem(14);
            border-radius: rem(2);
            border: rem(1) solid $setting-color-gray-1;

            @include helper-breakpoint-media-max($sm-max){
               min-width: 100%;
            }
            @include helper-breakpoint-media-between($md-min, $md-max){
                min-width: 29%;
                margin: rem(10);
            }
        }

        ff-record {
            padding: rem(10);
            margin-bottom: rem(30);
            @include helper-breakpoint-media-max($md-max){
                margin: rem(21);
            }
            @include helper-breakpoint-media-max($sm-max){
                margin: rem(0);
            }
        }

        &__record-item{
            position: relative;
            padding: rem(0) rem(5) rem(30);
            z-index: 0;
            transition: 0.5s;
            transition-timing-function: ease-in;
            box-shadow: 0 0 rem(20) $setting-color-lightest;

        }
        .myBtn{
            justify-content: center;
            min-width: 100%;
            font-size: rem(11);
            @include helper-breakpoint-media-max($sm-max){
                margin-top: rem(12);
                min-width: 10%;
                font-size: rem(22);
                margin-left: rem(20);
            }
        }

        &__container{
            padding-left: 0;
            margin-top: rem(20);
        }

        &__divider{
            @include helper-breakpoint-media-max($sm-max) {
                border-top: 1px solid $setting-color-gray-1;
                margin-left: rem(-10);
                margin-right: rem(-10);
            }
        }

        &__labelDiscount{
            background-color: $setting-color-globus-red;
            padding: rem(2) rem(9);
            position: absolute;
            bottom: auto;
            font-size: rem(14);
            color: $setting-color-globus-lightGray;
            pointer-events: none;
            border-radius: 3px;
            font-family: Fira Sans,Open Sans,Arial,Lucida Grande,sans-serif;
        }

        .lazy-thumbnail{
            @include  helper-breakpoint-media-max($sm-max){
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: rem(71);
            }
        }

        .js-lazy-image__content {
            right: 100%;
        }

        .lazy-thumbnail__image {
            @include  helper-breakpoint-media-min($sm-max){
                position: static;
            }

        }

        &__add-to-cart-btn {
            display: block;
            margin: auto;
            text-align: center;
            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                justify-content: end;
                align-items: center;

                .button_center_align {
                    margin-top: 0;
                }
            }

            .change-cart-counter {
                display: flex;
                justify-content: space-evenly;
                border: 1px solid $setting-color-lightest;
                border-radius: 5px;
                margin-left: rem(10);
                margin-right: 0;
                position: relative;

                .message {
                    width: 190px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    top: -60px;
                    padding: 10px;
                    background-color:#7b7b7b;
                    color: #fff;
                    z-index: 1;

                    &.is-hidden {
                        display: none !important;
                    }

                    .checkmark {
                        position: relative;
                        top: -4px;
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 22px;
                        width: 11px;
                        border-bottom: 2px solid $setting-color-globus-white;
                        border-right: 2px solid $setting-color-globus-white;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 48%;
                        margin-left: -5px;
                        border-top: 19px solid $setting-color-globus-darkGray-2;
                        border-bottom: 19px solid transparent;
                        border-right: 8px solid transparent;
                        border-left: 8px solid transparent;
                    }
                }

                .message-cz {
                    font-size: 12px;
                }

                .txt-product-quantity {
                    width: 60%;
                    text-align: center;
                    outline: none;
                    border: none;

                    @include helper-breakpoint-media-max($sm-max) {
                        padding-left: 0;
                        width: 40px;
                        margin: 0;
                    }
                }

                .js-ajax-change-quantity__link {
                    background: $setting-color-lightest;
                    display: inline-block;
                    text-align: center;
                    font-size: 16px;
                    padding: 5px 10px;
                    text-decoration: none;

                    @include helper-breakpoint-media-max($sm-max) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: rem(40);

                    }

                    &.js-quantity-counter-product__decr {
                        width: 40px;
                        border-right: 1px solid $setting-color-lightest;
                        color: $setting-color-globus-darkGreen;
                        border-radius: 5px;
                        transition-duration: 0.25s;
                        &:hover {
                            color:$setting-color-globus-darkGreen;
                            background-color: $setting-color-globus-lightGreen-2;
                        }
                    }
                    &.js-quantity-counter-product__incr {
                        width: 40px;
                        border-left: 1px solid $setting-color-lightest;
                        background-color: $setting-color-globus-darkGreen;
                        color: $setting-color-globus-white;
                        border-radius: 5px;
                        transition-duration: 0.25s;
                        &:hover {
                            color:$setting-color-globus-darkGreen;
                            background-color: $setting-color-globus-lightGreen-2;
                        }
                    }

                    @include helper-breakpoint-media-max($sm-max) {
                        height: auto;
                        margin: 0;
                    }
                }
            }

        }
        .add-details-to-cart-text-holder{
            @include helper-breakpoint-media-max($sm-max) {
                display: none;

            }
        }
        &__info-more{
            display: flex;
            margin-top: rem(-26);
            color: #71747c;
            @include helper-breakpoint-media-max($sm-max) {
                margin-left: rem(109);

            }


        }
        &__amount--original{
            text-decoration: line-through;
            display: flex;
            font-family: $setting-font-family-additional;
            margin-top: rem(25);
            justify-content: flex-end;
            min-height: rem(23);
            @include helper-breakpoint-media-max($sm-max){
                margin-right: rem(12);

            }

        }
        &__amount-red{
            color: $setting-color-globus-red;
            display: flex;
            justify-content: flex-end;
            font-size: rem(23);
            font-family: $setting-font-family-additional;
            margin-bottom: rem(15);
            @include helper-breakpoint-media-max($sm-max){
                margin-bottom: rem(0);
            }
        }

        &__record-product-name{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            margin-bottom: rem(35);
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: rem(60);
            font-weight: 600;
            font-size: rem(16);

            @include helper-breakpoint-media-max($md-min){
                margin-left: rem(110);
                margin-top: rem(-60);
            }
        }

        &__sale-volume {
            color: $setting-color-globus-darkGray;
        }

        .money-price {
            display: flex;
            justify-content: flex-end;
            @include helper-breakpoint-media-max($sm-max) {
                margin-top: rem(15);
            }

            .money-price__amount{
                font-size: rem(20);
                margin-bottom: rem(17);
                @include helper-breakpoint-media-max($sm-max) {
                   margin-bottom: rem(0);
                }
            }
        }

        .icon-basketplus {
            font-size: rem(18);
            margin-right: rem(10);
            @include helper-breakpoint-media-max($sm-max){
                margin: rem(0);
            }
        }

        .pagingSmall {

            @include helper-breakpoint-media-max($sm-max){
                display: flex;
                justify-content: center;
                margin: rem(25) auto;
            }
        }

    }
}

@include record-list();

