@mixin searchbox($name: '.searchbox') {
    #{$name} {
        &__input {
            border-radius: rem(0) rem(30) rem(30) rem(0);
            border-color: transparent;
            background-color: $setting-color-light-tentgray-3;
            color: $setting-color-tentgray;
            font-family:  $setting-font-family-additional;
            font-size: rem(12);
            width: 100%;
            margin: 0;
        }

        &__clear {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            border-top-right-radius: rem(24);
            background: none;
            padding-right: rem(16);
            z-index: $setting-zi-navigation-top;

            @include helper-breakpoint-media-max($sm-max) {
                right: rem(40);
            }
        }

        &__submit {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background: none;
            width: rem(35);
            z-index: $setting-zi-navigation-top;
            cursor: pointer;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@include searchbox();
