{% extends model('component') %}

{% define config = {
    name: 'search-headline',
    tag: 'search-headline',
} %}

{% define data = {
    headline: '',
    searchString: '',
    pagination: '',
} %}

{% block body %}
    <!-- search-headline.twig -->
    <div class="grid box grid--center">
        <div class="col col--sm-12 d-flex flex-center">
            <h1 class="spacing-bottom spacing-bottom--inner">{{ data.headline }} {{ data.searchString }}</h1>
            <span class="m-left-m m-bottom-xs text-grey font-weight-500" id="searchResultCount" data-text="{{ 'catalog.itemsFound' | trans }}">
                {% if app.currentCodeBucket == 'DE' %}

                {% else %}
                    {{ 'catalog.itemsFound' | trans({ '%numFound%': data.pagination.numFound }) }}
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}
