{% extends model('component') %}

{% define config = {
    name: 'search-headline',
} %}

{% define data = {
    headline: '',
    searchString: '',
    pagination: '',
} %}

{% block body %}
    <div class="grid box grid--center">
        <div class="col col--sm-12 d-flex flex-center">
            <h1 class="spacing-bottom spacing-bottom--inner">{{ data.headline }} {{ data.searchString }}</h1>
            <span class="m-left-m text-grey font-weight-500">
                {{ 'catalog.itemsFound' | trans({ '%numFound%': data.pagination.numFound }) }}
            </span>
        </div>

    </div>
{% endblock %}
