@include shop-ui-icon {

    color: $setting-color-tentgray;

    &--xsmall {
        width: rem(8);
        height: rem(8);
    }

    &--error {
        fill: $setting-color-white;
    }

    &--not-found-arrow {
        color: white;
    }

    &--inherit {
        display: block;
        width: inherit;
        height: inherit;
    }

    &--with-stroke {
        stroke: currentColor;
    }

    &--user-acc-cz {
        fill: $setting-color-globusCZ-main-green;
    }

    &--user-acc-de {
        fill: $setting-color-fresh-orange;
    }

    &--error {
        fill: $setting-color-globus-white;
    }

    &--medium {
        width: rem(10);
        height: rem(10);
    }

    &--medium-up {
        width: rem(20);
        height: rem(20);
    }

    &--close-filter {
        position: absolute;
        right: rem(10);
        top: 50%;
        transform: translateY(-50%);
    }

    &--secondary {
        width: rem(12);
        height: rem(12);
    }

    &--thumbnail-arrow {
        display: block;
        width: 100%;
        height: rem(6);
        color: $setting-color-black;
    }

    &--reverse {
        transform: rotate(180deg);
    }

    &--checkout-success {
        margin-top: rem(-2);
    }

    &--to-cart {
        margin-top: rem(-1);
    }

    &--visa {
        width: rem(32);
        height: rem(10);
    }

    &--mastercard {
        width: rem(26);
        height: rem(20);
    }

    &--paypal {
        width: rem(41);
        height: rem(11);
    }

    &--klarna {
        width: rem(40);
        height: rem(11);
    }

    &--record-list-new-cart {
        margin-right: 10px;
        margin-bottom: 2px;
        @include helper-breakpoint-media-max($sm-max) {
            display: none;
        }
    }

    &--dhl {
        width: rem(64);
        height: rem(8);
    }

    &--hermes {
        width: rem(68);
        height: rem(9);
    }

    &--arrow {
        width: rem(11);
        height: rem(11);
        color: $setting-color-black;

        @include helper-breakpoint-media-min($xl-min) {
            width: rem(12);
            height: rem(12);
        }
    }

    &--send {
        width: rem(6);
        height: rem(9);
    }

    &--header {
        color: $setting-color-white;
        margin-left: rem(20);
        width: rem(25) !important;
        height: rem(25) !important;
        margin-right: 0;
        @include helper-breakpoint-media-max($lg-max) {
            margin-left: rem(10);
        }

        @include helper-breakpoint-media-max($sm-max) {
            margin-left: rem(20);
        }
    }

    &--grid {
        stroke: currentColor;
    }

    &--panel-info {
        width: rem(12);
        height: rem(9);
        margin-right: rem(3);
    }

    &--user-side-drawer {
        display: block;
        width: rem(23);
        height: rem(20);
        margin: 0 rem(16) 0 rem(14);
    }

    &--light {
        color: $setting-color-white;
    }

    &--dark {
        color: $setting-color-black;
    }

    &--social-footer {
        width: rem(20);
        height: rem(20);
    }

    &--secure {
        width: rem(20);
        height: rem(20);
        flex-shrink: 0;

        @include helper-breakpoint-media-min($lg-min) {
            width: rem(24);
            height: rem(24);
        }
    }

    &--copyright {
        width: rem(106);
        height: rem(48);
    }

    &--contact {
        color: $setting-color-white;
    }

    &--lightOrange {
        color: $setting-color-fresh-orange;

        @include helper-breakpoint-media-max($sm-max) {
            width: rem(30);
            height: rem(30);
        }
    }

    &--magnifier {
        width: rem(12);
        height: rem(13);
        cursor: pointer;
    }

    &--clear-x {
        height: rem(12);
        cursor: pointer;
    }

    &__cart-header {
        color: $setting-color-forest-green;
    }

    &--color-orange {
        color: $setting-color-fresh-orange;
        width: rem(20);
        height: rem(20);

        @include helper-breakpoint-media-max($sm-max) {
            width: rem(30);
            height: rem(30);
        }

        &-search{
            color: $setting-color-globus-darkGray-2;
            width: rem(18);
            height: rem(18);
        }
    }

    &--color-green {
        color: $setting-color-globusCZ-main-green;
        width: rem(20);
        height: rem(20);

        @include helper-breakpoint-media-max($sm-max) {
            width: rem(30);
            height: rem(30);
        }
    }

    &--color-black {
        color: $setting-color-globus-black;
    }

    &--gray-trash-icon {
        width: rem(10);
        height: rem(18);
        margin-bottom: rem(6);
    }

    &--dark-bin {
        width: rem(12);
        height: rem(22);
        margin-bottom: rem(6);
    }
}
