$setting-item-border-radius: rem(8);

@mixin picker-order-item($name: '.order-item-abholung') {
    #{$name} {
        margin-bottom: rem(8);

        &__header-content {
            .icon-substitution {
                float: right;
            }
        }

        &__header-content-inner {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(8) rem(16) 0 rem(16);
            }
        }

        &__container-number {
            background-color: $setting-color-gray-3;
            padding: rem(8) rem(16);
            margin-left: rem(10);
            border-radius: rem(10);
        }


        .greenIcon{
            float: right;
            margin-right: rem(4);
        }

        &--picked {
            #{$name} {
                &__left-col,
                &__right-col {
                    width: 50%;
                    min-width: 50%;
                }

                &__time {
                    padding-top: rem(3);
                    color: black;
                }
            }
        }

        &--expanded {
            #{$name} {
                &__time {
                    padding-bottom: rem(4);
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        &__time-padding {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(8) rem(16) 0 rem(16) !important;
            }
        }

        &__holder, &__time-and-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__holder {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(8) rem(8) 0 rem(16);
            }
        }

        &__queued-time {
            color: $setting-color-pickingApp-darkerGreen;
            font-size: rem(18);
            font-weight: bold;
        }

        &__content {
            &::after {
                display: none;
            }
        }

        &__bottom-info {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(8) rem(16) rem(8) rem(16);
            }
        }

        &__left-col,
        &__right-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__left-col {
            max-width: 45%;
        }

        &__right-col {
            padding-left: rem(8);
            max-width: 55%;
        }

        &__time {
            padding: 0 0 rem(12);
            line-height: rem(25);
            color: $setting-color-gray-11;
            font-weight: fw(medium);

            span {
                margin-left: rem(5);
            }
        }

        &__details-time {
            @include helper-breakpoint-media-max($sm-max) {
                padding: 0;
            }
        }

        &__customer-info {
            display: flex;
            justify-content: space-between;
            font-weight: fw(medium);
        }

        &__customer-info-details {
            p {
                @include helper-breakpoint-media-max($sm-max) {
                    margin: 0;
                }
            }
        }

        &__order-reference {
            padding: rem(12) 0 rem(12);
            line-height: rem(25);
            font-size: rem(20);
            color: $setting-color-orange-font;

            @include helper-breakpoint-media-max($sm-max) {
                padding: 0;
            }
        }

        &__collect {
            color: $setting-color-pickingApp-darkerGreen;
            font-size: rem(20);
        }

        &__products {
            margin-top: auto;
            padding-bottom: rem(3);
        }

        &__id {
            padding: rem(3) rem(5) rem(5);
            font-weight: bold;
        }

        &__name {
            color: $setting-color-gray-11;
        }

        .hr-line-solid {
            border-bottom: rem(1) solid $setting-color-black;
            background-color: rgba(0, 0, 0, 0);
            border-style: solid !important;
        }

        &__hr-line{
            margin-top: rem(5);
            margin-bottom: rem(5);
        }

        .box {
            @include helper-breakpoint-media-max($sm-max) {
                padding: 0;
                border-radius: rem(8);
            }
        }

        &__pickup {
            cursor: pointer;
        }

        &__pickup-alert{
            background-color: rgba(255, 0, 0, 0.2);
            @include helper-breakpoint-media-max($sm-max) {
                background-color: rgba(255, 0, 0, 0.2);
            }
        }

        &__pickup-in-queue{
            background-color: rgba(95, 219, 139, 0.2);
            @include helper-breakpoint-media-max($sm-max) {
                background-color: rgba(95, 219, 139, 0.2);
            }
        }

        .box__bottom {
            @include helper-breakpoint-media-max($sm-max) {
                margin: rem(16) 0 0;
            }
        }

        .details-middle-page {
            @include helper-breakpoint-media-max($sm-max) {
                padding: 0 rem(16);
            }
        }
    }
}

@include picker-order-item();
