$setting-item-border-radius: rem(8);

@mixin picker-order-item($name: '.order-item') {
    #{$name} {
        margin-bottom: rem(8);

        .header-content {
            .icon-substitution {
                float: right;
            }
        }

        &--picked {
            #{$name} {
                &__left-col,
                &__right-col {
                    width: 50%;
                    min-width: 50%;
                }

                &__time {
                    padding-top: rem(3);
                    color: black;
                }
            }
        }

        &--expanded {
            #{$name} {
                &__time {
                    padding-bottom: rem(4);
                }
            }
        }

        &__content {
            &::after {
                display: none;
            }
        }

        &__left-col,
        &__right-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__left-col {
            max-width: 45%;
        }

        &__right-col {
            padding-left: rem(8);
            max-width: 55%;
        }

        &__time {
            padding: 0 0 rem(12);
            line-height: rem(25);
            color: $setting-color-gray-11;
        }

        &__collect {
            color: $setting-color-pickingApp-darkerGreen;
            font-size: rem(20);
        }

        &__products {
            margin-top: auto;
            padding-bottom: rem(3);
        }

        &__id {
            padding: rem(3) rem(5) rem(5);
            font-weight: bold;
        }

        &__name
        {
            color: $setting-color-gray-11;
        }

        .hr-line-solid {
            border-bottom: 1px solid black;
            background-color: rgba(0, 0, 0, 0);
            border-style: solid !important;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
}

@include picker-order-item();
