@mixin shop-ui-navigation-top-mobile ($name: '.navigation-top-mobile') {
    #{$name} {

        @include helper-breakpoint-media-max($lg-max) {
            width: 100%;
        }

        @include helper-breakpoint-media-max($sm-max) {
            width: 90%;
        }

        &__top-grid {
            display: flex;
            justify-content: flex-end;

            @include helper-breakpoint-media-min($xs-max) {
                justify-content: space-between;
            }

            .test {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                .navigation-top-mobile-item {
                    margin-right: rem(5);
                    text-align: center;

                    @include helper-breakpoint-media-min($md-min) {
                        width: 20%;
                    }

                }
            }

        }

        nav {
           ul {
               @include helper-breakpoint-media-max($lg-max){
                   align-items: center;
                   display:flex;
                   flex-flow: row;
               }
           }

           .my-market-title {
               display: none;
           }

           .store-widget-holder {

               select {
                   max-width: 30vw
               }

               @include helper-breakpoint-media-max($lg-max) {
                   margin-right: rem(150);
               }

               @include helper-breakpoint-media-max($md-max) {
                   margin-right: 0;
               }

               .custom-select__select--header, .custom-select-cz__select--header{
                   color: #71747c !important;
                   background: #f7f7f7;
                   border:none !important;
                   padding: 0 1.125rem 0 0.6875rem !important;

                   @include helper-breakpoint-media-max($lg-max) {
                       background: #ffffff;
                   }
               }

               .store-switcher {
                   @include helper-breakpoint-media-max($sm-max) {
                       margin-top:5px;
                   }
               }
           }

           @include helper-breakpoint-media-max($sm-max) {
               margin-left:0;
           }
       }
        &__shop-info {
            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                flex-flow: row;
            }
        }
    }
}

@include shop-ui-navigation-top-mobile();
