@mixin navigation-widget-navigation-category($name: '.navigation-category') {
    #{$name} {
        @include helper-effect-transition(transform box-shadow);
        font-family: $setting-font-family-additional;
        display: flex;
        align-items: start;
        height: rem(130);
        padding: rem(15) rem(120) rem(15) rem(20);
        overflow: hidden;
        font-size: rem(16);
        font-weight: fw(semibold);
        color: $setting-color-tentgray;
        text-decoration: none;
        background: $setting-color-white;
        border-radius: rem(4);
        position: relative;

        @include helper-breakpoint-media-min($lg-max) {
            height: rem(230);
        }

        &:hover {
            color: $setting-color-black;
            transform: translateY(#{rem(-2)});
            box-shadow: 0 rem(2) rem(16) $setting-color-alpha-12;
        }

        &__container {
            display: block;
            width: 100%;
            max-width: rem(1180);
            margin: auto;
        }

        &__full-width {
            @include helper-breakpoint-media-max($lg-max) {
                width: 100%;
            }
        }
        &__white {
            background-color: white;
        }

        &__gray-container {
            background-color: $setting-color-stonegray;
        }

        &__white-container {
            max-width: rem(1204);
            margin: auto;
            justify-content: center;
            width: 100%;
            background-color: $setting-color-white;
        }

        &__title {
            font-family: $setting-font-family-additional;
            color: $setting-color-tentgray;
            font-size: rem(20);
            display: flex;
            flex-flow: column;
            height: 100%;
            justify-content: space-between;
            padding-left: 0;

            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(18);
            }
        }



        &__title-main {
            font-family: $setting-font-family-additional;
            color: $setting-color-tentgray;
            display: flex;
            flex-flow: column;
            height: 100%;
            justify-content: space-between;
            font-size: rem(20);
            padding-top: rem(20);

            @include helper-breakpoint-media-max($sm-max){
                padding-top: rem(30);
                padding-left: rem(20);
            }

            @include helper-breakpoint-media-max($xxl-min) {
                padding-left: rem(20);
            }

        }

        &__browse-button {
            color: $setting-color-white;
            background-color: $setting-color-fresh-orange;
            width: fit-content;
            text-align: center;
            border-radius: rem(30);
            padding: rem(5);
            font-size: rem(14);
        }

        &__browse-button-CZ {
            color: $setting-color-white;
            background-color: $setting-color-forest-green;
            width: fit-content;
            text-align: center;
            border-radius: rem(30);
            padding: rem(5);
            font-size: rem(14);
        }

        &__curved-top {
            display: block;
            box-sizing: border-box;
            height: rem(70);
            margin-bottom: rem(-25);
            background-color: $setting-color-white;
            clip-path: ellipse(66% 100% at 50% 0%);
        }

        &__curved-bottom {
            display: block;
            box-sizing: border-box;
            height: rem(50);
            background-color: $setting-color-stonegray;
            margin-bottom: rem(-25);
            clip-path: ellipse(60% 100% at 50% 0%);
        }

        &__image {
            position: absolute;
            bottom: rem(-6);
            right: 0;
            width: 50%;
            height: 100%;
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;

            @for $i from 1 through 10 {
                &.category-#{$i} {
                    background-image: url('../images/popular-#{$i}.png');
                }

                @if $i == 3 {
                    background-position: right;
                }
            }

            &.category-11
            {
                background-image: url("../images/categoryimages_home_1_obst_gemuese_new.png");
            }

            &.category-12
            {
                background-image: url("../images/categoryimages_home_2_frische_produkte_new.png");
            }

            &.category-13
            {
                background-image: url("../images/categoryimages_home_3_vorratsschrank_new.png");
            }

            &.category-14
            {
                background-image: url("../images/categoryimages_home_4_getraenke_new.png");
            }

            &.category-15
            {
                background-image: url("../images/categoryimages_home_5_fisch_fleisch_new.png");
            }

            &.category-16
            {
                background-image: url("../images/categoryimages_home_6_tiefkuehl_new.png");
            }

            &.category-17
            {
                background-image: url("../images/categoryimages_home_7_baby_schwangerschaft.png");
            }

            &.category-18
            {
                background-image: url("../images/categoryimages_home_8_kosmetik.png");
            }

            &.category-19
            {
                background-image: url("../images/categoryimages_home_9_haushalt.png");
            }

            &.category-20
            {
                background-image: url("../images/Ovoce_a_zelenina.png");
            }

            &.category-21
            {
                background-image: url("../images/Mlecne_a_chlazene.png");
            }

            &.category-22
            {
                background-image: url("../images/trvanlive_potraviny.png");
            }

            &.category-23
            {
                background-image: url("../images/Napoje.png");
            }

            &.category-24
            {
                background-image: url("../images/Maso_a_ryby.png");
            }

            &.category-25
            {
                background-image: url("../images/mrazene_potraviny.png");
            }

            &.category-26
            {
                background-image: url("../images/Svet_deti.png");
            }

            &.category-27
            {
                background-image: url("../images/drogerie_a_kosmetika.png");
            }

            &.category-28
            {
                background-image: url("../images/Pekarna_a_cukrarna.png");
            }

        }
    }
}

@include navigation-widget-navigation-category();
