@mixin navigation-widget-navigation-category($name: '.navigation-category') {
    #{$name} {
        @include helper-effect-transition(transform box-shadow);
        display: flex;
        align-items: center;
        height: rem(130);
        padding: rem(15) rem(120) rem(15) rem(20);
        overflow: hidden;
        font-size: rem(16);
        font-weight: fw(semibold);
        color: $setting-color-black;
        text-decoration: none;
        background: $setting-color-white;
        border-radius: rem(4);
        position: relative;

        @include helper-breakpoint-media-min($l-max) {
            width: rem(370);
            height: rem(285);
        }

        &:hover {
            color: $setting-color-black;
            transform: translateY(#{rem(-2)});
            box-shadow: 0 rem(2) rem(16) $setting-color-alpha-12;
        }

        &__browse-button {
            font-family: $setting-font-family-additional;
            background-color: $setting-color-fresh-orange;
            height: fit-content;
            width: fit-content;
            color: $setting-color-white;
            align-items: center;
            border-radius: rem(30);
            padding: rem(10);
        }

        &__browse-button-CZ {
            background-color: $setting-color-forest-green;
            height: fit-content;
            width: fit-content;
            color: $setting-color-white;
            align-items: center;
            border-radius: rem(30);
            padding: rem(10);
        }

        &__title {
            font-size: rem(20);
        }

        &__category-title {
            margin-left: rem(20);
        }

        &__gray-container {
            background-color: $setting-color-stonegray;
            clip-path: ellipse(180% 100% at 50% 0%);

            @include helper-breakpoint-media-max($l-max) {
                clip-path: ellipse(300% 100% at 50% 0%);
            }
        }

        &__curved-top {
            display: block;
            box-sizing: border-box;
            height: rem(50);
            background-color: $setting-color-stonegray;
            clip-path: ellipse(75% 100% at 50% 0%);
        }

        &__container {
            max-width: rem(1204);
            margin: auto;

            @include helper-breakpoint-media-max($md-max) {
                margin-left: rem(20);
            }
        }

        &__homepage {
            max-width: rem(1204);
            margin: auto;
        }

        &__text {
            height:100%;
            text-align: start;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }

        &__image {
            position: absolute;
            bottom: rem(-6);
            right: 0;
            height: 80%;
            width: 50%;
            background-size: contain;
            background-position: left bottom;
            background-repeat: no-repeat;

            @include helper-breakpoint-media-max($l-max) {
                background-position: right;
            }

            @for $i from 1 through 10 {
                &.category-#{$i} {
                    background-image: url('../images/popular-#{$i}.png');
                }

                @if $i == 3 {
                    background-position: center bottom;
                }
            }

            &.category-11
            {
                background-image: url("../images/categoryimages_home_1_obst_gemuese_new.png");
            }

            &.category-12
            {
                background-image: url("../images/categoryimages_home_2_frische_produkte_new.png");
            }

            &.category-13
            {
                background-image: url("../images/categoryimages_home_3_vorratsschrank_new.png");
            }

            &.category-14
            {
                background-image: url("../images/categoryimages_home_4_getraenke_new.png");
            }

            &.category-15
            {
                background-image: url("../images/categoryimages_home_5_fisch_fleisch_new.png");
            }

            &.category-16
            {
                background-image: url("../images/categoryimages_home_6_tiefkuehl_new.png");
            }

            &.category-17
            {
                background-image: url("../images/categoryimages_home_7_baby_schwangerschaft.png");
            }

            &.category-18
            {
                background-image: url("../images/categoryimages_home_8_kosmetik.png");
            }

            &.category-19
            {
                background-image: url("../images/categoryimages_home_9_haushalt.png");
            }

            &.category-20
            {
                background-image: url("../images/Ovoce_a_zelenina.png");
            }

            &.category-21
            {
                background-image: url("../images/Mlecne_a_chlazene.png");
            }

            &.category-22
            {
                background-image: url("../images/trvanlive_potraviny.png");
            }

            &.category-23
            {
                background-image: url("../images/Napoje.png");
            }

            &.category-24
            {
                background-image: url("../images/Maso_a_ryby.png");
            }

            &.category-25
            {
                background-image: url("../images/mrazene_potraviny.png");
            }

            &.category-26
            {
                background-image: url("../images/Svet_deti.png");
            }

            &.category-27
            {
                background-image: url("../images/drogerie_a_kosmetika.png");
            }

            &.category-28
            {
                background-image: url("../images/Pekarna_a_cukrarna.png");
            }

        }
    }
}

@include navigation-widget-navigation-category();
