@mixin navigation-widget-navigation-category($name: '.navigation-category') {
    #{$name} {
        @include helper-effect-transition(transform box-shadow);
        display: flex;
        align-items: center;
        height: rem(130);
        padding: rem(15) rem(120) rem(15) rem(20);
        overflow: hidden;
        font-size: rem(16);
        font-weight: fw(semibold);
        color: $setting-color-black;
        text-decoration: none;
        background: $setting-color-gray-1;
        border-radius: rem(4);
        position: relative;

        &:hover {
            color: $setting-color-black;
            transform: translateY(#{rem(-2)});
            box-shadow: 0 rem(2) rem(16) $setting-color-alpha-12;
        }

        &__image {
            position: absolute;
            bottom: rem(-6);
            right: 0;
            height: 80%;
            width: rem(100);
            background-size: contain;
            background-position: left bottom;
            background-repeat: no-repeat;

            @for $i from 1 through 10 {
                &.category-#{$i} {
                    background-image: url('../images/popular-#{$i}.png');
                }

                @if $i == 3 {
                    background-position: center bottom;
                }
            }

            &.category-11
            {
                background-image: url("../images/categoryimages_home_1_obst_gemuese.png");
            }

            &.category-12
            {
                background-image: url("../images/categoryimages_home_2_frische_produkte.png");
            }

            &.category-13
            {
                background-image: url("../images/categoryimages_home_3_vorratsschrank.png");
            }

            &.category-14
            {
                background-image: url("../images/categoryimages_home_4_getraenke.png");
            }

            &.category-15
            {
                background-image: url("../images/categoryimages_home_5_fisch_fleisch.png");
            }

            &.category-16
            {
                background-image: url("../images/categoryimages_home_6_tiefkuehl.png");
            }

            &.category-17
            {
                background-image: url("../images/categoryimages_home_7_baby_schwangerschaft.png");
            }

            &.category-18
            {
                background-image: url("../images/categoryimages_home_8_kosmetik.png");
            }

            &.category-19
            {
                background-image: url("../images/categoryimages_home_9_haushalt.png");
            }

            &.category-20
            {
                background-image: url("../images/Ovoce_a_zelenina.png");
            }

            &.category-21
            {
                background-image: url("../images/Mlecne_a_chlazene.png");
            }

            &.category-22
            {
                background-image: url("../images/trvanlive_potraviny.png");
            }

            &.category-23
            {
                background-image: url("../images/Napoje.png");
            }

            &.category-24
            {
                background-image: url("../images/Maso_a_ryby.png");
            }

            &.category-25
            {
                background-image: url("../images/mrazene_potraviny.png");
            }

            &.category-26
            {
                background-image: url("../images/Svet_deti.png");
            }

            &.category-27
            {
                background-image: url("../images/drogerie_a_kosmetika.png");
            }

            &.category-28
            {
                background-image: url("../images/Pekarna_a_cukrarna.png");
            }

        }
    }
}

@include navigation-widget-navigation-category();
