{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,

    cart: _view.cart,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default,
    tags: _view.tags,
    vitamins: _view.vitamins,
    petCols: _view.petColumns,
    petRows: _view.petRows,
    rowData: _view.rowData,

    depositPrice: _view.depositPrice,
} %}

{% block headStyles %}
    {{ parent() }}
    <link itemprop="url" href="{{ data.productUrl }}">
{% endblock %}

{% block pageInfo %}
    <div class="container__inner">
        {% block breadcrumbs %}
            {% widget 'ProductBreadcrumbsWithCategoriesWidget' args [data.product] only %}{% endwidget %}
        {% endblock %}
    </div>
{% endblock %}

{% block contentClass %} page-layout-main page-layout-main--pdp{% endblock %}

{% block content %}
    <div class="container__inner">
        <div class="grid grid--indent">
            <div class="col col--spaced-lg col--sm-12 col--lg-6">
                {% include molecule('product-carousel', 'ProductDetailPage') with {
                    class: 'col page-layout-main__content-pdp',
                    data: {
                        product: data.product,
                    },
                } only %}
            </div>

            <div class="col col--spaced-lg col--sm-12 col--lg-6">
                {% include molecule('product-configurator', 'ProductDetailPage') with {
                    data: {
                        product: data.product,
                        tags: data.tags,
                        depositPrice: data.depositPrice,
                    },
                } only %}
            </div>
        </div>
    </div>

    {% widget 'ProductAlternativeListWidget' args [data.product] only %}{% endwidget %}

    <div class="grid grid--indent">
        <div class="col col--spaced-lg col--sm-12 col--lg-12">
            <div class="container__inner">

                {% include molecule('product-detail', 'ProductDetailPage') with {
                    data: {
                        description: data.product.description,
                        attributes: data.product.attributes,
                        sku: data.product.sku,
                        vitamins: data.vitamins,
                        isNutritionalInformationContainsReferenceAmount: data.product.nutritionalInformationContainsReferenceAmount,
                        isAdditionalProductInformationShown: data.product.additionalProductInformationIsShown,
                    },
                } only %}

                 {% if data.product.attributes.zutaten is defined or data.product.attributes.entallerg is defined %}
                    {% include molecule('ingredients-and-allergens', 'ProductDetailPage') with {
                        data: {
                            productAttributes: data.product.attributes
                        },
                    } only %}
                {% endif %}

                {% if data.product.attributes.energiekcalp100gml is defined and data.product.nutritionalInformationContainsReferenceAmount is defined%}
                    {% include molecule('nutritional-information', 'ProductDetailPage') with {
                        data: {
                            attributes: data.product.attributes,
                            isNutritionalInformationContainsReferenceAmount: data.product.nutritionalInformationContainsReferenceAmount
                        },
                    } only %}
                {% endif %}

                {% if data.product.attributes.verwendungshinweise is defined or data.product.attributes.warnhinweise is defined %}
                    {% include molecule('warnings-and-usage-info', 'ProductDetailPage') with {
                        data: {
                            productAttributes: data.product.attributes,
                        },
                    } only %}
                {% endif %}

                {% if data.product.attributes.pet_feeding_table is defined %}
                    {% include molecule('pet-feeding-table', 'ProductDetailPage') with {
                        data: {
                            attributes: data.product.attributes,
                            petColumns: data.petCols,
                            petRows: data.petRows,
                            rowData: data.rowData,
                        },
                    } only %}
                {% endif %}

                {% include molecule('additional-product-information', 'ProductDetailPage') with {
                    data: {
                        productAttributes: data.product.attributes,
                        product: data.product
                    },
                } only %}

            </div>
        </div>
    </div>

    {% widget 'ProductReplacementForListWidget' args [data.product.sku] only %}{% endwidget %}

    <div class="container__inner">
        {% if data.product.productSetIds is not empty %}
            {% widget 'ProductSetIdsWidget' args [data.product.productSetIds] only %}{% endwidget %}
        {% endif %}
    </div>

    {% widget 'SimilarProductsWidget' args [data.product] only %}{% endwidget %}

    <div class="container__inner">
        {% embed molecule('product-cms-block', 'CmsBlockWidget') ignore missing with {
            data: {
                idProductAbstract: data.product.idProductAbstract,
            }
        } only %}
            {% block body %}
                {% cms_slot 'slt-7' required ['idProductAbstract'] with {
                    idProductAbstract: data.idProductAbstract,
                } %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
