{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,
    cart: _view.cart,
    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default,
    tags: _view.tags,
    vitamins: _view.vitamins,
    depositPrice: _view.depositPrice,
    preisProKg: _view.pricePerKg,
    characteristics: _view.characteristics,
    productAttributes: _view.product.attributes,
    currentCodeBucket: app.currentCodeBucket
} %}

{% define data = {
    product: required,
    maxQuantity: 10,
    isBundle: null,
    bundleItems: []

} %}
{% block headStyles %}
    {{ parent() }}
    <link itemprop="url" href="{{ data.productUrl }}">
{% endblock %}

{% block pageInfo %}
    <div class="container__inner">
        {% block breadcrumbs %}
            {% widget 'ProductBreadcrumbsWithCategoriesWidget' args [data.product] only %}{% endwidget %}
        {% endblock %}
    </div>
{% endblock %}

{% block contentClass %} page-layout-main page-layout-main--pdp{% endblock %}

{% block content %}
    {% if data.currentCodeBucket=='CZ' %}
        {% embed molecule('popup-age-confirmation') with {
        } only %}
        {% endembed %}

        {% if data.productAttributes.Altersempfehlung is defined %}
            <input type="hidden" id="age-restriction" value="{{ data.productAttributes.Altersempfehlung }}">
        {% else %}
            <input type="hidden" id="age-restriction" value="null">
        {% endif %}
    {% endif %}

    <div class="container__inner">
        <div class="grid grid--indent">
            <div class="col col--spaced-lg col--sm-12 col--lg-6">
                {% include molecule('product-carousel', 'ProductDetailPage') with {
                    class: 'col page-layout-main__content-pdp',
                    data: {
                        product: data.product,
                    },
                } only %}
            </div>

            <div class="col col--spaced-lg col--sm-12 col--lg-6">
                {% include molecule('product-configurator', 'ProductDetailPage') with {
                    data: {
                        product: data.product,
                        tags: data.tags,
                        depositPrice: data.depositPrice,
                        preisProKg: data.preisProKg,
                    },
                } only %}
            </div>
        </div>

        {% widget 'ProductAlternativeListWidget' args [data.product] only %}{% endwidget %}

        <div id="product-attributes-data" class="grid grid--indent" style="margin-top: 100px;">
            <div class="col col--spaced-lg col--sm-12 col--lg-12">
                <div class="container__inner">
                    {% if data.product.description is defined %}
                        {% embed molecule('toggler-item') with {
                            data: {
                                title: 'product.info.description' | trans,
                                triggerClass: 'product-description__trigger-bundle',
                                targetClass: 'product-description__target-bundle',
                                isActive: true,
                                productAttributes: data.product.attributes,
                                product: data.product
                            },
                            embed: {
                                bundleItems: data.bundleItems,
                            }
                        } only %}
                            {% block contentText %}
                                {% include molecule('product-description', 'ProductDetailPage') with {
                                    data: {
                                        productAttributes: data.product.attributes,
                                        zutatenText: _view.zutatenText,
                                        product: data.product
                                    },
                                } only %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}

                     {% if data.product.attributes.zutaten is defined or data.product.attributes.entallerg is defined %}
                         {% embed molecule('toggler-item') with {
                             data: {
                                 title: 'product.info.ingredients.and.allergens' | trans,
                                 triggerClass: 'ingredients-and-allergens__trigger-bundle',
                                 targetClass: 'ingredients-and-allergens__target-bundle',
                                 isActive: true,
                                 productAttributes: data.product.attributes,
                                 product: data.product
                             },
                             embed: {
                                 bundleItems: data.bundleItems,
                             }
                         } only %}
                             {% block contentText %}
                                 {% include molecule('ingredients-and-allergens', 'ProductDetailPage') with {
                                     data: {
                                         productAttributes: data.product.attributes,
                                         zutatenText: _view.zutatenText
                                     },
                                 } only %}
                             {% endblock %}
                         {% endembed %}
                    {% endif %}

                    {% if data.product.attributes.energiekcalp100gml is defined and data.product.nutritionalInformationContainsReferenceAmount is defined %}
                        {% embed molecule('toggler-item') with {
                            data: {
                                title: 'product.info.additional.nutritionalInfo' | trans,
                                triggerClass: 'nutritional-information__trigger-bundle',
                                targetClass: 'nutritional-information__target-bundle',
                                isActive: true,
                                productAttributes: data.product.attributes,
                                product: data.product
                            },
                            embed: {
                                bundleItems: data.bundleItems,
                            }
                        } only %}
                            {% block contentText %}
                                {% include molecule('nutritional-information', 'ProductDetailPage') with {
                                    data: {
                                        attributes: data.product.attributes,
                                        isNutritionalInformationContainsReferenceAmount: data.product.nutritionalInformationContainsReferenceAmount
                                    },
                                } only %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}

                    {% if data.product.attributes.warnhinweise is defined or data.product.attributes.verwendungshinweise is defined %}
                        {% embed molecule('toggler-item') with {
                            data: {
                                title: 'product.info.description.warning.usage.notes' | trans,
                                triggerClass: 'warning-and-notes__trigger-bundle',
                                targetClass: 'warning-and-notes__target-bundle',
                                isActive: true,
                                productAttributes: data.product.attributes,
                                product: data.product
                            },
                            embed: {
                                bundleItems: data.bundleItems,
                            }
                        } only %}
                            {% block contentText %}
                                {% include molecule('warning-and-notes', 'ProductDetailPage') with {
                                    data: {
                                        product: data.product
                                    },
                                } only %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                    {% if data.product.attributes.pet_feeding_table is defined %}
                    {% embed molecule('toggler-item') with {
                        data: {
                            title: 'Fütterungsempfehlung',
                            triggerClass: 'pet-feeding-table__trigger-bundle',
                            targetClass: 'pet-feeding-table__target-bundle',
                            isActive: true,
                            productAttributes: data.product.attributes,
                            product: data.product
                        },
                        embed: {
                            bundleItems: data.bundleItems,
                        }
                    } only %}
                        {% block contentText %}
                                {% include molecule('pet-feeding-table', 'ProductDetailPage') with {
                                    data: {
                                        attributes: data.product.attributes,
                                        petColumns: _view.petColumns,
                                        petRows: _view.petRows,
                                        rowData: _view.rowData,
                                    },
                                } only %}
                        {% endblock %}
                    {% endembed %}
                    {% endif %}

                    {% embed molecule('toggler-item') with {
                        data: {
                            title: 'catalog.view.product.info' | trans,
                            triggerClass: 'additional-product-information__trigger-bundle',
                            targetClass: 'additional-product-information__target-bundle',
                            isActive: true,
                            productAttributes: data.product.attributes,
                            product: data.product
                        },
                        embed: {
                            bundleItems: data.bundleItems,
                        }
                    } only %}
                        {% block contentText %}
                            {% include molecule('additional-product-information', 'ProductDetailPage') with {
                                data: {
                                    productAttributes: data.productAttributes,
                                    product: data.product,
                                    characteristics: _view.characteristics
                                },
                            } only %}
                        {% endblock %}
                    {% endembed %}

                </div>
            </div>
        </div>

        {% widget 'ProductReplacementForListWidget' args [data.product.sku] only %}{% endwidget %}

    </div>
    <div class="container__inner">
        {% if data.product.productSetIds is not empty %}
            {% widget 'ProductSetIdsWidget' args [data.product.productSetIds] only %}{% endwidget %}
        {% endif %}
    </div>

    {% widget 'SimilarProductsWidget' args [data.product] only %}{% endwidget %}

    <div class="container__inner">
        {% embed molecule('product-cms-block', 'CmsBlockWidget') ignore missing with {
            data: {
                idProductAbstract: data.product.idProductAbstract,
            }
        } only %}
            {% block body %}
                {% cms_slot 'slt-7' required ['idProductAbstract'] with {
                    idProductAbstract: data.idProductAbstract,
                } %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
