@mixin shop-ui-copyright-build-with($name: '.copyright-build-with') {
    #{$name} {
        font: fw(bold) rem(12)/rem(15) $setting-font-family;
        letter-spacing: rem(0.67);
        text-transform: uppercase;
        padding: rem(14) 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;


        &__text {
            margin-right: rem(18);
            padding-top: rem(12);
            color:gray;
        }

        &__link {
            color: $setting-color-white;

            &:hover,
            &:focus {
                color: $setting-color-white;
            }
        }

        .div-footer-right-text
        {
            @include helper-breakpoint-media-max($lg-max)  {
                right: 0px !important;
            }
        }
    }
}

@include shop-ui-copyright-build-with();
