@mixin shop-ui-copyright-build-with($name: '.copyright-build-with') {
    #{$name} {
        font: fw(bold) rem(12)/rem(15) $setting-font-family;
        letter-spacing: rem(0.67);
        text-transform: uppercase;
        padding: rem(14) 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;


        &__text {
            margin-right: rem(18);
            padding-top: rem(12);
            color:gray;
        }

        &__link {
            color: $setting-color-white;

            &:hover,
            &:focus {
                color: $setting-color-white;
            }
        }

        .inline-list {
            display: flex;
        }

        .data-protection .title  {
            display: none;
            @include helper-breakpoint-media-max($sm-max)  {
                display: block;
                text-align: left;
                color:gray;

                &:before {
                    background: gray;
                }
                &:after {
                    background: gray;
                }
            }
        }

        .inline-list li {
            margin: 0px 10px;

        }

        .inline-list li a
        {
            color:gray;
            text-decoration: none;
        }

        .inline-list li a:nth-child(1) {
            border-right: 1px solid gray;
            padding-right: 15px;
        }
        .inline-list li a:nth-child(3) {
            border-left: 1px solid gray;
            padding-left: 15px;
        }


        .div-footer-right-text
        {
            float: right;
            color:gray;
            position: absolute;
            right: -100px;

            @include helper-breakpoint-media-max($xl-max)  {
                position: static;
                width:100%;

            }
        }
    }
}

@include shop-ui-copyright-build-with();
