@mixin shop-ui-copyright-build-with($name: '.copyright-build-with') {
    #{$name} {
        font: fw(bold) rem(12)/rem(15) $setting-font-family;
        letter-spacing: rem(0.67);
        text-transform: uppercase;
        padding: rem(14) 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        &__text {
            margin-right: rem(18);
            padding-top: rem(12);
            color:gray;
        }

        &__link {
            color: $setting-color-white;

            &:hover,
            &:focus {
                color: $setting-color-white;
            }
        }

        .inline-list {
            display: flex;
        }

        .full-width-row {
            width: 100%;
            @include helper-breakpoint-media-min($l-max)  {
                display: flex;
                justify-content: space-between;
            }
        }

        .data-protection{
            @include helper-breakpoint-media-max($l-max)  {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: rem(10);
                font-size: rem(12);
            }
            @include helper-breakpoint-media-max($sm-max)  {
                font-size: rem(10);
            }
            @include helper-breakpoint-media-max($xs-max){
                font-size: rem(7);
            }
        }

        .data-protection .title  {
            display: none;
            @include helper-breakpoint-media-max($sm-max)  {
                display: block;
                text-align: left;
                color:gray;

                &:before {
                    background: gray;
                }
                &:after {
                    background: gray;
                }
            }
        }

        .inline-list li {
            margin: 0 rem(10);
        }

        .inline-list li a {
            color:gray;
            text-decoration: none;
        }

        .inline-list li a:nth-child(1) {
            border-right: rem(1) solid gray;
            padding-right: rem(15);
        }
        .inline-list li a:nth-child(3) {
            border-left: rem(1) solid gray;
            padding-left: rem(15);
        }

        .div-footer-right-text {
            color:gray;
        }
    }
}

@include shop-ui-copyright-build-with();
