@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        position: relative;

        &__image {
            width: 100%;
            max-height: inherit;
            margin-left: rem(5px);
        }

        &__image-CZ {
            width: 100%;
            max-height: inherit;
            height: rem(72);
            margin-left: rem(5px);
        }

        &__link {
            font-size: 0;

            &--header {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        &--header {
            width: rem(99);
            height: rem(63);
        }

        &--header-mobile {
            width: rem(40);
            height: rem(63);
        }

        &__image--header-mobile {
            width: rem(64);
            height: auto;
            margin-top: rem(12);

            @include helper-breakpoint-media-max($lg-max) {
                margin-top: 6px;
                margin-left: 6px;
            }

            @include helper-breakpoint-media-max($sm-max) {
                width: 3rem;
                margin-top: 11px;
                margin-left: 0px;
            }

        }

        &__image-CZ--header-mobile {
            width: rem(64);
            height: auto;
            margin-top: rem(12);

            @include helper-breakpoint-media-max($lg-max) {
                width: 3rem;
                margin-top: -2px;
                margin-left: 6px;
            }

            @include helper-breakpoint-media-max($sm-max) {
                width: 3rem;
                margin-top: -3px;
                margin-left: 0px;
            }

        }

        &--login {
            width: rem(70);
            height: rem(65);
            margin: 0 auto;

            @include helper-breakpoint-media-min($md-min) {
                width: rem(100);
                height: rem(100);
            }

            @include helper-breakpoint-media-min($lg-min) {
                height: rem(115);
            }
        }

        &--footer {
            width: rem(90);
            height: rem(108);
        }

        @content;
    }
}

@include shop-ui-logo();
