@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        position: relative;

        &__image {
            width: 100%;
            max-height: inherit;
            margin-left: rem(5px);
        }

        &__image--header {
            width: rem(43);
            height: rem(43);
            margin-left: rem(30);
        }

        &__image-CZ {
            max-height: inherit;
            height: rem(72);
            margin-left: rem(5);

            .footer {
                height: auto;
                margin-left: 0;

                @include helper-breakpoint-media-min($xxl-min) {
                    width: rem(75);
                }
            }
        }

        &__link {
            font-size: 0;

            @include helper-breakpoint-media-max($sm-max){
            font-size: unset;
            }

            &--header {
                margin-bottom: rem(5);
            }
        }

        &--header {
            width: rem(99);
            height: rem(63);
        }

        &__header-mobile-CZ {
            height: auto;
            width: 80%;
        }

        &--header-mobile {
            width: rem(40);
            height: rem(63);

            @include helper-breakpoint-media-max($lg-max) {
                margin-right: rem(10);
            }

            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                align-items: center;
                width: fit-content;
            }

            @include helper-breakpoint-media-max($xs-max) {
                margin-right: 0;
            }

        }

        &__image--header-mobile {
            width: rem(64);
            height: auto;
            margin-top: rem(12);

            @include helper-breakpoint-media-max($lg-max) {
                margin-top: rem(8);
                margin-left: 6px;
            }

            @include helper-breakpoint-media-max($sm-max) {
                width: rem(25);
                height: rem(25);
                margin-bottom: rem(15);
            }

            @include helper-breakpoint-media-max($xs-max) {
                margin: 0;
            }

        }

        &__image-CZ--header {
            margin-left: rem(10);
            height: 100%;
            width: auto;

            @include helper-breakpoint-media-max($l-max) {
                margin-left: rem(20);
            }

            @include helper-breakpoint-media-max(md-max) {
                margin-left: rem(10);
            }

        }

        &__image-CZ--header-mobile {
            width: 80% !important;
            height: auto !important;
            margin-top: rem(12);


            @include helper-breakpoint-media-max($lg-max) {
                /*width: 3rem;
                margin-top: -2px;
                margin-left: 6px;*/
                width: rem(60);
            }

            @include helper-breakpoint-media-max($sm-max) {
                width: 3rem;
                margin-top: -3px;
                margin-left: 0px;
            }

        }

        &--login {
            width: rem(70);
            height: rem(65);
            margin: 0 auto;

            @include helper-breakpoint-media-min($md-min) {
                width: rem(100);
                height: rem(100);
            }

            @include helper-breakpoint-media-min($lg-min) {
                height: rem(115);
            }
        }
        @content;
    }
}

@include shop-ui-logo();
