@mixin shop-ui-banner-block($name: '.banner-block') {
    #{$name} {
        overflow: hidden;
        height: rem(200);
        margin-bottom: rem(10);

        @include helper-breakpoint-media-min($lg-min) {
            height: rem(450);
            margin-bottom: rem(30);
        }

        &--medium {
            height: rem(400);
        }



        &--small {
            height: rem(200);
            margin-top: rem(10);

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                padding-right: rem(10);
            }

            @include helper-breakpoint-media-min($lg-min) {
                height: rem(340);
            }

            @include helper-breakpoint-media-max($xxl-min) {
                overflow: unset;
                margin-right: rem(10);
            }

            @include helper-breakpoint-media-max($lg-max) {
                height: rem(400);
            }

        }

        &--success {
            height: auto;
            margin-bottom: rem(15);

            @include helper-breakpoint-media-min($lg-min) {
                height: rem(450);
                margin-bottom: rem(40);
            }
        }

        &--color-second {
            color: $setting-color-white;
        }

        &--spacing-bottom-reset {
            margin-bottom: 0;
        }

        &__container {
            min-height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            padding: 0 rem(10);
            margin: 0 rem(10);
            border: rem(2) solid $setting-color-stonegray;

            @include helper-media-ie() {
                height: 100%;
            }

            @include helper-breakpoint-media-min($lg-min) {
                text-align: left;
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding: 0 rem(30);
            }

            &--success {
                margin: 0;
                padding: rem(20) rem(15) rem(26);

                @include helper-breakpoint-media-min($lg-min) {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            &--spacing-x-reset {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__button {
            background-color: $setting-color-fresh-orange;
            border-radius: rem(30);
            padding: rem(5);
            margin-right: rem(10);
            margin-bottom: rem(10);
            font-weight: bolder;
            font-family: $setting-font-family-additional;

            &:hover {
                background-color: $setting-color-main-hover-de;
                box-shadow: none !important;
            }
        }

        &__button-cz {
            background-color: $setting-color-forest-green;
            border-radius: rem(30);
            padding: rem(5);
            margin-right: rem(10);
            margin-bottom: rem(10);
            font-weight: bolder;
            font-family: $setting-font-family-additional;

            &:hover {
                background-color: $setting-color-forest-green-3;
                box-shadow: none !important;
            }
        }

        &__mobile{

            @include helper-breakpoint-media-max($sm-max) {
                padding: 0;
            }

            @include helper-breakpoint-media-max($lg-max) {
                display: flex;
                flex-flow: column;
                width: 100%;
                margin: rem(10);
            }

            @include helper-breakpoint-media-max($xl-max) {
                padding-right: rem(10);
            }
        }

        &__image-container {
            background-color: $setting-color-globus-white;
            width: rem(380);

            @include helper-breakpoint-media-max($l-max) {
                width: 100%;
            }
        }

        &__curved-top {
            display: block;
            box-sizing: border-box;
            height: rem(50);
            background-color: $setting-color-white;
            clip-path: ellipse(60% 100% at 50% 0%);
            margin-bottom: rem(10);
        }

        &__button-container {
            display: flex;
            width: 100%;
            justify-content: end;
        }

        &__title,
        &__text {
            color: $setting-color-white;
        }

        &__title {
            font-size: rem(26);
            line-height: rem(30);
            font-weight: fw(medium);
            margin-bottom: rem(10);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(30);
                line-height: rem(30);
                margin-bottom: rem(13);
            }
        }

        &__content-container {
            background-color: $setting-color-stonegray;
            color: $setting-color-tentgray;
            font-family: $setting-font-family-additional;
            font-size: rem(14);
        }

        &__text {
            font-size: rem(16);
            line-height: normal;
            font-weight: fw(regular);
            margin-bottom: rem(26);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(18);
                margin-bottom: rem(35);
            }

            &--subtitle {
                font-family: $setting-font-family;
                font-weight: fw(medium);
                margin-bottom: 0;

                @include helper-breakpoint-media-min($lg-min) {
                    font-size: rem(38);
                    line-height: rem(40);
                }
            }
        }

        &__success-title {
            font-size: rem(32);
            line-height: rem(34);
            color: $setting-color-white;
            margin-bottom: rem(11);

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: rem(32);
                font-size: rem(50);
                line-height: rem(55);
            }
        }

        &__success-text {
            font-size: rem(18);
            letter-spacing: rem(0.3);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(22);
                letter-spacing: rem(0.4);
            }
        }

        @content;
    }
}

@include shop-ui-banner-block;
