{% extends model('component') %}

{% define config = {
    name: 'navigation-inline-links',
    tag: 'navigation-inline-links'
} %}

{% define data = {
    items: []
} %}

{% block body %}

    {% for itemNavigation in data.items %}
        {% block legalInformationItems %}
            {% for itemMenu in itemNavigation.templates %}
                    {% block item %}
                        {% widget 'NavigationWidget' args [itemMenu.menu, itemMenu.template] %}
                            {% block body %}
                                {% if itemMenu.wrapClass is defined %}
                                    <div class="{{ itemMenu.wrapClass }}">
                                        {{ parent() }}
                                    </div>
                                {% else %}
                                    {{ parent() }}
                                {% endif %}
                            {% endblock %}
                        {% endwidget %}
                    {% endblock %}
            {% endfor %}
        {% endblock %}
    {% endfor %}
{% endblock %}
