{% extends view('profile-delete', '@SprykerShop:CustomerPage') %}

{% define data = {
    title: 'customer.account.passwordChange' | trans,
    scriptSrc: app.customerCDCApiUrl,
    activePage: 'password-change'
} %}

{% block customerContent %}
    <style>
        .gigya-screen, .gigya-screen * {
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .gigya-screen .gigya-label-text{
            font-family: "Fra Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }
        .page-layout-customer__form-wrap {
            border: none;
        }
    </style>
    <script language="JavaScript" src="{{ data.scriptSrc }}"></script>

    <div class="page-layout-customer">
        <div class="page-layout-customer__form-wrap">
            <div class="spacing-left spacing-left--big spacing-left--inner spacing-right spacing-right--big spacing-right--inner" id="customer-password-change">

            </div>
        </div>
    </div>

    <script type="text/javascript">
        function gigyaPasswordChangeScreen() {
            gigya.accounts.showScreenSet({
                screenSet: 'CCCustomer-ProfileUpdate',
                startScreen: 'gigya-password-change-required-screen',
                containerID: 'customer-password-change',
                "onAfterSubmit": function(event) {
                    if(event.response.errorCode == 0 && event.screen === 'gigya-password-change-required-screen') {
                        document.querySelector("#profileForm_data").value = JSON.stringify(event);
                        document.querySelector("form[name='profileForm']").submit();
                    }
                }
            });
        }

        gigyaPasswordChangeScreen();
    </script>
{% endblock %}
