@mixin catalog-page-sorting-toggler($name: '.sorting-toggler') {
    #{$name} {
        min-width: rem(240);
        border: rem(2) solid $setting-color-globusCZ-main-green;
        background-color: transparent;
        border-radius: rem(64);
        color: $setting-color-globusCZ-main-green;

        @include helper-breakpoint-media-max($md-max)  {
            width: 30%;
        }

        @include helper-breakpoint-media-max($sm-max)  {
            width: 50%;
        }

        .title {
            font-weight: normal;
            font-family: $setting-font-family-fira-sans;
            color: $setting-color-globusCZ-main-green;
            font-size: rem(16);
            padding: rem(9.6) rem(9);
            margin-left: rem(10);
            @include helper-breakpoint-media-max($smd-max) {
                padding: rem(13.008) rem(10);
            }
        }

        .toggler-item {
            position: relative;

            &__content {
                position: absolute;
                z-index: 1;
                border-top: none;
                box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
                margin-top: rem(1);

                .menu {
                    .menu-item {
                        cursor: pointer;
                    }
                }
            }
        }
        @content;
    }
}

@include catalog-page-sorting-toggler;
