@include shop-ui-money-price {
    $name: '.money-price';

    &__amount {
        font-size: rem(16);
        font-weight: 100;

        &--original {
            font-size: rem(12);
        }

        &--cart {
            font-size: rem(16);
            @include helper-breakpoint-media-max($md-max){
                display: none;
            }
        }

        &--summary {
            position: unset;
            font-size: rem(15);
            display: block;
            font-weight: 500;

            @include helper-breakpoint-media-max(450px){
                position: relative;
            }
        }
    }
    &__amount-red {
        color: $setting-color-globus-red;
        float: left;

        @include helper-breakpoint-media-max($lg-max) {
            float: none;
        }
    }

    &__price-container {
        display: flex;
        align-items: center;
    }

    &__uvp {
        margin-right: rem(5);
        font-size: rem(12);
        color: #9ea1a7;
    }

    &__uvp-cz {
        margin-right: rem(5);
        font-size: rem(12);
        color: #111;
    }

    &--align-right {
        @include helper-breakpoint-media-min($md-min) {
            text-align: right;
        }
    }
}
