@include shop-ui-money-price {
    $name: '.money-price';

    &__amount {
        font-size: rem(16);
        font-weight: 100;

        @include helper-breakpoint-media-max($sm-max) {
            position: relative;
            top: rem(10);
            right: rem(40);
        }

        @include helper-breakpoint-media-between($md-min,$md-max) {
            position: relative;
            bottom: rem(30);
            right: rem(70);
        }

        @include helper-breakpoint-media-max($sm-max) {
            position: relative;
            top: rem(10);
            right: rem(40);
        }

        @include helper-breakpoint-media-between($md-min,$md-max) {
            position: relative;
            bottom: rem(30);
            right: rem(70);
        }

        &--original {
            font-size: rem(14);
        }

        &--cart {
            font-size: rem(16);
            @include helper-breakpoint-media-max($xl-min){
                display: none;
            }
        }

        &--summary {
            font-size: rem(15);
            display: block;
        }
    }
    &__amount-red {
        color: $setting-color-globus-red;

    }


    &--align-right {
        @include helper-breakpoint-media-min($md-min) {
            text-align: right;
        }
    }
}
