@include shop-ui-money-price {
    $name: '.money-price';

    &__amount {
        font-size: rem(16);
        font-weight: 100;

        &--original {
            font-size: rem(12);
        }

        &--cart {
            font-size: rem(16);
            @include helper-breakpoint-media-max($xl-min){
                display: none;
            }
        }

        &--summary {
            position: unset;
            font-size: rem(15);
            display: block;
            font-weight: 500;

            @include helper-breakpoint-media-max(450px){
                position: relative;
                margin-left: rem(22);
                margin-bottom: rem(18);
            }
        }
    }
    &__amount-red {
        color: $setting-color-globus-red;

    }


    &--align-right {
        @include helper-breakpoint-media-min($md-min) {
            text-align: right;
        }
    }
}
