@mixin shop-ui-toggler-item($name: '.toggler-item') {
    #{$name} {
        &__title {
            @include helper-effect-transition(opacity);
            padding: rem(15) rem(20) rem(15) 0;
            position: relative;
            opacity: 1;
            font-size: rem(13);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(14);
            }

            &:not(&--read-only) {
                .no-touch &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }

                &::before,
                &::after {
                    background: $setting-color-black;
                    position: absolute;
                    top: 50%;
                }

                &::before {
                    width: rem(12);
                    height: rem(2);
                    right: 0;
                    margin-top: rem(-1);
                }

                &::after {
                    width: rem(2);
                    height: rem(12);
                    right: rem(5);
                    margin-top: rem(-6);
                }

                &.active {
                    &::after {
                        display: none;
                    }
                }
            }

            &--bundle {
                padding-left: rem(11);

                &:not(#{$name}__title--read-only) {
                    &::before,
                    &::after {
                        transform: translateX(rem(-11));
                    }
                }
            }

            &--mobile {
                &:hover,
                .no-touch &:not(#{$name}__title--read-only):hover {
                    cursor: default;
                    opacity: 1;
                }

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: 0;
                    padding-right: 0;
                }

                &::before,
                &::after {
                    @include helper-breakpoint-media-min($md-min) {
                        display: none;
                    }
                }
            }

            &--footer {
                font-weight: fw(bold);
            }

            &--mobile#{$name}__title--footer {
                &::before,
                &::after {
                    transform: rotate(45deg);
                    background: $setting-color-white;
                }

                &::before {
                    margin-top: rem(-5);
                    height: rem(1);
                    width: rem(10);
                }

                &::after {
                    margin-top: rem(-3);
                    width: rem(1);
                    height: rem(10);
                }

                &.active {
                    &::before {
                        transform: rotate(-45deg);
                        margin-top: rem(-2);
                    }

                    &::after {
                        display: block;
                        transform: rotate(-45deg);
                        margin-right: rem(6);
                        margin-top: rem(-7);

                        @include helper-breakpoint-media-min($md-min) {
                            display: none;
                        }
                    }
                }
            }

            &--desktop-border-bottom {
                @include helper-breakpoint-media-min($md-min) {
                    border-bottom: rem(1) solid $setting-color-globus-darkGray;
                    padding-bottom: rem(14);
                    margin-bottom: rem(16);
                }
            }

            &--filter-sidebar {
                padding: rem(18) rem(35) rem(18) rem(20);
                font-size: rem(12);
                font-weight: fw(500);
                color: $setting-color-black;
                position: relative;

                &:not(#{$name}__title--read-only) {
                    .no-touch &:hover {
                        opacity: 1;
                    }

                    &:hover {
                        color: $setting-color-globus-lightOrange;
                    }

                    &::after,
                    &::before {
                        display: none;
                    }

                    &.active {
                        color: $setting-color-black;

                        &:hover {
                            color: $setting-color-globus-lightOrange;
                        }

                        #{$name}__arrow-icon {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }

        &__content {
            padding-top: rem(25);
            padding-bottom: rem(15);

            &--mobile {
                padding-top: 0;
                padding-bottom: rem(5);
            }

            &--option {
                padding-top: rem(5);
                padding-bottom: rem(40);
            }

            &--bundle {
                padding-left: rem(11);
                padding-right: rem(11);
            }

            &--filter {
                padding-top: 0;
                padding-bottom: 0;
            }

            &--filter-sidebar {
                padding: rem(10) rem(20);
                background: $setting-color-globus-white;
            }

            &--flex {
                display: flex;
            }
        }

        &__title-wrapper {
            position: relative;
            padding-right: rem(10);
        }

        &__arrow {
            display: flex;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: rem(30);
            height: rem(20);
            cursor: pointer;

            &--filter {
                top: 0;
                right: rem(-20);
                transform: none;
                color: $setting-color-black;

                &:hover {
                    color: $setting-color-globus-lightOrange;
                }

                &.active {
                    #{$name}__arrow-icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &--with-top-border {
            border-top: rem(1) solid $setting-color-globus-darkGray;
        }

        &--border-without-top {
            border: rem(1) solid $setting-color-globus-lightGray;
            border-top: none;
        }

        &--mobile {
            border-top: rem(1) solid $setting-color-globus-darkGray;

            @include helper-breakpoint-media-min($md-min) {
                border-top: none;
            }
        }

        &--footer {
            border-top: none;
        }

        .nutritional-information__trigger-bundle,
        .additional-product-information__trigger-bundle,
        .ingredients-and-allergens__trigger-bundle,
        .warnings-and-usage-info__trigger-bundle,
        .pet-feeding-table__trigger-bundle,
        .product-description__trigger-bundle,
        .warning-and-notes__trigger-bundle {
            color: $setting-color-globus-lightOrange;
            border-bottom: 1px solid $setting-color-globus-lightOrange;
        }

        .nutritional-information__trigger-bundle:hover,
        .additional-product-information__trigger-bundle:hover,
        .ingredients-and-allergens__trigger-bundle:hover,
        .warnings-and-usage-info__trigger-bundle:hover,
        .pet-feeding-table__trigger-bundle:hover,
        .product-description__trigger-bundle:hover,
        .warning-and-notes__trigger-bundle:hover {
            color: $setting-color-globus-lightOrange;
        }

        .nutritional-information__trigger-bundle::before,
        .additional-product-information__trigger-bundle::before,
        .ingredients-and-allergens__trigger-bundle::before,
        .warnings-and-usage-info__trigger-bundle::before,
        .pet-feeding-table__trigger-bundle::before,
        .product-description__trigger-bundle::before,
        .warning-and-notes__trigger-bundle::before {
            content: '';
        }

        .nutritional-information__trigger-bundle::after,
        .additional-product-information__trigger-bundle::after,
        .ingredients-and-allergens__trigger-bundle::after,
        .warnings-and-usage-info__trigger-bundle::after,
        .pet-feeding-table__trigger-bundle::after,
        .product-description__trigger-bundle::after,
        .warning-and-notes__trigger-bundle::after {
            content: '';
            border-color: $setting-color-globus-lightOrange;
        }


        @content;
    }
}

@include shop-ui-toggler-item();
