@mixin catalog-page-filter-enumeration($name: '.filter-enumeration') {
    #{$name} {
        &--sidebar {
            padding-bottom: rem(14);
        }

        .menu {
            .headline {
                margin: 25px 0 10px 0;
            }

            .delete-category-filter-supplier {
                cursor: pointer;
            }
        }
    }
}

@include catalog-page-filter-enumeration();
