@mixin product-detail-page-product-detail($name: '.product-detail') {
    $spacing-between-col: rem(45);

    #{$name} {
        clear: both;
        padding-top: rem(40);
        padding-bottom: rem(50);

        &--bundle {
            padding-top: 0;
            border-bottom: rem(1) dotted $setting-color-gray-3;
        }

        &__col {
            width: 100%;

            @include helper-breakpoint-media-min($md-min) {
                width: calc(50% - #{$spacing-between-col});
            }
        }

        .description-text-color {
            color: $setting-color-globus-darkGray;
        }
    }
}

@include product-detail-page-product-detail();
