@mixin customer-confirmation-page-customer-confirmation-form($name: '.customer-confirmation-form') {
    #{$name} {
        width: 100%;

        input[readonly='readonly'] {
            background: $setting-color-gray-3;
        }

        .list--info {
            color: $setting-color-gray-9;
        }

        .salutation-margin
        {
            margin-top: 10%;
        }

        .margin-telefon-date
        {
            margin-top: 5%;
        }

        .margin-telefon-title
        {
            font-family: $setting-font-family-additional;
            font-size: rem(12);
            font-weight: 600;
            margin-left: rem(20);
        }

        .asterisk-orange {
            color: $setting-color-globus-lightOrange;
        }

        .padding-phone {
            padding-bottom: 0;
        }

        @content;
    }
}

@include customer-confirmation-page-customer-confirmation-form;
