@mixin customer-confirmation-page-customer-confirmation-form($name: '.customer-confirmation-form') {
    #{$name} {
        width: 100%;

        input[readonly='readonly'] {
            background: $setting-color-gray-3;
        }

        .list--info {
            color: $setting-color-gray-9;
        }

        .salutation-margin
        {
            margin-top: 10%;
        }

        .margin-telefon-date
        {
            margin-top: 5%;
        }

        .padding-phone-title {
            padding-left: rem(18);
        }

        .asterisk-orange {
            color: $setting-color-globus-lightOrange;
        }

        .padding-phone-prefix {

            @include helper-breakpoint-media-max($sm-max) {
                padding-bottom: 0;
            }
        }

        .padding-phone {
            padding-bottom: 0;

            @include helper-breakpoint-media-max($sm-max) {
                padding-top: 0;
                padding-bottom: rem(8);
            }
        }

        .padding-date {

            @include helper-breakpoint-media-max($sm-max) {
                padding-bottom: 0;
            }
        }

        @content;
    }
}

@include customer-confirmation-page-customer-confirmation-form;
