{% extends template('page-layout-main') %}

{# TODO BE need to add orderReference #}
{% define data = {
    shelvesSelectionForm: shelvesSelectionForm,
    orderReference: 123,
} %}

{% block header %}
    {% embed organism('header') with {
        modifiers: ['picking-detail'],
        data: {
            withoutLogo: true,
            orderId: data.orderReference,
            buttonUrl: false,
            orderReference: data.orderReference,
        },
    } only %}
    {% endembed %}
{% endblock %}

{% block content %}
    <h1> {{ data.shelvesSelectionForm.vars.data.field_id_sales_order }}</h1>
    {% include molecule('form') with {
        data: {
            form: data.shelvesSelectionForm,
            submit: {
                enable: true,
            },
        }
    } only %}
{% endblock %}
