@mixin shop-ui-navigation-top ($name: '.navigation-top') {
    #{$name} {
        width: 100%;

        &__shop-user {
            display: flex;
            flex-flow: row;
            justify-content: right;
            align-items: baseline;
            width: fit-content;
        }

        &__customer-profile {
            color: $setting-color-fresh-orange;
        }

        &__item {
            display: flex;
            position: relative;
            padding: 0 rem(20);
            line-height: 1;
            z-index: $setting-zi-element + 2;

            &:last-child {
                padding-right: 0;
            }
        }
    }


}

@include shop-ui-navigation-top();
