@mixin navigation-header-mobile-de($name: '.navigation-header-mobile-de') {
    #{$name} {

        .ffw-item-caption {
            font-family: $setting-font-family-additional;
            padding: rem(10) rem(5) rem(10) rem(25);
            color: $setting-color-tentgray;
        }

        .navigationMenuArrowDown {
            display: none;
        }
        .navigationSubMenuArrowDown {
            transform: rotate(-90deg);
        }

        ff-navigation-item[has-subelements] {
            .navigationMenuArrowDown {
                display: flex;
            }
        }

        .navigation-link-item {
            color: $setting-color-tentgray;
            text-decoration: none;
        }

        #ffMobileNavigationDe{
            background-color: transparent;
            text-align: left;
            margin-top: rem(20);

            .navigationMenuArrowDown, .navigationSubMenuArrowDown {
                width: rem(30);
                transition: all .3s ease;
            }

            ff-navigation-item[selected][type="parent"][cluster-level="1"] {

                .my-parent-item {
                    .navigation-link-item {
                        color: $setting-color-forest-green;
                        font-weight: 700;
                    }
                }

                .navigationSubMenuArrowDown {
                    transform: rotate(180deg);
                    color: $setting-color-tentgray;
                }

                & > .ffw-item-caption {
                    border-bottom-right-radius: rem(25);
                    background-color: $setting-color-stonegray;
                }
            }

            ff-navigation-item[selected][type="header"][cluster-level="0"] {

                & > .ffw-item-caption {
                    border-bottom-right-radius: rem(25);
                    background-color: $setting-color-forest-green-light;
                }

                .my-header {
                    .navigationMenuArrowDown {
                        transform: rotate(180deg);
                        color: $setting-color-tentgray;
                    }

                    .navigation-link-item {
                        color: $setting-color-forest-green;
                        font-weight: 700;
                    }
                }
            }

            ff-navigation-item[cluster-level="0"]{

                border-bottom: 1px solid $setting-color-globus-tableHeader;

                .ffw-item-caption{
                    font-weight: 500;
                    font-size: rem(16);

                    .my-header, .my-item {
                        display: flex;
                        justify-content: space-between;
                        margin-right: rem(20);
                        align-items: center;
                    }
                }
            }

            ff-navigation-item[cluster-level="1"]{
                padding-top: 0;
                padding-bottom: 0;

                .ffw-item-caption{
                    font-size: rem(14);
                }
            }
            ff-navigation-item[cluster-level="2"]{
                .ffw-item-caption {
                    margin-left: rem(20);
                }
                .ffw-item-caption{
                    font-weight: 400;
                    font-size: rem(13);
                }
            }

            .ffw-menu-items {
                display: flex;
            }

            .navigation-icon {
                display: flex;
                align-items: center;
            }

            .navigation-icon:before {
                padding-right: rem(5);
                min-width: rem(30);
                display: flex;
                justify-content: center;
            }
        }
    }
}
@include navigation-header-mobile-de();
