@mixin navigation-header-mobile-de($name: '.navigation-header-mobile-de') {
    #{$name} {

        #ffMobileNavigationDe{
            background-color: transparent;
            text-align: left;
            margin-top: rem(20);

            .navigationMenuArrowDown {
                width: rem(30);
            }

            ff-navigation-item[cluster-level="0"]{
                .ffw-item-caption{
                    color: $setting-color-gray-6;
                    font-family: $setting-font-family-additional;
                    font-weight: 500;
                    font-size: rem(14);
                    border-bottom: 1px solid $setting-color-alpha-12;
                    background-color: $setting-color-gray-14;

                    .my-header, .my-item {
                        display: flex;
                        justify-content: space-between;
                        margin-right: rem(30);
                        align-items: center;
                    }
                }
            }

            ff-navigation-item[cluster-level="1"]{
                margin: rem(15) 0 rem(15) rem(10);
                padding-top: 0;
                padding-bottom: 0;

                .ffw-item-container{
                    margin-top: rem(10);
                }
                .ffw-item-caption{
                    max-width: 94%;
                    margin-left: rem(20);
                    padding-left: 0;
                    color: $setting-color-gray-6;
                    background-color: $setting-color-white;
                    border-bottom: none;

                    .navigation-multilevel-node__link-inner--lvl-1{
                        padding: 0;
                    }
                }
            }
            ff-navigation-item[cluster-level="2"]{
                .ffw-item-caption{
                    padding: rem(10) rem(10);
                    color: $setting-color-gray-9;
                    border-bottom: none;
                }
            }

            .ffw-menu-items {
                display: flex;
            }
        }
    }
}

@include navigation-header-mobile-de();
