@mixin campaign($name: '.campaign') {
    #{$name} {
        ff-campaign-feedbacktext {
            width: 98%;
            height: rem(400);
            background-color: $setting-color-stonegray;
            font-family: $setting-font-family-additional;
            padding: rem(10);
            margin: 0 rem(4) rem(32);

            @include helper-breakpoint-media-between($smd-max, $md-max){
                height: rem(420);
            }

            @include helper-breakpoint-media-max($sm-max){
                height: rem(600);
            }
        }
    }
}
@include campaign();

