*:hover,
*:active,
*:focus {
    outline: 0;
}

html {
    height: 100%;
}

body {
    color: #4a4a4a;
    background: #fff;
    font: 400 0.9375rem/1.5 'Spryker Office', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    body {
        height: 100%;
    }
}

a {
    color: #344384;
}

a:hover,
a:focus {
    color: #00005f;
}

p {
    margin: 0.5rem 0;
}

.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.header {
    position: relative;
    background: #344384;
    min-height: 5.5rem;
    border-top: 2.5rem solid #00005f;
}

.logo {
    position: absolute;
    top: -2.75rem;
    left: 50%;
    margin-left: -2.8125rem;
    height: 6.75rem;
    width: 5.625rem;
    overflow: hidden;
}

.logo__image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: inherit;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 2.875rem 0;
    background: url("./error-page_background.jpg") no-repeat center top/100% auto;
}

@media only screen and (min-width: 992px) {
    .content {
        background-image: url("./error-page_background@2x.jpg");
        padding: 5.75rem 0;
    }
}

.container {
    box-sizing: border-box;
    min-height: 22rem;
    max-width: 75.25rem;
    margin: auto;
    padding: 1.25rem;
    background: #fff;
    border-top: 0.5rem solid #ffc800;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container--secondary {
    min-height: 26rem;
}

@media only screen and (min-width: 769px) {
    .container {
        padding: 1.875rem;
    }
}

.title {
    font: 700 1.125rem/1.2 "Spryker SUED OT", sans-serif;
    color: #00005f;
    margin: 0 0 1rem;
    padding: 0;
}

@media only screen and (min-width: 769px) {
    .title {
        font-size: 1.5rem;
    }
}

.title--secondary {
    font-size: 0.9375rem;
    margin-bottom: 0;
}

@media only screen and (min-width: 769px) {
    .title--secondary {
        font-size: 1.125rem;
    }
}

.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background: #ffc800;
    width: 3.875rem;
    height: 3.875rem;
    margin-bottom: 1.875rem;
    color: #00005f;
}

.text-alt {
    font-weight: bold;
    color: #00005f;
}

.email-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.email-container__icon {
    margin-right: 0.5rem;
}

.link {
    display: inline-block;
    margin-top: 1.875rem;
}
