@mixin missing-articles($name: '.missing-articles') {
    #{$name} {
        margin-top: rem(15);
        margin-bottom: rem(10);

        .title {
            margin-bottom: rem(4);
        }

        .info {
            display: flex;
            margin-bottom: rem(4);

            .left-info {
                display: flex;
                align-items: center;
                width: 70%;

                @include helper-breakpoint-media-max($sm-max)  {
                    font-size: rem(10);
                    width: 70%;
                }

                @include helper-breakpoint-media-max($xsm-max)  {
                    width: 60%;
                }

                .product-name {
                    font-weight: bold;
                }
            }

            .right-info {
                display: flex;
                align-items: center;
                width: 30%;
                @include helper-breakpoint-media-max($sm-max)  {
                    width: 30%;
                }
                @include helper-breakpoint-media-max($xsm-max)  {
                    width: 40%;
                }
                .product-name,
                .item-price,
                .quantity {
                    width: 75px;
                    padding: 0 8px 0 8px;

                    @include helper-breakpoint-media-max($sm-max)  {
                        width: 57%;
                        padding: 0 2px 0 8px;
                        font-size: 12px;
                    }
                }
            }

        }


        .pickedProducts {
            color: red;
        }

        .icon-substitution-item-found {
            display: inline-block;
            margin-right: 15px;
            @include helper-breakpoint-media-max($xsm-max)  {
                margin-right: 5px;

                .icon {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

@include missing-articles();
