@mixin missing-articles($name: '.missing-articles') {
    #{$name} {
        margin-top: rem(15);
        margin-bottom: rem(10);

        .productName {
            font-weight: bold;
        }

        .pickedProducts {
            color: red;
        }

        .quantity {
            float: right;
        }

    }
}

@include missing-articles();
