@mixin missing-articles($name: '.missing-articles') {
    #{$name} {
        margin-top: rem(15);
        margin-bottom: rem(10);

        .title {
            margin-bottom: rem(4);

            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(15);
                font-weight: fw(medium);
            }
        }

        .info {
            display: flex;
            margin-bottom: rem(4);

            .left-info {
                display: flex;
                align-items: center;
                width: 70%;

                @include helper-breakpoint-media-max($sm-max)  {
                    font-size: rem(10);
                    width: 65%;
                }

                @include helper-breakpoint-media-max($xsm-max)  {
                    width: 55%;
                }

                .product-name {
                    font-weight: bold;

                    @include helper-breakpoint-media-max($sm-max) {
                        font-size: rem(14);
                        font-weight: fw(light);
                    }
                }

                .icon--details {
                    margin-right: rem(5);
                }
            }

            .right-info {
                display: flex;
                align-items: center;
                width: 30%;
                @include helper-breakpoint-media-max($sm-max)  {
                    width: 35%;
                }
                @include helper-breakpoint-media-max($xsm-max)  {
                    width: 45%;
                }

                .item-price {
                    @include helper-breakpoint-media-max($sm-min) {
                        width: 63%;
                    }
                }

                .product-name,
                .item-price,
                .quantity {
                    width: 75px;
                    padding: 0 8px 0 8px;

                    @include helper-breakpoint-media-max($sm-max)  {
                        width: 57%;
                        padding: 0 rem(2) 0 0;
                        font-size: rem(13);
                    }
                }
            }

        }


        .pickedProducts {
            color: red;
        }

        .icon-substitution-item-found {
            display: inline-block;
            margin-right: 15px;
            @include helper-breakpoint-media-max($xsm-max)  {
                margin-right: 5px;

                .icon {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}

@include missing-articles();
