@mixin product-image-widget-image-gallery-thumbnail($name: '.image-gallery-thumbnail') {
    #{$name} {
        width: rem(400) !important;
        max-height: rem(90) !important;
        display: flex !important;

        @include helper-breakpoint-media-max($md-max) {
            width: rem(352) !important;
            display: flex !important;
        }

        @include helper-breakpoint-media-min($lg-min) {
            position: absolute;
            top: 115%;
            left: rem(100);
            transform: translateY(-50%);
            z-index: $setting-zi-element + 1;
            width: rem(36);
            max-height: rem(315);
            overflow: hidden;

            &:not(.slick-initialized) #{$name}__item {
                margin: rem(16) 0;
            }
        }

        @include helper-breakpoint-media-min($xxl-min) {
            left: rem(30);
        }

        &__item {
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: rem(2) !important;
            position: relative;
            height: rem(280);
            background-color: $setting-color-white;
            margin: 0;
            cursor: default;

            &:hover {
                border: rem(2) solid $setting-color-globus-darkOrange !important;
            }

            @include helper-breakpoint-media-max($md-max) {
                &:not(:first-child) {
                    display: none !important;
                }

                &:hover {
                    border: rem(2) solid $setting-color-globus-darkGray !important;
                }

                height: rem(85) !important;
            }

            @include helper-breakpoint-media-min($lg-min) {
                width: rem(36);
                height: rem(60);
                border: rem(1) solid $setting-color-gray-3;
                margin: rem(8) 0;
                cursor: pointer;
            }

            &--active {
                padding: 0;
                border: rem(2) solid $setting-color-globus-darkGray !important;

                @include helper-breakpoint-media-min($lg-min) {
                    border: rem(2) solid $setting-color-white;
                }

                #{$name}__img {
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: $setting-zi-element-floating;
            }
        }

        &__img {
            max-height: rem(250);
            opacity: 1;
            height: inherit !important;
            padding: rem(3) rem(2);

            @include helper-breakpoint-media-min($lg-min) {
                opacity: 0.25;
                max-height: 100%;
            }
        }

        &__prev,
        &__next {
            padding: 0 0 rem(10);
            text-align: center;
            cursor: pointer;
            display: block;
        }

        &__prev {
            margin-top: rem(35);
        }

        &__next {
            margin-top: rem(35);
        }

        .slick-slide {
            border: none;
            height: auto;
            width: rem(80) !important;
            margin: 0 rem(8);

            @include helper-breakpoint-media-max($md-max) {
                border: none;
                height: auto;
                width: rem(102) !important;
                margin: 0 rem(8);
            }
        }

        .slick-track {
            width: rem(1520) !important;
            transform: translate3d(-80px, 0px, 0px);

            @include helper-breakpoint-media-max($md-max) {
                width: rem(2080) !important;
                transform: translate3d(0px, 0px, 0px);
            }
        }

        .slick-dots {
            position: absolute;
            bottom: rem(-32);
            width: 100%;
            display: flex;
            justify-content: center;

            li {
                margin: 0 rem(4);
                font-size: 0;
                border: rem(1) solid $setting-color-transparent;
                padding: rem(1);
                border-radius: 100%;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: rem(4);
                    height: rem(4);
                    border-radius: 50%;
                    background-color: $setting-color-gray-3;
                }
            }

            button {
                width: rem(4);
                height: rem(4);
                font: 0/0 $setting-font-family;
                opacity: 0;
            }

            .slick-active {
                border-color: $setting-color-globus-lightOrange;

                &::before {
                    background-color: $setting-color-transparent;
                }
            }
        }

        .slick-disabled {
            cursor: default;
            pointer-events: none;

            .icon {
                color: $setting-color-globus-darkOrange;
            }
        }
    }

    .icon--thumbnail-arrow {
        transform: rotate(270deg) !important;
    }

    .icon--reverse {
        transform: rotate(90deg) !important;
    }
}

@include product-image-widget-image-gallery-thumbnail();
