@mixin checkout-page-success($name: '.success-page') {
    #{$name} {
        padding: rem(85) rem(16);

        @include helper-breakpoint-media-max($md-max) {

        }

        &__container {
            background-color: $setting-color-white;

            .success-title {
                @include helper-breakpoint-media-max($l-max) {
                    position: relative;
                    top: rem(144);
                }
            }

            .not-linked-payback {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: rem(48) 0 0 0;
                padding-top: 30px;
                border-top: 1px solid $setting-color-stonegray-2;

                .badge-pdp {
                    width: 16%;
                    text-align: start;

                    @include helper-breakpoint-media-max($l-max) {
                        margin: 0 auto rem(30);
                        width: 100%;
                        text-align: center;
                    }

                    img {
                        width: rem(140);
                        height: rem(55);
                    }
                }

                .payback-discovery {
                    margin-top: rem(30);
                    font-weight: bolder;
                    font-size: rem(12);
                }

                @include helper-breakpoint-media-max($l-max)  {
                    flex-direction: column;
                    width: 80%;
                    margin: auto;

                    .info-banner {
                        .info-left-banner {
                            .title {
                                justify-content: center;
                            }

                            p {
                                width: 100%;

                                .payback-tip {
                                    width: 100%;
                                    text-align: center;
                                }
                            }

                            .payback-discovery {
                                width: 100% !important;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                .info-left-banner {
                    display: flex;
                    flex-direction: column;

                    .payback-discovery {
                        width: 100px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        span {
                            margin-right: 10px;
                        }
                    }
                    .title {
                        display: flex;
                        margin-bottom: 10px;
                    }

                    .check-orange {
                        width: rem(22);
                        height: rem(16);
                    }
                }

                .title {
                    display: flex;
                    margin-bottom: 10px;
                }

            }

            .flex-container {
                display: flex;

                @include helper-breakpoint-media-max($l-max) {
                    flex-direction: column;
                }

                .abhol-service {
                    position: relative;
                    bottom: rem(145);

                    @include helper-breakpoint-media-max($l-max) {
                        bottom: rem(128);
                    }

                    img {
                        width: rem(144);
                        height: rem(144);
                    }
                }

                .success-information-holder {
                    color: $setting-color-tentgray;

                    .support-link {
                        font-weight: 900;
                        text-decoration: none;
                        color: $setting-color-fresh-orange;
                    }
                }
            }

        }

        &__button {
            font-size: rem(12);
        }

        &__text {
            max-width: 100%;
            padding: 0 rem(15);
            margin: 0 auto rem(18);

            @include helper-breakpoint-media-min($lg-min) {
                max-width: 65%;
                margin: 0 auto rem(38);
            }
        }

        @content;
    }
}

@include checkout-page-success();
