@mixin checkout-page-success($name: '.success-page') {
    #{$name} {
        padding: rem(24) rem(16);

        @include helper-breakpoint-media-min($lg-min) {
            padding: rem(85) rem(16);
        }

        &__container {
            padding: rem(60) rem(40);
            background-color: $setting-color-white;
            border-top: rem(4) solid $setting-color-globus-darkOrange;

            .not-linked-payback {
                display: flex;
                flex-direction: row;
                width: 80%;
                margin: 3rem auto 0 auto;
                padding-top: 30px;
                border-top: 1px solid #000;

                .payback-img {
                    width: 250px;
                    height:150px;
                    margin-left: auto;
                    display: block;
                }

                @include helper-breakpoint-media-max($l-max)  {
                    flex-direction: column;

                    .info-left-banner {
                        p {
                            width: 100%;
                            .payback-tip {
                                width: 100%;
                                text-align: center;
                            }
                        }

                        .payback-discovery {
                            width: 100% !important;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                    .payback-img  {
                        margin: 0 auto;
                    }

                }

                .info-left-banner {
                    display: flex;
                    flex-direction: column;

                    .payback-discovery {
                        width: 100px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        span {
                            margin-right: 10px;
                        }
                    }
                    .title {
                        display: flex;
                        margin-bottom: 10px;
                    }
                }

                .title {
                    display: flex;
                    margin-bottom: 10px;
                    margin-left: 10px;

                    h3 {
                        margin-left: 10px;
                    }
                }

            }

        }

        &__text {
            max-width: 100%;
            padding: 0 rem(15);
            margin: 0 auto rem(18);

            @include helper-breakpoint-media-min($lg-min) {
                max-width: 65%;
                margin: 0 auto rem(38);
            }
        }

        @content;
    }
}

@include checkout-page-success();
