@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;
        padding: 0 rem(5) rem(30);

        @include helper-breakpoint-media-min($md-min) {
            padding: 0 rem(15) rem(30);
        }

        @include helper-breakpoint-media-max($sm-max) {
            padding: 0 rem(15) 0 rem(15) ;
            margin-bottom: 15px;
        }

        .button_center_align
        {
            margin-left: 1.5rem;
        }

        &--catalog {
            padding-bottom: rem(15);

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 rem(15) rem(30);
            }
        }

        &__image-wrap {
            position: relative;
            overflow: hidden;
            @include helper-breakpoint-media-max($sm-max) {
                width:150px;
                height:auto;
            }

            a {
                &:hover {
                   color:$setting-color-globus-darkOrange;
                }
            }
        }

        &__overlay {
            display: block;
            padding: 0;
            position: relative;

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(10) rem(20);

                .no-touch &:hover {
                    #{$name}__image-button {
                        @include helper-visibility-visible;
                    }
                }
            }
        }

        &__image-button {
            position: absolute;
            bottom: rem(25);
            right: rem(20);

            @include helper-breakpoint-media-min($md-min) {
                @include helper-visibility-visible;

                .no-touch & {
                    @include helper-effect-transition(box-shadow visibility opacity);
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &__container {
            position: relative;
            display: flex;
            flex-direction: column;
            @include helper-breakpoint-media-max($sm-max) {
                flex-direction: row;
            }
            height: 100%;
            color: $setting-color-black;
            background: $setting-color-white;
            padding-bottom: rem(14);
            border-radius: rem(2);
            border: rem(1) solid $setting-color-gray-1;

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-black;

                #{$name}__image-wrap {
                    box-shadow: none;
                }
            }

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }

        &__content-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 rem(20);
            flex-grow: 1;
            @include helper-breakpoint-media-max($sm-max) {
               width:100%;
            }
        }

        &__content-top {
            flex-grow: 1;
            @include helper-breakpoint-media-max($sm-max) {
                padding-top: 20px;
            }
            @include helper-breakpoint-media-min($md-min) {
                padding-bottom: rem(20);
            }
        }

        &__info {
            display: block;
            margin-bottom: rem(6);

            @include helper-breakpoint-media-min($md-min) {
                min-height: rem(41);
            }
        }

        &__name {
            text-decoration: none;
            font-weight: fw(semibold);
            font-size: rem(16);
            line-height: 1.3;
            letter-spacing: rem(0.1);
            color: $setting-color-black;

            &:hover {
                color: $setting-color-globus-darkOrange;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max) {
               font-size: rem(14);
            }
        }

        .add-to-cart-btn {
            @include helper-breakpoint-media-max($sm-max) {
                text-align: right;
                position: relative;
                top:0px;
                right:-5px;
                a {
                    justify-content: center;
                    width: 30px;
                    min-width: 30px;
                    padding:15px;
                    border-radius: 50%;
                    height: 30px;
                    .add-details-to-cart-text-holder {
                        display: none;
                    }
                    .icon {
                        width: 15px;
                        margin: 0px;
                    }
                }
            }
        }

        &__info-more {
            display: flex;
            justify-content: space-between;
            margin: 0 rem(-4);
            align-items: flex-end;
            @include helper-breakpoint-media-max($sm-max) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__info-more-col {
            padding: 0 rem(4);
        }

        &__info-more-col:nth-child(1) {
            color:gray;
        }

        &__info-more-col:nth-child(2) {
            @include helper-breakpoint-media-max($sm-max) {
                margin-top: 10px;
                font-weight: bold;
            }
        }

        &__sale-volume {
            padding-bottom: rem(3);
            color: $setting-color-gray-13;
            font-size: rem(12);
            line-height: 1.5;
        }

        &__additional-info {
            margin: rem(10) rem(10) 0;

            @include helper-breakpoint-media-min($md-min) {
                margin-left: rem(11);
                margin-right: rem(11);
            }
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &--product-set {
            #{$name}__overlay {
                padding-top: rem(20);
                padding-bottom: rem(20);

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: rem(30);
                    padding-bottom: rem(30);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name}__actions-container {
                padding: 0 rem(7);
            }
        }

        @content;
    }
}

@include shop-ui-product-item();
