@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;
        padding: 0 rem(5) rem(30);
        z-index: 0;
        font-family: $setting-font-family-additional;
        display: flex;
        align-items: flex-end;
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .add-bin {
            background: url('../images/bin-new.svg') center no-repeat;

            &:hover {
                background: url('../images/bin-new-green.svg') center no-repeat;
            }
        }

        .add-bin-cz {
            background: url('../images/bin-green-cz.svg') center no-repeat;

            &:hover {
                background: url('../images/bin-green-hover-cz.svg') center no-repeat;
            }
        }

        .font-cz {
            font-family: $setting-font-family-fira-sans;
        }

        .supplier {
            font-weight: 700;
            color: #898F87;
        }

        .new_cart {
            margin-right: 10px;
        }

        &--catalog {
            padding-bottom: rem(15);

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 rem(15) rem(30);
            }
        }

        &__overlay {
            display: block;
            padding: 0;
            position: relative;

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(10) rem(20);

                .no-touch &:hover {
                    #{$name}__image-button {
                        @include helper-visibility-visible;
                    }
                }
            }
        }

        &__image-button {
            position: absolute;
            bottom: rem(25);
            right: rem(20);

            @include helper-breakpoint-media-min($md-min) {
                @include helper-visibility-visible;

                .no-touch & {
                    @include helper-effect-transition(box-shadow visibility opacity);
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &__container {
            background-color: $setting-color-stonegray;
            display: flex;
            color: $setting-color-tentgray;
            border: rem(1) solid $setting-color-border-stonegray;

            .money-price {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                min-height: rem(70);

                @include helper-breakpoint-media-max($md-max) {
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: baseline;
                    min-height: auto;
                }
            }

            .money-price__amount {
                padding-right: rem(10);
            }

            .label-group {
                top: rem(15);
            }

            @include helper-breakpoint-media-max($sm-max){
                background-color: $setting-color-white;

                .product-item__content-wrapper {
                    min-height: rem(175);
                }

                .add-to-cart-btn {
                    background-color: $setting-color-stonegray;
                    padding: rem(10);
                }
                .product-item__content-top {
                    padding: rem(10);
                }
            }

            .button--with-icon, .change-cart-counter {
                width: 90%;
                justify-content: center;

                @include helper-breakpoint-media-max($sm-max){
                    width: 70%;
                    justify-content: space-between;
                }
            }

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-tentgray;

                #{$name}__image-wrap {
                    box-shadow: none;
                }
            }

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        }

        &__image-wrap {
            cursor: pointer;
            position: relative;
            overflow: hidden;
            background-color: $setting-color-white;
            clip-path: ellipse(123% 100% at 50% 0%);
        }

        &__content-wrapper {
            font-family: $setting-font-family-additional;
            display: flex;
            flex-grow: 1;
        }

        &__content-top {
            display: flex;
            flex-direction: column;
            padding: rem(10);
            min-height: rem(130);
            flex-grow: 1;
            cursor: pointer;
        }

        &__info {
            display: block;
            margin-bottom: rem(6);

            @include helper-breakpoint-media-min($md-min) {
                min-height: rem(41);
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__name {
            text-decoration: none;
            font-weight: 700;
            font-size: rem(16);
            line-height: rem(24);
            letter-spacing: rem(0.1);
            color: $setting-color-tentgray;

            &:hover {
                color: $setting-color-globusCZ-hover;
                text-decoration: none;
            }
        }

        .add-to-cart-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: rem(25);

            @include helper-breakpoint-media-max($sm-max){
                justify-content: center;
            }

            a {
                &:hover {
                    background-color: transparent;
                }
                .icon-cart, .icon-basketplus {
                    font-size: rem(18);
                    margin-right: rem(10);
                }

                .add-details-to-cart-text-holder {
                    font-size: rem(11);
                }
            }

            .change-cart-counter {
                width: 90%;
                display: flex;
                justify-content: space-between;
                background-color: $setting-color-white;
                border-radius: rem(25);

                @include helper-breakpoint-media-max($md-max) {
                    width: 40%;
                    margin: rem(8);
                }

                .message {
                    width: rem(190);
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: absolute;
                    bottom: rem(115);
                    padding: rem(10);
                    background-color:#7b7b7b;
                    color: #fff;
                    z-index: 1;

                    &.is-hidden {
                        display: none !important;
                    }

                    .checkmark {
                        position: relative;
                        top: -4px;
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 22px;
                        width: 11px;
                        border-bottom: 2px solid $setting-color-globus-white;
                        border-right: 2px solid $setting-color-globus-white;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 48%;
                        margin-left: -5px;
                        border-top: 19px solid $setting-color-globus-darkGray-2;
                        border-bottom: 19px solid transparent;
                        border-right: 8px solid transparent;
                        border-left: 8px solid transparent;
                    }
                }

                .message-cz {
                    font-size: rem(12);
                }

                .txt-product-quantity {
                    width: 70%;
                    text-align: center;
                    outline: none;
                    border: none;

                    @include helper-breakpoint-media-max($md-max) {
                        padding-left: 0;
                        width: 40%;
                        margin: 0;
                    }
                }

                .js-ajax-change-quantity__link {
                    display: inline-block;
                    text-align: center;
                    font-size: rem(16);
                    padding: rem(5) rem(10);
                    text-decoration: none;
                    border-radius: 100%;

                    &--border-cz {
                        border: rem(2) solid $setting-color-globusCZ-main-green;
                    }

                    &--border {
                        border: rem(2) solid $setting-color-fresh-orange;
                    }

                    &.js-quantity-counter-product__decr {
                        width: rem(40);
                        color: $setting-color-fresh-orange;
                        transition-duration: 0.25s;
                        &:hover {
                            color: $setting-color-forest-green;
                            border: rem(2) solid $setting-color-forest-green;
                        }
                    }

                    &.js-quantity-counter-product__decr-cz {
                        width: rem(40);
                        color: $setting-color-globusCZ-main-green;
                        transition-duration: 0.25s;
                        &:hover {
                            color: $setting-color-globusCZ-hover;
                            border: rem(2) solid $setting-color-globusCZ-hover;
                        }
                    }
                    &.js-quantity-counter-product__incr {
                        width: rem(40);
                        color: $setting-color-fresh-orange;
                        transition-duration: 0.25s;
                        &:hover {
                            color: $setting-color-forest-green;
                            border: rem(2) solid $setting-color-forest-green;
                        }
                    }

                    &.js-quantity-counter-product__incr-cz {
                        width: rem(40);
                        color: $setting-color-globusCZ-main-green;
                        transition-duration: 0.25s;
                        &:hover {
                            color: $setting-color-globusCZ-hover;
                            border: rem(2) solid $setting-color-globusCZ-hover;
                        }
                    }

                    @include helper-breakpoint-media-max($sm-max) {
                        height: auto;
                        margin: 0;
                    }
                }
            }

            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                text-align: right;
                border-top: 1px solid $setting-color-lighter;
                width: 100%;
                padding: 8px 1px 3px;

                a {
                    justify-content: center;
                    padding: rem(15);
                    height: rem(40);
                    margin: 0 rem(8) rem(6) 0;
                    .add-details-to-cart-text-holder {
                        font-weight: 900;
                    }
                }

                .icon--product-item-new-cart {
                    margin-right: rem(10);
                }
            }
        }
        &__hidden-number-arrows {
            -webkit-appearance: none;
        }

        &__info-more {
            color: $setting-color-light-tentgray-4;
        }

        &__info-more-col {
            cursor: pointer;
            padding-bottom: rem(10);

            .money-price{

                &__amount{
                    font-size: rem(25);
                    font-weight: 600;
                }
                &__amount--original{
                    font-size: rem(15);
                    font-weight: 400;
                    color: $setting-color-globus-black;
                    text-decoration-color: $setting-color-alt-4;
                }
            }
        }
        &__sale-volume {
            padding-bottom: rem(3);
        }

        &__additional-info {
            margin: rem(10) rem(10) 0;

            @include helper-breakpoint-media-min($md-min) {
                margin-left: rem(11);
                margin-right: rem(11);
            }
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &--product-set {
            #{$name}__overlay {
                padding-top: rem(20);
                padding-bottom: rem(20);

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: rem(30);
                    padding-bottom: rem(30);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name}__actions-container {
                padding: 0 rem(7);
            }
        }

        .lazy-thumbnail__image {
            height: auto;
        }

        @content;
    }
}

@include shop-ui-product-item();
