@mixin shop-ui-product-item($name: '.product-item') {
    #{$name} {
        position: relative;
        padding: 0 rem(5) rem(30);
        z-index: 0;
        font-family: "Clearface-Medium", Arial, sans-serif;

        @include helper-breakpoint-media-min($md-min) {
            padding: 0 rem(15) rem(30);
        }

        @include helper-breakpoint-media-max($sm-max) {
            padding: 0 rem(15) 0;
            margin-bottom: 15px;
            margin-top: 0px;
        }

        .button_center_align
        {
            padding: 10px 10px 10px 10px;
            justify-content: center;
            margin: 0 auto;

            @include helper-breakpoint-media-max($lg-max) {
                min-width: auto;
                font-size: 12px;
            }
            @include helper-breakpoint-media-max($l-max) {
                min-width: auto;
            }
        }

        &--catalog {
            padding-bottom: rem(15);

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 rem(15) rem(30);
            }
        }

        &__image-wrap {

            cursor: pointer;
            position: relative;
            overflow: hidden;
            z-index: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-top: rem(35);

            @include helper-breakpoint-media-max($sm-max){
                max-height: 130px;
            }
            @include helper-breakpoint-media-max($md-max) {
                height:auto;
                justify-content: flex-start;
            }
            @include helper-breakpoint-media-max($sm-max){
                padding-top: 0;
            }
            a {
                &:hover {
                   color:$setting-color-globus-darkOrange;
                }
            }
        }

        &__overlay {
            display: block;
            padding: 0;
            position: relative;

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(10) rem(20);

                .no-touch &:hover {
                    #{$name}__image-button {
                        @include helper-visibility-visible;
                    }
                }
            }
        }

        &__image-button {
            position: absolute;
            bottom: rem(25);
            right: rem(20);

            @include helper-breakpoint-media-min($md-min) {
                @include helper-visibility-visible;

                .no-touch & {
                    @include helper-effect-transition(box-shadow visibility opacity);
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &__container {
            transition: 1s;
            &:hover {
                box-shadow: 0px 0px 20px $setting-color-globus-lightOrange;
            }
            position: relative;
            z-index: 0;
            display: flex;
            flex-direction: column;
            @include helper-breakpoint-media-max($sm-max) {
                flex-direction: row;
                padding-bottom: 0;
            }

            @include helper-breakpoint-media-max($smd-max) {
                .image-link {
                    width: 85%;
                }
            }

            height: 100%;
            color: $setting-color-black;
            background: $setting-color-white;
            padding-bottom: rem(14);
            border-radius: rem(2);
            border: rem(1) solid $setting-color-gray-1;

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-black;

                #{$name}__image-wrap {
                    box-shadow: none;
                }
            }

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            &--stretch {
                min-height: rem(400);
            }
        }

        &__content-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 rem(20);
            flex-grow: 1;
            @include helper-breakpoint-media-max($sm-max) {
               padding-top: 0;
               padding-bottom: 0;
            }

            @include helper-breakpoint-media-max($l-max){
                padding: 0.8rem;
            }

        }

        &__content-top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            cursor: pointer;

            @include helper-breakpoint-media-max($sm-max) {
                padding-top: 0.2rem;
            }
            @include helper-breakpoint-media-min($md-min) {
                padding-bottom: rem(4);
            }
        }

        &__info {
            display: block;
            margin-bottom: rem(6);

            @include helper-breakpoint-media-min($md-min) {
                min-height: rem(41);
                margin-bottom: 0;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__name {
            text-decoration: none;
            font-weight: fw(semibold);
            font-size: rem(16);
            line-height: 1.3;
            letter-spacing: rem(0.1);
            color: $setting-color-black;

            &:hover {
                color: $setting-color-globus-darkOrange;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max) {
               font-size: rem(14);
            }
        }

        .add-to-cart-btn {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            width: 100%;
            a {


                .icon-basketplus {
                    font-size: 23px;
                    margin-right: 14px;
                    @include helper-breakpoint-media-max($lg-max) {
                        margin-right: 6px;
                        font-size: 20px;
                        justify-content: center;
                    }

                    @include helper-breakpoint-media-max($l-max){
                       font-size: 20px;
                        margin-right: 8px;
                        justify-content: center;
                    }
                }

                .add-details-to-cart-text-holder {
                    font-size: 13px;
                }
            }

            .button-color-DE {
                background-color: $setting-color-main;
                &:hover {
                    background-color: $setting-color-globus-darkGreen;
                }
            }

            .button-color-CZ {
                background-color: $setting-color-globusCZ-main-green;
                &:hover {
                    background-color: $setting-color-globusCZ-main-green;
                }
            }

            @include helper-breakpoint-media-max($sm-max) {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                text-align: right;
                border-top: 1px solid $setting-color-lighter;
                width: 100%;
                padding: 8px 1px 3px;

                a {
                    justify-content: center;
                    width: 30px;
                    min-width: 30px;
                    padding:15px;
                    height: 30px;
                    margin: 0 8px 0 0;
                    .add-details-to-cart-text-holder {
                        display: none;
                    }

                    .icon-basketplus {
                        font-size: 16px;
                        margin-right: 0px;
                    }

                    .icon {
                        width: 15px;
                        margin: 0px;
                    }
                }
            }
        }

        &__info-more {
            display: flex;
            justify-content: space-between;
            margin: 0 rem(-4);
            align-items: flex-end;

            @include helper-breakpoint-media-max($sm-max) {
                flex-direction: column;
                align-items: flex-start;
                line-height: 1.3;
            }
        }

        &__info-more-col {
            padding: 0 rem(4);
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            .money-price{
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;
                flex-direction: row;
                margin-right: 15px;


                @include helper-breakpoint-media-max($sm-max) {
                    padding: 0;
                    text-align: right;
                    margin-right: 15px;
                    align-items: center;
                }


                &__amount{
                    font-size: 1.3rem;
                    margin-bottom: 17px;
                    margin-right: 10px;

                    @include helper-breakpoint-media-max($sm-max) {
                        font-size: 22px;
                        margin-bottom: 0;
                        &:nth-child(1) {
                            margin-right: 10px;

                        }
                    }
                }
                &__amount--original{
                    font-size: .875rem;
                    margin-top: 5px;
                    color: $setting-color-globus-black;
                }
            }
        }

        &__info-more-col:nth-child(1) {
            color:$setting-color-black;

        }

        &__info-more-col:nth-child(2) {
            @include helper-breakpoint-media-max($sm-max) {
                margin-top: 10px;
                font-weight: bold;
                width: 100%;
                z-index: 1;
                cursor: pointer;

            }
        }

        &__sale-volume {
            padding-bottom: rem(3);
            color: $setting-color-gray-13;
            font-size: rem(12);
            line-height: 1.5;
        }

        &__additional-info {
            margin: rem(10) rem(10) 0;

            @include helper-breakpoint-media-min($md-min) {
                margin-left: rem(11);
                margin-right: rem(11);
            }
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &--product-set {
            #{$name}__overlay {
                padding-top: rem(20);
                padding-bottom: rem(20);

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: rem(30);
                    padding-bottom: rem(30);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name}__actions-container {
                padding: 0 rem(7);
            }
        }

        .lazy-thumbnail__image {


            @include helper-breakpoint-media-max($md-max) {
                max-height: 160px;
                height: auto;
            }

            @include helper-breakpoint-media-max($sm-max) {
                max-height: 70px;
                height: auto;
            }
        }

        @content;
    }
}

@include shop-ui-product-item();
