@mixin product-image-widget-image-gallery($name: '.image-gallery') {
    #{$name} {
        position: relative;
        min-width: fit-content;

        &__container {
            position: relative;
            z-index: $setting-zi-element;
            background: $setting-color-white;
            display: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: $setting-zi-element + 1;
                border: rem(1) solid $setting-color-gray-14;
                border-radius: rem(4);
            }

            &--single-image {
                display: block;
                height: rem(280);

                @include helper-breakpoint-media-max($md-max) {
                    display: none !important;
                }
            }

            @include helper-breakpoint-media-min($lg-min) {
                display: block;
                height: rem(400);
            }

            @include helper-breakpoint-media-min($xl-min) {
                height: rem(500);
            }
        }

        &__item {
            @include helper-effect-transition(opacity);
            position: absolute;
            left: 0;
            top: 0;
            height: rem(280);
            padding: rem(15) rem(16);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: $setting-zi-element - 1;
            background: $setting-color-white;

            &--active,
            &--color-active {
                opacity: 1;
            }

            .js-lazy-image__content {

                @include helper-breakpoint-media-max($md-max) {
                    max-width: rem(570) !important;
                    max-height: rem(500) !important;
                }
            }

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(30);
                height: rem(400);
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding: rem(30);
                height: rem(500);
            }

            @include helper-breakpoint-media-min($xxl-min) {
                padding: rem(30);
                height: rem(500);
            }
        }

        &__image {
            max-width: 100%;
            max-height: rem(250);

            @include helper-breakpoint-media-min($lg-min) {
                max-height: 100%;
            }
        }

        @content;
    }

    #mobile-slider {
        display: none;

        @include helper-breakpoint-media-max($md-max) {
            margin: rem(30) 0;
            display: block;
            width: 100%;
            height: rem(300);
            text-align: center;
        }
    }

    .mobile-slider--image {
        width: 100% !important;
    }
}

@include product-image-widget-image-gallery();
