$setting-item-border-radius: rem(8);

@mixin multi-picking-additional-order-buttons($name: '.multi-picking-additional-order-buttons') {

    @media screen and (max-width: 370px) {
        .button {
            height: 2.2rem !important;
            padding: rem(3) rem(6);
        }
    }

    #{$name} {

        @include helper-breakpoint-media-max($sm-max)  {
            min-height: 6rem;

            .additional-order-buttons-from-overview {
                position: fixed;
                bottom: rem(5);
                left: rem(1);
                width: 100%;
                min-width: 340px;
                padding: 0 rem(8);
            }
        }

        .button--ubersicht,
        .button--addContainers,
        .button--posListe {
            width: 100%;
            background-color: white;
            border: 1px solid $setting-color-gray-10;
            color: $setting-color-gray-10;
            font-size: rem(10);
        }

        .button--disabled {
            border: 1px solid $setting-color-gray-11;
            color: $setting-color-gray-11;
        }

        &__selected-form{
            background-color: $setting-color-green !important;
            color: $setting-color-white !important;
            cursor: default;
        }

        &__spacing{
            padding: rem(0) rem(2);
        }
    }
}

@include multi-picking-additional-order-buttons();
