@mixin shop-ui-page-layout-main($name: '.page-layout-main') {
    #{$name} {
        [unresolved] {
            display: none;
        }

        .slot3-container{
            .slick-carousel__container {
                position: relative;
                display: flex;
                align-items: center;
                padding-bottom: rem(30);
                justify-content: space-between;
            }

            .slick-arrow {
                position: relative;
                font-size: 0;
                top: 0;
                width: rem(90);
                height: rem(30);
                background: url('../images/right-chevron-slider.svg') no-repeat center / rem(15);
                border-radius: 50%;
                z-index: $setting-zi-element + 1;

                &:hover {
                    background-color: $setting-color-white;
                    opacity: 1;
                    cursor: pointer;
                }

                @include helper-breakpoint-media-max($sm-max){
                    width: rem(180);
                }
            }

            .slick-prev {
                left: rem(-10);
                transform: rotate(180deg);
            }

            .slick-next {
                left: rem(10);
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .category-title {
            font-family: $setting-font-family-additional;
            color: $setting-color-tentgray;
            font-size: rem(31);
            font-weight: fw(semibold);
        }

        .category-number-of-products{
            font-family: $setting-font-family-additional;
            color: $setting-color-stonegray-2;
            font-size: rem(20);
            font-weight: fw(medium);
        }

        &__content {
            flex-grow: 1;
            flex-shrink: 0;

            @include helper-breakpoint-media-between($min: 300px, $max: 991px) {
                margin-top:0;
            }

            .spacing-bottom--inner.spacing-bottom--bigger {
                @include helper-breakpoint-media-max($sm-max) {
                    padding-bottom: 5px;
                    font-weight: 400;
                }
            }

            .spacing-y--big {
                @include helper-breakpoint-media-max($sm-max) {
                    margin-top:0;
                    margin-bottom: 10px;
                }
            }
            .spacing-x {

                .floatLeft{
                    @include helper-breakpoint-media-max($lg-max) {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .allArticle {
                    @include helper-breakpoint-media-max($sm-max) {
                        background-color: $setting-color-lighter;
                        padding: rem(5) rem(8);
                        margin-top: rem(8);
                    }

                    .ihreArticle{
                        @include helper-breakpoint-media-min($xl-min){
                            display: none;
                        }
                    }

                    }
                .buttonRight{
                    @include helper-breakpoint-media-max($md-max){
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        justify-content: flex-end;
                        margin-top: rem(-40);
                    }
                }

                .bttnStyle {
                    @include helper-breakpoint-media-max($sm-max) {
                        padding: rem(4) rem(35);
                        margin-top: rem(1);
                        margin-bottom: rem(15);
                        font-size: rem(17);
                    }
                }
                .bttnStyle-CZ {
                    @include helper-breakpoint-media-max($sm-max) {
                        margin-top: rem(1);
                        margin-bottom: rem(15);
                        font-size: rem(16);
                    }
                }

                .headline-cart {
                    padding: rem(16) 0 0 0;
                    font-size: rem(30);
                    font-weight: fw(medium);
                    @include helper-breakpoint-media-min($xl-min) {
                        padding-bottom: rem(8);
                    }

                    @include helper-breakpoint-media-max($sm-max) {
                        padding-block: rem(7);
                        padding-bottom: rem(14);
                    }

                }

                .headline-cart-CZ {
                    padding: rem(16) 0;
                    font-family: $setting-font-family;
                    font-weight: fw(medium);

                    @include helper-breakpoint-media-min($xl-min) {
                        padding-bottom: rem(8);
                    }
                    @include helper-breakpoint-media-max($sm-max) {
                        padding-block: rem(7);
                        padding-bottom: rem(8);
                        font-size: rem(18);
                    }

                }

                .header-articles {
                    font-size: rem(16);
                    @include helper-breakpoint-media-max($lg-max){
                        display: none;
                    }
                    background-color: $setting-color-lighter;
                    height: 33px;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    padding-left: 24px;
                }
                .product {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .header-cart-title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .product__item {
                    padding: rem(5) rem(135)
                }
                .product__item1 {
                    padding: rem(5) rem(137);
                }
                .product__item1-CZ {
                    padding: rem(5) rem(100);
                }
                .product__item2 {
                    padding: rem(5) rem(1);
                }
                .product__item2-CZ {
                    padding: rem(5) rem(0);
                }
                .product__item3 {
                    padding: rem(5) rem(70) rem(5) rem(58);
                }
            }
            .sorting-toggler {
                .toggler-item {
                    .title {
                        font-size: inherit;
                        height: rem(38);
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        .select2-selection--single {
            display: flex !important;
            height: rem(40) !important;
            align-items: center !important;
        }

        &__content-pdp {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .display-none{
            display: none !important;
        }

        &__sidebar-pdp {
            width: 100%;

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(40) 0 0 rem(30);
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding-left: rem(50);
                width: 45%;
            }

            @include helper-breakpoint-media-min($xxl-min) {
                width: 44.4%;
                padding-left: rem(90);
            }
        }

        &--error {

            .title--general {
                color: $setting-color-black;
            }

            #{$name}__main {
                display: flex;
                background: $setting-color-white;
                margin: 0 auto;
                min-height: rem(352);
                text-align: center;
                padding: rem(20);
                display: flex;
                justify-content: space-between;
                color: $setting-color-black;

                @include helper-breakpoint-media-min($lg-min) {
                    margin: rem(92) auto;
                    padding: rem(30);
                }

                @include helper-breakpoint-media-max($sm-max) {
                    display: flex;
                    flex-flow: column-reverse;
                }

                a {
                    color: $setting-color-white;
                }
            }
            #{$name}__icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: $setting-color-white;
                width: rem(62);
                height: rem(62);
                margin-bottom: rem(30);
                color: $setting-color-black;
            }
        }

        @include helper-breakpoint-media-max($l-max) {
            .col--lg-4 {
                width: 100%;
                min-width: 100%;
            }

            .col--lg-8 {
                width: 100%;
                min-width: 100%;
            }
        }

        @content;
    }
}

@include shop-ui-page-layout-main();
