{% extends template('page-layout-main') %}

	{% define data = {
        monitoring: _view.monitoring,
        redisKeys: _view.redis,
    } %}

	{% block content %}
        <div><h2>{{ data.monitoring }}</h2></div>

        {% for redisKey in data.redisKeys %}
            <div><h2>{{ redisKey.key }}</h2></div>
        {% endfor %}
    {% endblock %}
