{% extends model('component') %}

{% define config = {
    name: 'product-options',
} %}

{% define data = {
    options: null,
    pfandbetrag: ''
} %}

{% block component %}
    {% if data.options is not empty %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    <ul>
        <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }} grid">
            + {{ 'mail.order.confirmation.deposit' | trans }} {{ data.pfandbetrag | replace('.', ',') }}
        </li>
    </ul>
{% endblock %}
