{% define data = {
    result: ''
} %}

{% block test%}
    <form method="post">
        <label>HOST URL:</label>
        <input type="text" name="txtHostUrl" value="https://api-dev.globus.de/">
        <br />
        <label>URL:</label>
        <input type="text" name="txtUrl" value="v2/meinglobus/accounts/registrations/available">
        <br />
        <label>METHOD:</label>
        <input type="text" name="txtMethod" value="POST">
        <br />
        <label>Api key:</label>
        <input type="text" name="txtApiKey" value="">
        <br />
        <label>Api secret:</label>
        <input type="text" name="txtApiSecret" value="">
        <br />
        <label>Post param1:</label>
        <input type="text" name="txtParam1" value="">
        <br />
        <label>Post param2:</label>
        <input type="text" name="txtParam2" value="">

        <button type="submit">Submit</button>
    </form>
<div>
    <h1>API test</h1>
    <p>{{ result }}</p>
</div>
{% endblock %}
