@mixin content-banner-widget-banner-jumbotron-mobile($name: '.banner-jumbotron-mobile') {

    .jumbotron-slider-mobile {

        .slick-carousel__container {
            width: 90%;
            max-width: rem(1200);
            margin: auto;
            height: rem(400);
        }

    }

    #{$name} {
        border-radius: rem(4);
        overflow: hidden;

        &__desktop {
            background-size: 100%;
            background-position: center;
        }
        &__mobile {
            background-size: cover;
            background-position: center;
        }
        @include helper-breakpoint-media-max($md-max){
            &__desktop {
                display: none;
            }
        }
        @include helper-breakpoint-media-min($lg-min){
            &__mobile {
                display: none;
            }
        }

        &__container {
            height: rem(160);
            background: linear-gradient(to left top, $setting-color-gray-3, $setting-color-gray-4) no-repeat center / cover;
            text-align: center;
            position: relative;

            &--dark {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }

            @include helper-breakpoint(md) {
                height: rem(240);
            }

            @include helper-breakpoint(xl) {
                height: rem(400);
            }
        }

        &__link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: $setting-zi-element + 3;
        }

        &__content {
            height: rem(450);
            position: relative;
            z-index: $setting-zi-element + 2;
            max-height: rem(400);

            &--dark {
                padding: 0 rem(88);
            }
            @include helper-breakpoint-media-max($lg-max) {
                max-height: rem(240);
            }

            @include helper-breakpoint-media-max($sm-max){
                max-height: rem(160);
            }

        }

        &__title {
            color: $setting-color-white;
            font: fw(bold) rem(16)/1.25 $setting-font-family-additional;
            letter-spacing: rem(-0.8);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(34);
                line-height: 1.5;
            }

            @include helper-breakpoint-media-min($xl-min) {
                font-size: rem(57);
            }
        }

        &__text {
            color: $setting-color-white;
            font: fw(light) rem(11) $setting-font-family;
            letter-spacing: rem(0.2);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(16);
            }

            @include helper-breakpoint-media-min($xl-min) {
                font-size: rem(26);
            }
        }

        @content;
    }
}

@include content-banner-widget-banner-jumbotron-mobile();
