@mixin shop-ui-time-slot-position($name: '.time-slot-position') {
    #{$name} {
        .order-overview-with-time-slots {
            .time-slot-with-quantities {
                display: flex;
                justify-content: space-between;
                background: $setting-color-green;
                color:$setting-color-white;
                font-weight: bold;
                margin-bottom: 0;

                @include helper-breakpoint-media-max($xsm-max)  {
                    font-size:12px;
                }
                p {
                    &:first-child {
                        margin-left: 10px;
                    }

                    &:last-child {
                        margin-right: 10px;
                    }
                }
            }
            .order-group-by-time-slot {
                display: flex;
                background: $setting-color-gray-2;
                margin: 2px 0;
                padding: 8px;
                border-radius: 5px;
                position: relative;
                @include helper-breakpoint-media-max($sm-max)  {
                    justify-content: center;
                    align-items: center;
                }
                @include helper-breakpoint-media-max($xxsm-max) {
                    padding: 8px 0;
                }

                .order-status {
                    &.order-is-blocked {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius:50%;
                        border-color: $setting-color-white;
                        color: $setting-color-white;
                        background: $setting-color-globus-red;

                        .icon {
                            width: .8rem;
                            height: .8rem;
                        }

                        @include helper-breakpoint-media-max($xsm-max) {
                            display: inline-block;
                            text-align: center;
                            padding: 5px;

                            .icon {
                                display: block;
                                margin: 0 auto;
                                width: .7rem;
                                height: .7rem;
                            }
                        }
                    }
                }


                .select-order {
                    position: absolute;
                    right: 10px;

                    input {
                        width: 20px;
                        height: 20px;

                        &:checked {
                            background-color: $setting-color-green;
                        }
                    }
                }
                .order-info {
                    margin-left: 33%;

                    @include helper-breakpoint-media-max($sm-max)  {
                        margin-left: 8%;
                        font-size: 12px;
                        width: 100%;

                        @include helper-breakpoint-media-max($xxsm-max) {
                            margin-left: 5%;
                            font-size: 12px;
                            width: 75%;
                        }
                    }
                }
            }
        }
    }

    #confirm-multi-picking {
        min-height: 2rem;

        @include helper-breakpoint-media-max($xsm-max)  {

            button {
                position: fixed;
                bottom: rem(4);
                left: 0;
                width: 300px;
                right: 0;
                margin: 0 auto;
            }
        }
    }
}



@include shop-ui-time-slot-position();
