@mixin shop-ui-navigation-footer($name: '.navigation-footer') {
    #{$name} {
        &__col {
            width: 100%;

            @include helper-breakpoint-media-min($md-min) {
                width: 33%;
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding-right: rem(20);
            }
        }

        &--login {
            padding: 0 rem(15) !important;
        }

        &__subcategory {
            margin-right: rem(40);
        }

        @include helper-breakpoint-media-max($sm-max) {
            &__items-space {
                margin-bottom: rem(10);
            }
        }

        @content;
    }
}

@include shop-ui-navigation-footer();
