{% extends template('widget') %}

{% define data = {
    currentPickingZone: _widget.currentPickingZone,
} %}

{% block body %}
    {% if data.currentPickingZone %}
        <a href="/picker/select-picking-zone" class="button">
            {{ data.currentPickingZone.name }}
        </a>
    {% endif %}
{% endblock %}
