$setting-color-white: #fff;

$setting-color-gray-1: #d5d5d5;
$setting-color-gray-2: #6c6c6c;
$setting-color-gray-3: #71747c;
$setting-color-gray-4: #b7bec9;
$setting-color-gray-5: #9ea1a7;

$setting-color-green: #1bbea0;
$setting-color-green-alpha-1: rgba($setting-color-green, 0.4);

$setting-color-transparent: rgba($setting-color-white, 0);
$setting-color-alert: #cb3d49;

$setting-color-globus-orange: #ea8901;
$setting-color-globus-darkOrange: #ce6200;
$setting-color-globus-lightGreen: #b9dcc3;
$setting-color-globus-darkGreen: #007528;
$setting-color-globus-black: #333333;
$setting-color-globus-darkGray: #7c7c7c;
$setting-color-globus-lightGray: #f7f7f7;
$setting-color-globus-white: #ffffff;
