@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

$setting-font-family: 'Montserrat', sans-serif;
$setting-font-family-additional: 'Montserrat', sans-serif;
$setting-font-size-base: 16px;
