@mixin shop-ui-store-switcher ($name: '.store-switcher') {
    #{$name} {
        display: flex;
        align-items: center;
        margin-left: rem(10);

        &:hover {
            border-bottom: rem(3) solid $setting-color-forest-green;
            margin-bottom: rem(-3);
        }

        &-cz {

            width: rem(140);

            &:hover {
                border-bottom: rem(3) solid $setting-color-globusCZ-main-green;
                margin-bottom: rem(-3);
            }
        }

        &__edit {
            position: absolute;
            right: 0;
            pointer-events: none;
        }
    }
}

@include shop-ui-store-switcher();
