@mixin shop-ui-store-switcher ($name: '.store-switcher') {
    #{$name} {
        border-bottom: rem(3) solid $setting-color-forest-green;
        display: flex;
        align-items: center;
        margin-left: rem(10);
    }
}

@include shop-ui-store-switcher();
