{% extends template('page-layout-main') %}

{% block content %}
    <div class="text-center">
        <div class="grid grid--center spacing-bottom">
            <div class="col col--sm-3">
                <img src="{{publicPath('images/as-pl-logo.png')}}" alt="Logo">
            </div>
        </div>

        <h1>Willkommen in Ihrer Treiber-App</h1>
    </div>
{% endblock %}
