
@mixin shop-ui-popup-ui($name: '.popup-ui-login-form') {
    #{$name} {
        &--show {
            #{$name} {
                &__overlay {
                    display: flex;
                }
            }
        }

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            z-index: $setting-zi-popup;
            display: none;
            justify-content: flex-end;
            align-items: stretch;
            width: 100%;
            height: 100%;
            background-color: rgba($setting-color-black, 0.7);
        }

        &__container {
            flex-grow: 1;
            height: 100%;
            background-color: $setting-color-globus-lightGray;
            border-radius: 0;

            @include helper-breakpoint-media-min($xl-min) {
                width: 300px;
                flex-grow: 0;
            }
        }

        &__title {
            padding: 0.9rem 1.5rem 0.5rem;
            font: fw(bold) rem(18) $setting-font-family-additional;
            text-align: right;
            border-bottom: rem(1) solid $setting-color-globus-black;
        }

        &__title--text {
            color: black;
            text-align: left;
            float: left;
            padding-top: rem(6);
            font-size: rem(24);
        }

        &__close {
            color: $setting-color-globus-lightOrange;
            text-align: right;
            cursor: pointer;
            font-size: rem(24);
            background-color: transparent;
            margin: rem(10) -10px 0 0;
        }

        &__content {
            padding: rem(10);

            .link-cursor {
                cursor: pointer;
                text-decoration: none !important;
            }

            .link-cursor-registration {
                color: $setting-color-globus-lightOrange;
                cursor: pointer;
                text-decoration: none !important;
            }

            .box-separator {
                border-bottom: 1px solid $setting-color-gray-13;
                margin-bottom: 1rem !important;
                margin-top: 1rem !important;
            }
        }
    }
}

@include shop-ui-popup-ui();
