{% extends template('page-layout-main') %}

{% define data = {
    activities:activities,
} %}


 {% block header %}
     {% embed organism('header') only %}
         {% block selectPickingZone %}{% endblock %}
     {% endembed %}
 {% endblock %}


{% block content %}
    <div class="form btn-holder">
        {% for activity in data.activities %}
                <a class="button btn-section" href="{{ activity.path }}">{{ activity.name | trans }}</a>
        {% endfor %}
    </div>
    <h4>Version 3.0</h4>
    <p>19.03.2021 14:46</p>
{% endblock content %}


