@mixin shop-ui-icon-row($name: '.icon-row') {
    #{$name} {
        display: flex;
        align-items: center;

        &--center {
            justify-content: center;
        }

        &--frozen {
            padding: rem(5) 0;
            color: $setting-color-blue-light;
        }

        &--list {
            #{$name} {
                &__col {
                    &:first-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &--round {
            padding: rem(7);
            border-radius: rem(20);
            background: $setting-color-white;
        }

        &--age {
            min-width: rem(85);
            font-size: rem(17);
            color: $setting-color-white;
            background: map-get($setting-color-actions, success);
            opacity: 0.4;
        }

        &--error {
            background: map-get($setting-color-actions, alert);
        }

        &--small {
            padding: rem(3);

            #{$name} {
                &__icon {
                    width: rem(18);
                    height: rem(18);
                }
            }
        }

        &__col {
            display: flex;

            &:first-child {
                margin-right: rem(7);
            }
        }

        &__link {
            color: $setting-color-blue-midi;
        }

        &__text {
            color: $setting-color-blue-midi;
        }
    }
}

@include shop-ui-icon-row();
