@mixin shop-ui-navigation-top-mobile-item ($name: '.navigation-top-mobile-item') {

    .remove-search-icon-header {
        display: none;
    }
    #{$name} {

        &__item {
            padding: rem(8);
            color: $setting-color-globus-lightOrange;
            width: 100%;
            height: 100%;

            @include helper-breakpoint-media-max($sm-max) {
                padding-bottom: 0;
            }

        }
        @include helper-breakpoint-media-max($sm-max) {
            .icon {
                width: rem(35);
                height: rem(20);
            }
        }

    }
}

@include shop-ui-navigation-top-mobile-item();
