@mixin shop-ui-navigation-top-mobile-item ($name: '.navigation-top-mobile-item') {

    .remove-search-icon-header {
        display: none;
    }
    #{$name} {
        &__item {
            padding: rem(8);
            color: $setting-color-globus-lightOrange;
        }
    }
}

@include shop-ui-navigation-top-mobile-item();
