@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        position: relative;
        display: inline-block;
        margin-bottom: rem(5);

        &__container {
            display: flex;
            align-items: center;
        }

        .gdpr-form {
            display: flex;
            align-items: flex-start;
            .checkbox__label {
                font-family: $setting-font-family-additional;
                font-size: rem(12);
                font-weight: normal;
                color: $setting-color-tentgray;

                @include helper-breakpoint-media-max(525px) {
                    font-size: rem(10);
                }

                @include helper-breakpoint-media-max($xs-max) {
                    font-size: rem(7);
                    line-height: rem(12);
                    margin-top: rem(5);
                }
            }
            .link {
                color: $setting-color-fresh-orange;
                text-decoration: none;
            }
            .checkbox__input:checked ~ .checkbox__label  {
                    color: $setting-color-light-tentgray-2;
            }

            .checkbox__input-CZ:checked ~ .checkbox__label{
                    color: $setting-color-light-tentgray-2;
            }
        }

        &__box {
            @include helper-effect-transition;
            display: inline-block;
            width: rem(32);
            min-width: rem(20);
            height: rem(32);
            border: rem(1) solid $setting-color-input-border-tentgray;
            border-radius: rem(2);
            background-color: $setting-color-white;
            margin-right: rem(8);
            text-align: center;
            vertical-align: top;
            cursor: pointer;
            position: relative;
        }

        &__input {
            opacity: 0;
            pointer-events: none;
            position: absolute;
        }

        &__check {
            @include helper-effect-transition;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: rem(7);
            transform: translate(0, -50%);
            color: $setting-color-white;
        }

        &__input:checked {
            & + #{$name}__box {
                border-color: $setting-color-input-border-tentgray;
                background: $setting-color-forest-green;

                &:hover {
                    background-color: #008B3E;
                }

                #{$name}__check {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            & ~ #{$name}__label {
                color: $setting-color-globus-darkOrange;
            }
        }

        &__input-CZ:checked {
            & + #{$name}__box {
                border-color: $setting-color-forest-green;
                background: $setting-color-forest-green;

                #{$name}__check {
                    opacity: 1;
                    pointer-events: all;
                }
            }

            & ~ #{$name}__label {
                color: $setting-color-tentgray;
            }
        }

        &__input:focus + #{$name}__box {
            border-color: $setting-color-fresh-orange-2;
        }

        &__label {
            line-height: rem(18);
            font-weight: fw(medium);
            color: $setting-color-gray-9;
        }

        &--expand {
            display: block;
        }

        &--error &__box {
            border-color: map-get($setting-color-actions, alert);
        }

        &[disabled] &__box,
        &--disabled &__box {
            background-color: $setting-color-gray-3;
            cursor: not-allowed;
        }

        @content;
    }
}

@include shop-ui-checkbox();
