// navigation

$colorUrl: #676a6c;
$colorUrlHover: #1cbb9e;

.replacmenet-icon {
    width: 2.5rem;
}

.overview-nav {
    margin-bottom: 30px;
    border-left: 1px solid #ccc;
}

.overview-nav .nav-item {
    width: 14.285%;
    max-width: 142px;
    text-align: center;
}

.overview-nav .nav-item > div {
    border-width: 1px 1px 1px 0;
    border-color: #ccc;
    border-style: solid;
}

.overview-nav .nav-item > div > a {
    &:hover {
        color: $colorUrlHover;

        span.icon,
        span.text {
            color: $colorUrlHover;
        }
    }

    span.text {
        color: $colorUrl;
    }

    span.icon {
        display: block;
        font-size: 50px;
        line-height: 80px;
        color: $colorUrl;

        @media (max-width: 550px) {
            font-size: 25px;
            line-height: 50px;
        }
    }
}

.filters-holder #location {
    width: 145px;
    padding: 2px;
}
.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
    padding: 2px;
    z-index: 1000000;
    position: fixed;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    background: red;
}

.overview-nav .nav-item .text {
    font-size: 18px;

    @media (max-width: 900px) {
        font-size: 12px !important;
    }

    @media (max-width: 550px) {
        display: none;
    }
}

// details

$chat-box-radius: 6px;
$chat-box-background-color: #f0f0f0;

.chat {
    font-size: 11px;
    margin-bottom: 20px;

    .chat-author {
        font-size: 12px;
        margin: 0;

        span {
            background: $chat-box-background-color;
            padding: 5px;
            border-top-left-radius: $chat-box-radius;
            border-top-right-radius: $chat-box-radius;
        }
    }

    .chat-body {
        background: $chat-box-background-color;
        padding: 5px 5px 10px;
        border-top-right-radius: $chat-box-radius;
        border-bottom-left-radius: $chat-box-radius;
        border-bottom-right-radius: $chat-box-radius;
    }
}

.order-details-chat {
    max-height: 250px;
    overflow: scroll;
}

.chat-form {
    padding-top: 10px;

    .col-xs-12 {
        margin-bottom: 5px;
    }
}

.is-hidden .show-less,
.is-shown .show-more {
    display: none;
}

.more-history {
  color: #337ab7;
}

.addition-row {
    td {
        border-top: none !important;
    }
}

.subtotal-row {
    background-color: #e7eaec;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grandTotal-row {
    background-color: #e7eaec;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.product-image {
  width: 100px;
  border: 1px solid #e7eaec;

    &--small {
        width: 60px;
    }

    &--borderless {
        border: none;
    }
}

.image-wrap {
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

span.discounted {
    text-decoration: line-through;
    color: #aaa;
}

#order-item-list {
    border-collapse: separate;
    border-spacing: 0 1em;

    tr {
        td {
            width: auto;
        }
    }
}
.table > tbody.single-item {
    border-top: none;
}

.table > tbody.product-bundle {
    border-bottom: 1px;
    border-top: none;
}

.state-history {
    width: 300px;
}
.pickingZoneHeader {
    position: relative;
    border: none;
    font-size: 16px;
    background: #f2f2f2;
    cursor: pointer;

    .icons-holder {
        display: flex;
        flex-direction: row;
        align-items: center;

        .arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            position: absolute;
            right: 15px;
        }

        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.cell-with-no-border {
    border: none;
}


.picking-zone-item {
    position: relative;
    cursor: pointer;

    td {
        div {
            a {
                font-size: 14px;
                color: #000;
            }
        }

    }

    &.header-row {
        td {
            border-bottom: 1px solid #e7eaec;
        }
    }
    .arrow {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        margin-top: 15px;
        padding: 4px;
        position: absolute;
        right: 50px;
    }
    &.nested-element {
        td {
            border: none;
            padding: 0;
        }
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.sku {
    color: gray;
    font-size: 12px;
}

.variant-details {
    margin-top: 10px;

    h3 {
        font-size: 12px;
        margin-bottom: 2px;
    }
}

.tax-info {
    color: #aaa;
    font-size: 10px;
}

a.edit_billing_address {
    margin-left: 5px;
}

.grid {
    display: flex;
}
.reset-picking-zone .btn-primary {
    background: transparent;
    color:#1BBEA0;
    border: none;
    font-weight:bold;
    padding-left: 4px;
    margin: 0;
    display: inline-block !important;
    &:focus {
        background: none;
        color:#1BBEA0;
        border: none;
        font-weight:bold;
    }
}
.reset-icon {
    width: 20px;
    padding-top: 4px;
    margin-left: 10px;
    margin-right: 0px;
    color: #1BBEA0;
}

.bottom-indent {
    margin-bottom: 25px;
}

.bottom-border {
    border-bottom: 1px solid #e7eaec;
}

.trigger-order-event {
    margin-right: 5px;
}

dd {
    margin-bottom: 5px;
}

.oms-trigger-form {
    display: inline-block;
    margin-right: 3px;

    .form-group {
        margin-bottom: 0;
    }
}

.order-item-picker-name {
    vertical-align: inherit !important;
}

.iframe-loader {
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='13' width='4' height='5' fill='%23333'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='10' y='13' width='4' height='5' fill='%23333'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='20' y='13' width='4' height='5' fill='%23333'%3E%3Canimate attributeName='height' attributeType='XML' values='5;21;5' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='13; 5; 13' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3C/svg%3E%0A") center no-repeat;
}

