@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        width: rem(170);
        height: rem(63);
        padding: 0;
        margin: 0 auto;

        &__image {
            max-height: inherit;
        }

        &--header {
            position: relative;
            width: rem(100);
            padding: 0 0 rem(46);
            margin: 0;

            #{$name} {
                &__image {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 65%;
                    @include helper-breakpoint-media-max($sm-max) {
                        width: 60px;
                        top:11px;
                    }
                }
            }
        }
    }
}

@include shop-ui-logo();
