@mixin warning-and-notes($name: '.warning-and-notes') {
    #{$name} {
        color: $setting-color-globus-darkGray;

        .description {
            font-weight: bold;
            color: #000;
        }
    }
}

@include warning-and-notes();
