@mixin checkout-page-summary-sidebar($name: '.summary-sidebar') {
    #{$name} {
        &__item {
            background-color: $setting-color-gray-2;
            padding: rem(15);
            border-radius: rem(4);
            margin-bottom: rem(15);

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(30);
                margin-bottom: rem(30);
            }

            &.payback-banner {
                .payback-form-holder {
                    margin-top: 10px;

                    .form_payback {

                        .input-holder {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            margin-top: 10px;

                            .input-text {
                                position: relative;
                                width: 70%;

                                .tooltip-background {
                                    position: absolute;
                                    top: 8px;
                                    right: 5px;

                                    .position-tool-tip {
                                        position: relative;
                                        .question__mark {
                                            width: 1rem;
                                            cursor: pointer;
                                        }
                                        &:hover {
                                            .tooltip-information {
                                                visibility: visible;
                                                opacity: 1;
                                            }
                                        }
                                        .tooltip-information {
                                            visibility: hidden;
                                            width: 400px;
                                            background-color: #e5ecf6;
                                            color: #000;
                                            text-align: center;
                                            padding: 5px 0;
                                            position: absolute;
                                            z-index: 1;
                                            bottom: 166%;
                                            left: -890%;
                                            margin-left: -60px;
                                            opacity: 0;
                                            transition: opacity .5s;
                                            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                                            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                                            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

                                            &:after {
                                                content: "";
                                                position: absolute;
                                                top: 100%;
                                                left: 50%;
                                                margin-left: -5px;
                                                border-top: 19px solid #e5ecf6;
                                                border-bottom: 19px solid transparent;
                                                border-right: 15px solid transparent;
                                                border-left: 15px solid transparent;
                                            }


                                        }
                                    }
                                }
                            }

                                input[type=text], select, textarea {
                                    width: 100%;
                                    padding: 12px;
                                    border: 1px solid #ccc;
                                    resize: vertical;
                                }
                        }

                        button {
                            background-color: #0044aa;
                            border: none;
                            color: white;
                            padding: 11px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }

                    .checkbox-holder {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;

                    }
                    }
                }
            }


        &__row {
            display: flex;
            flex-wrap: wrap;
            margin: rem(-10);
        }

        &__col {
            width: 100%;
            padding: rem(10);

            @include helper-breakpoint-media-min($md-min) {
                width: 50%;
            }

            &--wide {
                width: 100%;
            }
        }

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $setting-color-gray-6;
        }

        &__title {
            display: block;
            margin: 0;
            padding: 0 rem(10) 0 0;
            font: fw(bold) rem(20)/1.3 $setting-font-family-additional;
            letter-spacing: rem(0.16);
            color: $setting-color-gray-6;

            &--sub {
                font-size: rem(15);
                color: $setting-color-gray-6;
                padding-bottom: rem(16);
            }
        }

        &__link {
            font: rem(15) / 1 $setting-font-family-additional;
            color: $setting-color-blue-midi;
        }

        &__text {
            display: block;
            font: rem(14) / 1.6 $setting-font-family-additional;
            letter-spacing: rem(0.07);
            color: $setting-color-gray-13;
        }

        &__cart-note {
            overflow-wrap: anywhere;
        }

        @content;
    }
}

@include checkout-page-summary-sidebar();
