@mixin catalog-page-filter-category($name: '.filter-category') {
    #{$name} {
        &--sidebar {
            padding-bottom: rem(4);
        }

        &#{$name} {
            @include helper-breakpoint-media-min($xl-min) {
                display: block;
            }

            .menu {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        &__item {
            margin: 0 0 0 rem(10);
            font: fw(medium) rem(14) $setting-font-family;

            &--level-1 {
                margin: 0;
                display: none;
            }

            [disabled] {
                color: $setting-color-gray-6;
            }
            &--active {
                display: block;
            }
        }

        &__link {
            font: fw(medium) rem(14) $setting-font-family;
            /*margin-bottom: rem(14);*/
            padding: rem(8) rem(15) rem(8);
            color: $setting-color-gray-13;
            background: $setting-color-transparent;
            cursor: pointer;
            text-align: left;
            vertical-align: middle;
            word-break: break-all;

            &:hover {
                color: $setting-color-globus-black;
            }

            &[disabled],
            &--disabled {
                color: $setting-color-black;
                cursor: default;
            }

            &--toggle {
                color: $setting-color-black;
            }

            &--active {
                color: $setting-color-globus-lightOrange;
                text-decoration: underline;
            }
        }

        &__quantity {
            word-break: normal;
        }
    }
}

@include catalog-page-filter-category;
