@mixin shop-ui-button($name: '.button') {
    $button-min-width: rem(162, number);
    $button-tight-min-width: rem(130, number);
    $button-medium-min-width: rem(120, number);

    #{$name} {
        display: inline-block;
        padding: rem(12) rem(24) rem(12) rem(24);
        border: none;
        min-width: $button-min-width/1.3;
        text-align: center;
        font: rem(16) $setting-font-family-additional;
        font-style: normal;
        font-weight: 900;
        line-height: 19px;
        letter-spacing: 0.03em;
        cursor: pointer;
        background: $setting-color-fresh-orange;
        color: $setting-color-white;
        text-decoration: none;
        border-radius: rem(25);
        box-shadow: 0 rem(4) rem(18) $setting-color-transparent;

        .add-details-to-cart-text-holder {
            font-family: $setting-font-family-additional;
            font-weight: 900;
        }

        @include helper-breakpoint-media-min($md-min) {
            min-width: $button-min-width;
        }

        &:hover,
        &:focus,
        &:active {
            background: $setting-color-fresh-orange-3;
            color: $setting-color-white;
        }

        &:focus {
            background: $setting-color-fresh-orange;
            color: $setting-color-white;
            outline-style: solid;
            outline-width: rem(1);
            outline-color: $setting-color-fresh-orange;
            outline-offset: rem(2);
        }

        &--pdp-height-CZ {
            height: rem(44);
        }

        &--add-to-cart {
            width:50%;
            display: flex;
            flex-flow: column;
            align-items: center;

            @include helper-breakpoint-media-min($xxl-min) {
                margin-left: rem(50);
            }

            @include helper-breakpoint-media-between($lg-min,$xl-max) {
                margin-left: rem(40);
            }

            @include helper-breakpoint-media-max($xl-min) {
                margin-left: rem(20);
            }

            @include helper-breakpoint-media-max($md-max) {
                margin-left: 0;
            }
        }

        &--add-to-cart {
            width:50%;
            display: flex;
            flex-flow: column;
            align-items: center;

            @include helper-breakpoint-media-min($xxl-min) {
                margin-left: rem(50);
            }

            @include helper-breakpoint-media-between($lg-min,$xl-max) {
                margin-left: rem(40);
            }

            @include helper-breakpoint-media-max($xl-min) {
                margin-left: rem(20);
            }

            @include helper-breakpoint-media-max($md-max) {
                margin-left: 0;
            }
        }

        &__icon {
            flex-shrink: 0;
            margin-right: rem(10);
            float: left;

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(3);
            }

            &--center {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &--no-indents {
                float: none;
                margin: 0;
            }
        }

        &--font-weight-medium {
            font-weight: fw(medium);
        }

        &--alert {
            background-color: $setting-color-alt;
            border-color: $setting-color-alt;
            color: $setting-color-white;

            &:hover,
            &:active {
                background: rgba($setting-color-alt, 0.5);
                color: $setting-color-white;
                box-shadow: none;
            }
        }

        &__all-products {
            display: flex;
            height: rem(44);
            align-items: center;
            border-radius: rem(30) rem(0) rem(0) rem(30);
            border-color: transparent;
            padding-left: rem(10);
            background-color: $setting-color-fresh-orange;

            @include helper-breakpoint-media-max($lg-max) {
                padding: 0;
                padding-left: rem(10);
            }

            &:hover{
                background-color: $setting-color-fresh-orange;
            }
            @include helper-breakpoint-media-max($sm-max){
                width: rem(48);
                padding-left: 0;
            }
        }



        &--collapsed {
            min-width: 100%;

            @include helper-breakpoint-media-min($lg-min) {
                min-width: 0;
            }
        }

        &--skinless {
            transition: none;
            border: none;
            border-radius: 0;
            background-color: $setting-color-transparent;
            color: $setting-color-black;
            min-width: 0;

            &:hover,
            &:focus,
            &:active {
                border: none;
                background-color: $setting-color-transparent;
                color: $setting-color-black;
                box-shadow: none;
            }
        }

        &--send-review {
            position: absolute;
            top: rem(13);
            right: rem(24);
            min-width: rem(100);
            padding: rem(12) rem(16);

            @include helper-breakpoint-media-min($lg-min) {
                min-width: $button-min-width;
                padding: rem(16);
                margin-top: rem(20);
                position: relative;
                top: 0;
                right: 0;
            }
        }

        &--quantity {
            border: rem(1) solid $setting-color-gray-10;
            font: fw(bold) rem(30)/1 $setting-font-family-additional;
            background-color: $setting-color-gray-10;
            color: $setting-color-gray-6;
            padding: 0;
            width: rem(38);
            height: rem(38);
            user-select: none;
            min-width: 0;

            &:hover,
            &:focus,
            &:active {
                border-color: $setting-color-gray-10;
                color: $setting-color-gray-6;
                box-shadow: none;
            }
        }

        &--quantity-lighter {
            background-color: $setting-color-gray-3;
            border-color: $setting-color-gray-3;
        }

        &--quantity-large {
            width: rem(46);
            height: rem(46);
            line-height: rem(35);
            font-size: rem(21);
            border-radius: rem(4);
        }

        &[disabled],
        &--disabled {
            border-color: $setting-color-fresh-orange-2;
            background-color: $setting-color-fresh-orange-2;
            cursor: not-allowed;
            color: $setting-color-white;
            pointer-events: none;
        }

        &--hollow,
        &--hollow-border-light,
        &--hollow-gray,
        &--hollow-light {
            background-color: $setting-color-fresh-orange;
            color: $setting-color-white;

            &[disabled],
            &--disabled {
                background-color: $setting-color-white;
                border-color: $setting-color-gray-3;
                color: $setting-color-gray-3;

                &:hover,
                &:focus,
                &:active {
                    background-color: $setting-color-white;
                }
            }
        }

        &--hollow-CZ,
        &--hollow-border-light-CZ,
        &--hollow-gray-CZ,
        &--hollow-light-CZ {
            background-color: $setting-color-globusCZ-main-green;
            color: $setting-color-white;

            &:hover,
            &:active {
                background: $setting-color-globusCZ-hover;
            }

            &:focus {
                outline-style: solid;
                outline-width: rem(1);
                outline-color: $setting-color-globusCZ-main-green;
                outline-offset: rem(2);
            }

            &[disabled],
            &--disabled {
                background-color: $setting-color-white;
                border-color: $setting-color-gray-3;
                color: $setting-color-gray-3;

                &:hover,
                &:focus,
                &:active {
                    background-color: $setting-color-white;
                }
            }
        }

        &--backgroundcolor-CZ {
            background-color: $setting-color-globusCZ-main-green;
            justify-content: center;
            align-items: center;

            &:hover,
            &:active {
                background: $setting-color-globusCZ-hover !important;;
            }

            &:focus {
                background: $setting-color-globusCZ-main-green;
                outline-style: solid;
                outline-width: rem(1);
                outline-color: $setting-color-globusCZ-main-green;
                outline-offset: rem(2);
            }

            &[disabled],
            &:disabled {
                border-color: $setting-color-globusCZ-secondary-green !important;
                background-color: $setting-color-globusCZ-secondary-green !important;
            }
        }

        &--backgroundcolor-DE {
            background: $setting-color-fresh-orange;
            justify-content: center;
            align-items: center;

            &:hover {
                background: $setting-color-fresh-orange-3 !important;;
            }

            &:focus {
                outline-style: solid;
                outline-width: rem(1);
                outline-color: $setting-color-fresh-orange-3;
                outline-offset: rem(2);
            }

            &:disabled {
                border-color: $setting-color-fresh-orange-2;
                background-color: $setting-color-fresh-orange-2;
            }
        }

        &--center-align {
            justify-content: center;
        }

        &--hollow-border-light {
            border-color: $setting-color-gray-10;
        }

        &--hollow-light {
            border-color: $setting-color-gray-3;
            color: $setting-color-gray-4;

            &:hover,
            &:active {
                background: $setting-color-alpha-6;
            }

            &:hover,
            &:active,
            &:focus {
                border-color: $setting-color-gray-3;
                color: $setting-color-gray-4;
            }

            &:focus {
                box-shadow: 0 0 0 rem(2) $setting-color-alpha-6;
            }
        }

        &--hollow-ghost {
            border: 2px solid $setting-color-fresh-orange;
            box-sizing: border-box;
            background-color: transparent;
            color: $setting-color-fresh-orange;

            &:hover,
            &:focus,
            &:active {
                border: 2px solid $setting-color-fresh-orange;
                background: $setting-color-fresh-orange-2;
                color: $setting-color-fresh-orange;
            }
        }

        &--hollow-ghost-CZ {
            background-color: transparent;
            border-width: thin;
            border-style: solid;
            border-color: $setting-color-globusCZ-main-green;
            color: $setting-color-globusCZ-main-green;

            &:hover,
            &:focus,
            &:active {
                border: 2px solid $setting-color-globusCZ-main-green;
                background: $setting-color-globusCZ-secondary-green;
                color: $setting-color-globusCZ-main-green;
            }

            &:focus {
                outline-style: solid;
                outline-width: rem(1);
                outline-color: $setting-color-globusCZ-main-green;
                outline-offset: rem(2);
            }
        }


        &--hollow-gray {
            border-color: $setting-color-fresh-orange;
            color: $setting-color-white;

            &:hover,
            &:active,
            &:focus {
                border-color: $setting-color-fresh-orange;
                color: $setting-color-white;
                background: $setting-color-fresh-orange;
            }

            &:focus {
                box-shadow: 0 0 0 rem(2) $setting-color-alpha-6;
            }
        }

        &--inspirational {
            text-transform: uppercase;
            letter-spacing: rem(2.1);
            min-width: 0;

            @include helper-breakpoint-media-min($md-min) {
                letter-spacing: rem(2.5);
            }
        }

        &--promotion-item {
            min-width: 0;
            width: 100%;
            margin-top: rem(16);
            height: rem(28);
            padding: 0 rem(16);
            font: fw(regular) rem(10)/rem(26) $setting-font-family-additional;

            @include helper-breakpoint-media-min($md-min) {
                margin-top: 0;
            }

            @include helper-breakpoint-media-min($lg-min) {
                width: auto;
                height: rem(32);
                line-height: rem(30);
            }
        }

        &--agent {
            min-width: rem(79);
        }

        &--combined {
            border-radius: rem(20);
            min-width: rem(113);
            font-weight: fw(regular);
            font-size: rem(13);
        }

        &__begin-checkout {
            background-color: $setting-color-fresh-orange;
            border-radius: rem(20);
        }
        &--combined-small {
            min-width: 0;
            padding-left: rem(12);
            padding-right: rem(12);
        }

        &--large {
            padding: rem(12) rem(86);

            @include helper-breakpoint-media-max($lg-min){
                width: 100%;
                padding: rem(12) rem(24);
            }
        }

        &--expand {
            width: 100%;
            .basket-and-label-holder {
                display: flex;
                justify-content: center;
                .icon-basketplus {
                    font-size: rem(20);
                    margin-right: rem(10);
                }
            }

        }

        &--checkout-summary {
            width: 55%;
            margin-top: rem(60);
        }

        &--bigfont {
            padding: rem(8) rem(15);
            font: fw(semibold) rem(21)/1.7 $setting-font-family-additional;
            border-radius: rem(30);
        }

        &--all-products-CZ {
            font: medium 12px $setting-font-family-additional;
            background-color: $setting-color-globusCZ-main-green;
            display: flex;
            align-items: center;
            border-radius: rem(30) rem(0) rem(0) rem(30);
            border-color: transparent;
            padding-left: rem(10);

            @include helper-breakpoint-media-max($lg-max) {
                padding-left: rem(10);
                }

                &:hover{
                    background-color: $setting-color-globusCZ-hover;
                }
            }

        &--expand-mobile {
            width: 100%;

            @include helper-breakpoint-media-min($md-min) {
                width: auto;
            }
        }

        &--expand-tablet {
            @include helper-breakpoint-media-max($lg-min) {
                width: 100%;
            }
        }

        &--search {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            min-width: rem(80);
        }

        &--with-icon {
            position: relative;
            padding: rem(5) rem(5) rem(5) rem(5);
            line-height: rem(24);
            border-radius: rem(64);

            &:not(#{$name}--hollow):not(#{$name}--hollow-white) {
                padding-top: rem(7);
                padding-bottom: rem(7);
            }
        }

        &--middle-icon {
            display: inline-flex;
            align-items: center;
        }

        &--with-icon-hidden-sm-only {
            padding-right: rem(15);
            padding-left: rem(15);

            @include helper-breakpoint-media-min($md-min) {
                padding-right: rem(25);
            }
        }

        &--cart {
            color: $setting-color-white;

            @include helper-breakpoint-media-max($lg-max) {
                padding: rem(8) rem(10);
            }

            @include helper-breakpoint-media-min($xl-min) {
                background: $setting-color-blue-light;
                text-align: left;
                padding-left: rem(15);
                padding-right: rem(15);
            }

            &:hover,
            &:focus {
                background: none;
                color: $setting-color-white;

                @include helper-breakpoint-media-min($xl-min) {
                    background: $setting-color-blue-light-alpha-1;
                }
            }

            &:active {
                @include helper-breakpoint-media-min($lg-max) {
                    background: $setting-color-gray-2;
                    color: $setting-color-blue-midi;
                }
            }
        }

        &--close-drawer {
            &,
            &:hover,
            &:focus,
            &:active {
                background: $setting-color-gray-14;
                color: $setting-color-black;
            }
        }

        &--reset-min-width {
            min-width: 0;
        }

        &--medium {
            @include helper-breakpoint-media-min($md-min) {
                min-width: $button-medium-min-width;
            }
        }

        &--link-secondary,
        &--link {
            min-width: auto;
            padding: rem(5);
            margin-left: rem(-5);
            margin-right: rem(-5);
            border-radius: 0;
            text-transform: none;
            text-decoration: underline;
            background: transparent;
            color: $setting-color-gray-13;

            &:focus {
                background: transparent;
                color: $setting-color-globus-darkOrange;
                box-shadow: 0 0 0 rem(2) $setting-color-blue-midi-alpha-1;
            }

            &:hover,
            &:active {
                background: transparent;
                color: $setting-color-globus-darkOrange;
                text-decoration: underline;
            }
        }

        &--link-secondary {
            &:active,
            &:hover {
                text-decoration: none;
                color: $setting-color-globus-darkOrange;
                box-shadow: none;
            }
        }

        &--clear {
            color: $setting-color-gray-6;
            border: none;
            background: none;
            min-width: rem(16);

            &:hover,
            &:focus,
            &:active {
                color: $setting-color-blue-midi;
                background: none;
                box-shadow: none;
            }
        }

        &--tight {
            min-width: $button-tight-min-width;
        }

        &--mobile-small {
            font-weight: fw(medium);
            font-size: rem(12);
            padding: rem(7) rem(10);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(14);
                padding: rem(10) rem(14);
            }
        }

        &--mobile-active {
            color: $setting-color-black;
        }

        &--no-inner-events {
            * {
                pointer-events: none;
            }
        }

        &--ghost {
            min-height: rem(50);
            color: $setting-color-black-1;
            background: $setting-color-gray-15;
            border-radius: rem(4);

            &:hover,
            &:focus,
            &:active {
                background: $setting-color-gray-18;
                color: $setting-color-black-1;
                box-shadow: none;
            }

            &:hover {
                color: $setting-color-gray-13;
            }
        }

        &--alternative {
            background-color: $setting-color-fresh-orange !important;
            border-color: $setting-color-alt;
            color: $setting-color-white;

            &:hover,
            &:focus {
                background-color: helper-color-dark($setting-color-alt);
                border-color: helper-color-dark($setting-color-alt);
                box-shadow: none;
            }
        }

        &--subscribe {
            padding-top: rem(14);
            padding-bottom: rem(13);
            border-radius: 0 rem(2) rem(2) 0;
            min-width: rem(140);
        }

        &--without-radius {
            border-radius: 0;
        }

        &--icon-only {
            border-radius: 50%;
            min-width: 0;
            padding: rem(6);
        }

        &--margin-ten {
            margin: rem(10);
        }

        &--checkout {
            @include helper-breakpoint-media-max($xxs-max) {
                width: 70%;
            }
        }

        @content;
    }
}

@include shop-ui-button();
