{% extends template('page-layout-main') %}

{% define data = {
    pickingOrderTransfer: pickingOrderTransfer,
    urlContainerSelect: urlContainerSelect,
    urlMultiPickingOverview: urlMultiPickingOverview,
    urlPosListe: urlPosListe,
    urlForBackButton: urlForBackButton,
    isFromModal: isFromModal
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: 'multi.picking.header.overview' | trans,
            withoutLogo: true,
            titleColor: 'darkerGreen',
            buttonUrl: data.urlForBackButton
        }
    } only %}
{% endblock %}

{% block content %}
    <form id="formOverview" method="post">
        <input type="hidden" name="addFromModal1" value="{{ data.isFromModal }}">
        <div class="box-light-green--overview">
            <div>Kunde</div>
            <div>Pos./Stck.</div>
            <div>Container</div>
            <div>Comm.</div>
        </div>

            {% include molecule('overview-order-list') with {
                data: {
                   orders: data.pickingOrderTransfer
                }
            } only %}

        {% block button %}
            <div id="confirm-multi-picking" class="text-center" style="margin-top:20px">
                <button type="submit" class="button button--expand js-pick-products__submit-button">
                    {{ 'picker.picking.confirmation' | trans }}
                </button>
            </div>
        {% endblock %}
    </form>
    {% include molecule('multi-picking-additional-order-buttons') with {
        data: {
            idSalesOrder: '1',
            urlContainerSelect: data.urlContainerSelect,
            itemSku: '321654987',
            overviewForm: true,
            urlMultiPickingOverview: data.urlMultiPickingOverview,
            urlPosListe: data.urlPosListe,
        }
    } only %}
{% endblock content %}
