@mixin product-label-widget-label-group($name: '.label-group') {

    #{$name} {
        position: absolute;
        z-index: $setting-zi-element-floating;
        font-family: $setting-font-family;

        @content;
    }
}
@include product-label-widget-label-group();
