@mixin product-label-widget-label-group($name: '.label-group') {

    #{$name} {
        position: absolute;
        bottom: auto;
        right: auto;
        margin-top: -1rem !important;
        margin-left: -1rem !important;
        max-height: 100%;
        z-index: $setting-zi-element-floating;
        padding: rem(16);
        font-family: $setting-font-family;



        @include helper-breakpoint-media-max($sm-max) {
            position: absolute;
            bottom: auto;
            right: auto;
            max-height: 100%;
            z-index: $setting-zi-element-floating;
            padding: rem(16);
            font-family: $setting-font-family;
        }


        @media only screen and (max-width: 575px) {
            position: absolute;
            bottom: auto;
            right: auto;
            margin-top: -1rem !important;
            margin-left: -1rem !important;
            max-height: 100%;
            z-index: 350;
            padding: 1rem;
            font-family: "Fira Sans", "Open Sans", Arial, "Lucida Grande", sans-serif;
        }

        @content;

    }
}

@include product-label-widget-label-group();
