@mixin shop-ui-container-checkboxes($name: '.container-checkboxes') {
    #{$name} {
        .abbreviation {
            margin-right: rem(4);
        }

        .checkbox {
            margin-bottom: rem(16)
        }
    }
    .substitute-icon {
        margin-bottom: rem(12);
    }
}

@include shop-ui-container-checkboxes();
