{% extends model('component') %}

{% define config = {
    name: 'icon-sprite',
    tag: 'svg'
} %}

{% block attributes %}
    xmlns="http://www.w3.org/2000/svg"
    style="height: 0; position: absolute;"
{% endblock %}

{% block body %}
    {% spaceless %}
        <symbol id=":cart" viewBox="0 0 32 32">
            <title id=":cart-title">Cart</title>
            <g transform="translate(-513.000000, -133.000000)">
                <path d="M513,142.656 L519.121333,142.656 L519.144833,142.565 L519.181333,142.476 L524.402667,133.432 C524.53981,133.194286 524.773932,133.046694 525.026947,133.009376 L525.154667,133 L525.300691,133.012543 C525.365613,133.023737 525.430184,133.04248 525.492882,133.069008 L525.585333,133.114667 L525.701463,133.194944 C525.988791,133.430016 526.094956,133.824491 525.963297,134.172203 L525.902667,134.3 L521.078667,142.656 L536.94,142.656 L532.116,134.3 L532.055332,134.172203 C531.923481,133.824491 532.028772,133.430016 532.315908,133.194944 L532.432,133.114667 L532.572741,133.050568 C532.636543,133.027918 532.701663,133.012993 532.766694,133.00556 L532.864,133 L532.991724,133.009376 C533.202589,133.040474 533.400431,133.148152 533.540548,133.320746 L533.617333,133.432 L538.838667,142.476 L538.8725,142.565 L538.897333,142.656 L544.998667,142.656 L544.797715,143.875107 L544.797715,143.875107 L544.681333,144.529333 L541.562667,163.882667 L541.527114,164.036304 C541.379645,164.535548 540.949151,164.900378 540.433164,164.962585 L540.276,164.972 L517.708,164.994667 L517.550478,164.985225 C517.033217,164.922849 516.600755,164.557077 516.452939,164.057664 L516.417333,163.904 L513.332,144.517333 L513,142.656 L513,142.656 Z M542.949333,144.389333 L515.037333,144.389333 L515.293085,145.734438 L515.293085,145.734438 L515.329333,145.936 L518.197333,163.264 L539.773333,163.244 L542.672,145.945333 L542.949333,144.389333 Z M533.466667,150.358667 C533.466667,149.924727 533.787328,149.564617 534.205259,149.502729 L534.333333,149.493333 L534.461407,149.502729 C534.832902,149.557741 535.127541,149.848385 535.18843,150.217062 L535.2,150.358667 L535.2,157.293333 L535.190604,157.421376 C535.135583,157.792693 534.844851,158.086442 534.475302,158.147135 L534.333333,158.158667 L534.205259,158.149301 C533.833765,158.094459 533.539126,157.804617 533.478237,157.435264 L533.466667,157.293333 L533.466667,150.358667 Z M528.133333,150.358667 C528.133333,149.924727 528.453994,149.564617 528.870924,149.502729 L528.998667,149.493333 L529.126772,149.502729 C529.498445,149.557741 529.793974,149.848385 529.855059,150.217062 L529.866667,150.358667 L529.866667,157.293333 L529.857239,157.421376 C529.80204,157.792693 529.510418,158.086442 529.140674,158.147135 L528.998667,158.158667 L528.870924,158.149301 C528.50032,158.094459 528.20578,157.804617 528.144902,157.435264 L528.133333,157.293333 L528.133333,150.358667 Z M522.8,150.358667 C522.8,149.924727 523.120661,149.564617 523.538593,149.502729 L523.666667,149.493333 L523.794741,149.502729 C524.166235,149.557741 524.460874,149.848385 524.521763,150.217062 L524.533333,150.358667 L524.533333,157.293333 L524.523937,157.421376 C524.468916,157.792693 524.178184,158.086442 523.808636,158.147135 L523.666667,158.158667 L523.538593,158.149301 C523.167098,158.094459 522.872459,157.804617 522.81157,157.435264 L522.8,157.293333 L522.8,150.358667"></path>
            </g>
        </symbol>

        <symbol id=":arrow-right" viewBox="0 0 9 15">
            <title id=":arrow-right">Arrow Right</title>
            <defs>
                <path d="M6 8.19l6.2 6.68 6.2-6.68c.23-.25.6-.25.83 0 .23.24.23.64 0 .9l-6.6 7.11a.57.57 0 01-.43.2.56.56 0 01-.42-.18l-6.6-7.14a.67.67 0 010-.9c.22-.24.6-.24.82 0z" id="arrow-right-a"/>
            </defs>
            <use fill="currentColor" transform="rotate(-90 5.7 13.7)" xlink:href="#arrow-right-a" fill-rule="evenodd"/>
        </symbol>

        <symbol id=":arrow-down" viewBox="0 0 8 5">
            <title id=":caret-down-title">Caret Down</title>
            <path d="M6.482.264A.877.877 0 0 1 7.114 0c.23 0 .46.086.633.264A.906.906 0 0 1 8 .9c0 .229-.082.46-.253.636l-3.114 3.2A.877.877 0 0 1 4 5a.876.876 0 0 1-.631-.263L.253 1.549A.907.907 0 0 1 0 .9C0 .672.082.44.253.265A.877.877 0 0 1 .886 0c.229 0 .459.086.63.263L4 2.803 6.482.264z"/>
        </symbol>

        <symbol id=":check" viewBox="0 0 16 12">
            <title id=":check-title">Check</title>
            <path xmlns="http://www.w3.org/2000/svg" d="M15.82.19a.6.6 0 00-.87 0L4.97 10.47 1.05 6.42a.6.6 0 00-.87 0 .65.65 0 000 .9l4.36 4.5a.6.6 0 00.87 0L15.82 1.07a.65.65 0 000-.9z" fill="currentColor" fill-rule="nonzero"/>
        </symbol>

        <symbol id=":chevron-left" viewBox="0 0 320 512">
            <title id=":chevron-left-title">chevron-left</title>
            <path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
        </symbol>

        <symbol id=":user" viewBox="0 0 27 32">
            <title id=":user-title">User</title>
            <g transform="translate(-115.000000, -133.000000)">
                <path d="M115,164.305333 L115,164.139651 L115.013551,163.961333 C115.651289,156.799548 121.033596,151.566971 127.821905,151.382377 L128.193551,151.377333 L128.562442,151.382227 C135.301519,151.561338 140.704559,156.639611 141.410396,163.712259 L141.444218,164.1 L141.436155,164.268188 L141.436155,164.268188 L141.430884,164.301333 L141.373106,164.426857 C141.239559,164.667372 141.001481,164.841232 140.720184,164.885997 L140.576218,164.897333 L140.431702,164.885937 C140.149233,164.840938 139.909702,164.666187 139.777233,164.424687 L139.720218,164.298667 L139.701156,164.207309 L139.6436,163.778556 C138.739703,157.503205 134.59844,153.300028 128.590379,153.134412 L128.220218,153.129333 L127.851065,153.134531 C121.859299,153.304028 117.725378,157.603974 116.803313,163.856128 L116.742718,164.286438 L116.710384,164.412146 L116.710384,164.412146 L116.696218,164.452 L116.631798,164.569661 C116.489533,164.79388 116.269173,164.948911 116.015158,164.98863 L115.885551,164.998667 L115.739587,164.987214 C115.454306,164.941995 115.212337,164.766464 115.075556,164.524745 L115.016218,164.398667 L115,164.305333 Z M120.354884,140.82 C120.354884,136.616424 123.73453,133.160344 127.923982,133.00542 L128.217551,133 L128.511298,133.00542 C132.60343,133.156655 135.921488,136.45372 136.077171,140.52105 L136.082884,140.82 L136.077433,141.112028 C135.925338,145.180231 132.609514,148.479517 128.51826,148.634319 L128.217551,148.64 L127.923982,148.63458 C123.73453,148.479656 120.354884,145.023576 120.354884,140.82 Z M122.114884,140.82 C122.114884,144.063276 124.704324,146.734057 127.93122,146.884026 L128.217551,146.890667 L128.503888,146.884026 C131.636015,146.738468 134.169867,144.2182 134.316208,141.104636 L134.322884,140.82 L134.316208,140.535364 C134.169867,137.4218 131.636015,134.901532 128.503888,134.755974 L128.217551,134.749333 L127.93122,134.755974 C124.704324,134.905943 122.114884,137.576724 122.114884,140.82 Z"></path>
            </g>
        </symbol>

        <symbol id=":user-account" viewBox="0 0 78 66">
            <title id=":user-account-title">User Account</title>
            <path d=" M 38.28 0.00 L 39.27 0.00 C 47.88 0.13 56.06 5.94 58.78 14.15 C 62.36 23.78 57.53 35.41 48.25 39.78 C 57.12 41.37 66.14 44.81 72.28 51.68 C 75.47 55.16 77.41 59.64 78.00 64.31 L 78.00 66.00 L 75.14 66.00 C 74.83 59.05 70.64 52.82 64.82 49.20 C 52.90 41.69 37.67 40.27 24.26 44.18 C 17.07 46.39 9.78 50.10 5.70 56.68 C 3.87 59.45 3.28 62.77 2.85 66.00 L 0.00 66.00 L 0.00 64.73 C 0.45 59.91 2.43 55.28 5.70 51.71 C 11.84 44.82 20.89 41.35 29.79 39.78 C 21.00 35.67 16.10 25.01 18.75 15.66 C 20.92 6.87 29.28 0.33 38.28 0.00 M 35.33 3.43 C 26.86 5.04 20.39 13.43 21.09 22.05 C 21.39 31.62 30.48 39.73 40.03 38.91 C 49.62 38.62 57.75 29.50 56.91 19.93 C 56.62 9.38 45.61 0.94 35.33 3.43 Z"></path>
        </symbol>

        <symbol id=":animated-spinner" viewBox="0 0 100 100">
            <title id=":animated-spinner-title">Animated Spinner</title>
            <circle cx="50" cy="50" r="39.8716" fill="none" stroke="#344384" stroke-width="2">
                <animate attributeName="r" repeatCount="indefinite" dur="1s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline" begin="-0.5s"/>
                <animate attributeName="opacity" repeatCount="indefinite" dur="1s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline" begin="-0.5s"/>
            </circle>
            <circle cx="50" cy="50" r="24.9841" fill="none" stroke="#ffc800" stroke-width="2">
                <animate attributeName="r" repeatCount="indefinite" dur="1s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline"/>
                <animate attributeName="opacity" repeatCount="indefinite" dur="1s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline"/>
            </circle>
        </symbol>

        <symbol id=":icon-delete" viewBox="0 0 32 32">
            <path d="M6.815 26.37c0 1.63 1.333 2.963 2.963 2.963h11.852c1.63 0 2.963-1.333 2.963-2.963v-17.778h-17.778v17.778zM26.074 4.148h-5.185l-1.481-1.481h-7.407l-1.481 1.481h-5.185v2.963h20.741v-2.963z"></path>
        </symbol>

        <symbol id=":map-marker" viewBox="0 0 22 32">
            <title id=":map-marker-title">Map Marker</title>
            <g transform="translate(-273.000000, -379.000000)">
                <path d="M282.791954,379.026853 C283.324686,378.991049 283.859221,378.991049 284.391954,379.026853 C287.996615,379.282706 291.215783,381.375921 292.911954,384.566853 C294.733796,387.91918 294.688382,391.976149 292.791954,395.286853 L292.791954,395.286853 L284.641954,409.816853 C284.510957,410.04791 284.267524,410.192448 284.001954,410.196853 L284.001954,410.196853 L283.891298,410.188634 C283.673333,410.156046 283.47851,410.028313 283.361954,409.836853 L283.361954,409.836853 L274.581954,395.436853 C272.589268,392.155548 272.471488,388.067441 274.271954,384.676853 C275.918729,381.424471 279.155108,379.278281 282.791954,379.026853 Z M284.271954,380.516853 L282.871954,380.516853 C279.75708,380.735943 276.98752,382.578517 275.581954,385.366853 C274.046707,388.300641 274.168264,391.825788 275.901954,394.646853 L275.901954,394.646853 L284.021954,407.956853 L291.581954,394.546853 L291.736288,394.256813 C293.176739,391.434023 293.125294,388.07106 291.581954,385.286853 C290.148816,382.52637 287.375843,380.716919 284.271954,380.516853 L284.271954,380.516853 Z M283.651954,384.996853 C286.273024,385.002354 288.396453,387.125783 288.401954,389.746853 C288.401954,392.370206 286.275306,394.496853 283.651954,394.496853 C281.028601,394.496853 278.901954,392.370206 278.901954,389.746853 C278.901954,387.123501 281.028601,384.996853 283.651954,384.996853 Z M283.651954,386.496853 C281.857028,386.496853 280.401954,387.951928 280.401954,389.746853 C280.401954,391.541779 281.857028,392.996853 283.651954,392.996853 C285.446879,392.996853 286.901954,391.541779 286.901954,389.746853 C286.901954,387.951928 285.446879,386.496853 283.651954,386.496853"></path>
            </g>
        </symbol>

        <symbol id=":close" viewBox="0 0 32 32">
            <title id=":close-title">Close</title>
            <g transform="translate(-33.000000, -211.000000)">
                <path d="M64.6378267,211.1632 L64.745,211.255 L64.83608,211.361848 C65.0519733,211.661752 65.0519733,212.072248 64.83608,212.372152 L64.745,212.479 L50.225,226.999 L64.745,241.519 C64.8804667,241.6534 64.96132,241.822787 64.9882427,241.998488 L64.9983333,242.131 L64.9882427,242.264045 C64.9680507,242.396141 64.9175227,242.524205 64.8363707,242.637581 L64.745,242.745667 L64.6428133,242.833325 C64.5356133,242.911821 64.4144933,242.962765 64.2895333,242.985581 L64.1636667,242.999 L64.1023333,242.999 L63.975816,242.985581 C63.850344,242.962765 63.729096,242.911821 63.621864,242.833325 L63.5196667,242.745667 L48.9996667,228.225667 L34.481,242.745667 L34.378152,242.833325 C34.270408,242.911821 34.149032,242.962765 34.023528,242.985581 L33.897,242.999 L33.8356667,242.999 L33.7096613,242.985581 C33.5844453,242.962765 33.4627813,242.911821 33.3553253,242.833325 L33.253,242.745667 L33.16192,242.638168 C32.9460267,242.336899 32.9460267,241.927768 33.16192,241.626499 L33.253,241.519 L47.773,226.999 L33.253,212.479 L33.16192,212.372152 C32.9460267,212.072248 32.9460267,211.661752 33.16192,211.361848 L33.253,211.255 L33.360824,211.1632 C33.662776,210.9456 34.071224,210.9456 34.373176,211.1632 L34.481,211.255 L48.9996667,225.771 L63.5196667,211.255 L63.62684,211.1632 C63.9274267,210.9456 64.33724,210.9456 64.6378267,211.1632 Z"></path>
            </g>
        </symbol>

        <symbol id=":remove" viewBox="0 0 33 2">
            <title id=":remove-title">Remove</title>
            <g transform="translate(-109.000000, -308.000000)">
                <path d="M125.868,293 L125.996375,293.009428 C126.368582,293.064636 126.662429,293.356347 126.723133,293.726962 L126.734667,293.869333 L126.734667,324.134667 L126.7253,324.26271 C126.670449,324.634026 126.380519,324.927775 126.010295,324.988468 L125.868,325 L125.739594,324.990635 C125.367209,324.935792 125.072471,324.64595 125.011571,324.276597 L125,324.134667 L125,293.869333 L125.009397,293.740897 C125.071306,293.321763 125.431636,293 125.868,293 Z" id="minus" transform="translate(125.867333, 309.000000) rotate(90.000000) translate(-125.867333, -309.000000)"></path>
            </g>
        </symbol>

        <symbol id=":pause" viewBox="0 0 48 48">
            <title id=":pause-title">Pause</title>
            <path d="M28.031 10.031h7.969v27.938h-7.969v-27.938zM12 37.969v-27.938h7.969v27.938h-7.969z"/>
        </symbol>

        <symbol id=":add" viewBox="0 0 32 32">
            <title id=":add-title">Add</title>
            <g transform="translate(-923.000000, -211.000000)">
                <path d="M939.866667,242.133333 L939.866667,227.868 L954.133333,227.868 C954.612,227.868 955,227.48 955,227 C955,226.521333 954.612,226.133333 954.133333,226.133333 L939.866667,226.133333 L939.866667,211.868 C939.866667,211.388 939.478667,211 939,211 C938.521333,211 938.133333,211.388 938.133333,211.868 L938.133333,226.133333 L923.866667,226.133333 C923.388,226.133333 923,226.521333 923,227 C923,227.48 923.388,227.868 923.866667,227.868 L938.133333,227.868 L938.133333,242.133333 C938.133333,242.612 938.521333,243 939,243 C939.478667,243 939.866667,242.612 939.866667,242.133333"></path>
            </g>
        </symbol>

        <symbol id=":overview" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" x="0px" y="0px">
            <title id=":overview-title">Übersicht</title>
            <g id="Gruppe_297" transform="translate(432 -6)">
                <g id="_2" transform="translate(-432 6)">
                    <g id="Gruppe_296" transform="translate(0)">
                        <path id="Pfad_215" d="M15.3,12.7H8.7c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h6.5c0.4,0,0.7-0.3,0.7-0.7
				C15.9,12.9,15.6,12.7,15.3,12.7z M16.6,8.7H7.4C7.1,8.7,6.8,9,6.8,9.4c0,0.4,0.3,0.7,0.7,0.7h9.1c0.4,0,0.7-0.3,0.7-0.7
				C17.2,9,16.9,8.7,16.6,8.7C16.6,8.7,16.6,8.7,16.6,8.7L16.6,8.7z M12,1.6c-5.7,0-10.4,4.1-10.4,9.1c0.1,2.9,1.5,5.5,3.9,7.1v4.6
				l4.6-2.8c0.6,0.1,1.3,0.2,1.9,0.2c5.7,0,10.4-4.1,10.4-9.1S17.7,1.6,12,1.6z M12,18.5c-0.7,0-1.5-0.1-2.2-0.2l-3.1,1.8l0-3
				c-2.3-1.3-3.8-3.7-3.9-6.4C2.9,6.4,7,2.9,12,2.9s9.1,3.5,9.1,7.8S17,18.5,12,18.5z"/>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":posliste" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" x="0px" y="0px">
            <title id=":posliste-title">Pos. Liste</title>
            <g>
                <rect x="7.8" y="5.7" width="14.4" height="2"/>
                <rect x="7.8" y="10.9" width="14.4" height="2"/>
                <rect x="7.8" y="16.2" width="14.4" height="2"/>
                <path d="M3.5,5.3C2.6,5.3,1.8,6,1.8,7s0.8,1.7,1.7,1.7S5.2,7.9,5.2,7S4.4,5.3,3.5,5.3z"/>
                <path d="M3.5,10c-0.9,0-1.7,0.8-1.7,1.7c0,0.9,0.8,1.7,1.7,1.7s1.7-0.8,1.7-1.7C5.2,10.7,4.4,10,3.5,10z"/>
                <path d="M3.5,15.4c-0.9,0-1.7,0.8-1.7,1.7s0.8,1.7,1.7,1.7S5.2,18,5.2,17S4.4,15.4,3.5,15.4z"/>
            </g>
        </symbol>

        <symbol id=":addcontainer" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve" x="0px" y="0px">
            <title id=":addcontainer-title">Add Containers</title>
            <g>
                <g id="Gruppe_343">
                    <g id="Gruppe_342">
                        <path id="Pfad_216" d="M20.8,7.4L20.8,7.4c0-0.1-0.1-0.1-0.1-0.2l-2.8-4.9c-0.2-0.4-0.6-0.6-1-0.6H7.1c-0.4,0-0.8,0.2-1,0.6
				l-2.9,5c0,0,0,0.1-0.1,0.1c0,0.1-0.1,0.2-0.1,0.4v12.9c0,0.8,0.6,1.4,1.4,1.4h15c0.8,0,1.4-0.6,1.4-1.4v-13c0,0,0,0,0-0.1
				C20.9,7.6,20.9,7.5,20.8,7.4z M12.6,3h4.2l2.2,3.9h-6.5V3z M7.1,3h4.3v3.9H4.9L7.1,3z M19.7,20.8c0,0.1-0.1,0.2-0.2,0.2h-15
				c-0.1,0-0.2-0.1-0.2-0.2V8h15.4V20.8z"/>
                    </g>
                </g>
                <g id="Gruppe_345" transform="translate(8.618 14.323)">
                    <g id="Gruppe_344">
                        <path id="Pfad_217" d="M5.9-0.4H4v-1.9c0-0.3-0.3-0.6-0.6-0.6c-0.3,0-0.6,0.3-0.6,0.6c0,0,0,0,0,0v1.9H0.8
				c-0.3,0-0.6,0.3-0.6,0.6c0,0.3,0.3,0.6,0.6,0.6h1.9v1.9c0,0.3,0.3,0.6,0.6,0.6C3.7,3.3,4,3.1,4,2.7c0,0,0,0,0,0V0.8h1.9
				c0.3,0,0.6-0.3,0.6-0.6C6.5-0.1,6.2-0.4,5.9-0.4z"/>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":bag" viewBox="0 0 28 32">
            <title id=":bag-title">Bag</title>
            <g transform="translate(-439.000000, -378.000000)">
                <path d="M466.468987,404.332985 L464.238987,385.032985 C464.19322,384.654261 463.870457,384.37023 463.488987,384.372985 L459.488987,384.372985 C459.294056,380.798501 456.338783,378 452.758987,378 C449.179192,378 446.223919,380.798501 446.028987,384.372985 L442.028987,384.372985 C441.647518,384.37023 441.324755,384.654261 441.278987,385.032985 L439.028987,404.332985 C438.886345,405.56001 439.274566,406.78954 440.095957,407.712173 C440.917349,408.634806 442.0937,409.162985 443.328987,409.162985 L462.168987,409.162985 C463.404275,409.162985 464.580626,408.634806 465.402018,407.712173 C466.223409,406.78954 466.61163,405.56001 466.468987,404.332985 Z M452.748987,379.512985 C455.485712,379.521064 457.755311,381.633838 457.958987,384.362985 L447.538987,384.362985 C447.742664,381.633838 450.012263,379.521064 452.748987,379.512985 Z M464.278987,406.712985 C463.740079,407.317415 462.968776,407.662985 462.158987,407.662985 L443.328987,407.662985 C442.521068,407.662985 441.751753,407.317291 441.214882,406.71355 C440.678011,406.109809 440.424778,405.305393 440.518987,404.502985 L442.668987,385.862985 L445.998987,385.862985 L445.998987,388.762985 C445.998987,389.177199 446.334774,389.512985 446.748987,389.512985 C447.163201,389.512985 447.498987,389.177199 447.498987,388.762985 L447.498987,385.862985 L457.998987,385.862985 L457.998987,388.762985 C457.998987,389.177199 458.334774,389.512985 458.748987,389.512985 C459.163201,389.512985 459.498987,389.177199 459.498987,388.762985 L459.498987,385.862985 L462.828987,385.862985 L464.978987,404.492985 C465.074877,405.299134 464.819942,406.107642 464.278987,406.712985 Z"></path>
            </g>
        </symbol>

        <symbol id=":undo" viewBox="0 0 32 21">
            <title id=":undo-title">Undo</title>
            <g transform="translate(-514.000000, -385.000000)">
                <path d="M537.12934,388.791292 L516.55934,388.791292 L519.08934,386.261292 C519.364699,385.965783 519.356574,385.505283 519.070962,385.219671 C518.78535,384.934059 518.32485,384.925934 518.02934,385.201292 L514.21934,389.011292 C513.926887,389.30411 513.926887,389.778475 514.21934,390.071292 L518.02934,393.881292 C518.32485,394.156651 518.78535,394.148526 519.070962,393.862914 C519.356574,393.577302 519.364699,393.116802 519.08934,392.821292 L516.55934,390.291292 L537.12934,390.291292 C539.583755,390.291292 541.851727,391.600707 543.078935,393.726292 C544.306142,395.851878 544.306142,398.470707 543.078935,400.596292 C541.851727,402.721878 539.583755,404.031292 537.12934,404.031292 L516.12934,404.031292 C515.715126,404.031292 515.37934,404.367079 515.37934,404.781292 C515.37934,405.195506 515.715126,405.531292 516.12934,405.531292 L537.12934,405.531292 C540.119653,405.531292 542.882816,403.935979 544.377973,401.346292 C545.873129,398.756605 545.873129,395.565979 544.377973,392.976292 C542.882816,390.386605 540.119653,388.791292 537.12934,388.791292 L537.12934,388.791292 Z"></path>
            </g>
        </symbol>

        <symbol id=":logout" viewBox="0 0 30 32">
            <title id=":logout-title">Logout</title>
            <g transform="translate(-355.000000, -133.000000)">
                <path d="M369.668,133.864267 L369.677332,133.736583 C369.731979,133.366309 370.020754,133.073285 370.38817,133.010186 L370.5132,133 L383.295867,133 L383.406303,133.005882 C383.881556,133.065507 384.259955,133.440393 384.324827,133.913078 L384.334667,134.0576 L384.334667,163.936267 L384.326384,164.06952 C384.266752,164.545727 383.891787,164.924213 383.418164,164.989093 L383.273333,164.998933 L370.512,164.998933 L370.512,164.992267 L370.38719,164.980109 C370.025312,164.918375 369.739577,164.633514 369.680548,164.27046 L369.669333,164.130933 L369.678473,164.004757 C369.731998,163.639059 370.014902,163.351245 370.375919,163.28414 L370.514667,163.2696 L370.514667,163.262933 L382.601333,163.262933 L382.601333,134.730933 L370.533333,134.730933 L370.405591,134.721537 C369.988661,134.659639 369.668,134.299418 369.668,133.864267 Z M355,148.998933 L355.013781,148.846837 C355.040885,148.699669 355.106581,148.567957 355.198485,148.457749 L361.584,142.0696 C361.719467,141.934133 361.888213,141.852427 362.064299,141.825163 L362.197333,141.814933 L362.329717,141.825163 C362.461269,141.845611 362.589077,141.896683 362.701909,141.978091 L362.809333,142.0696 L362.900773,142.177099 C363.11752,142.478368 363.11752,142.887499 362.900773,143.188768 L362.809333,143.296267 L357.973333,148.130933 L374.676,148.130933 L374.804375,148.140331 C375.176582,148.19536 375.470429,148.48618 375.531133,148.8566 L375.542667,148.998933 L375.5333,149.126676 C375.478449,149.49728 375.188519,149.79182 374.818295,149.852698 L374.676,149.864267 L357.973333,149.864267 L362.809333,154.700267 L362.900773,154.807728 C363.11752,155.108805 363.11752,155.517061 362.900773,155.818139 L362.809333,155.9256 L362.70216,156.01704 C362.401573,156.233787 361.99176,156.233787 361.691173,156.01704 L361.584,155.9256 L355.198485,149.537344 C355.075947,149.390187 355,149.2048 355,148.998933 Z"></path>
            </g>
        </symbol>

        <symbol id=":snowflake-ambient" viewBox="0 0 26 26">
            <title id=":snowflake-ambient">Snowflake Ambient</title>
            <path fill="#09D" d="M3.38 15.12V14.95a.569.569 0 01.56-.366h.122l3.925.813 3.827-2.486-3.827-2.462-3.925.829h-.08a.569.569 0 01-.561-.358V10.75a.569.569 0 01.357-.57h.09l2.81-.593-2.437-1.625-.073-.056a.569.569 0 01-.179-.594l.074-.113v-.073a.569.569 0 01.65-.139l.08.041 2.438 1.625-.568-2.844v-.122a.569.569 0 01.357-.56H7.19c.245-.014.47.13.561.357v.09l.813 3.924 3.68 2.389V7.524L9.457 4.696l-.056-.073a.569.569 0 010-.666l.056-.073.074-.057a.569.569 0 01.666 0l.073.057 2.031 2.031V3.006a.569.569 0 01.488-.56h.17c.246.035.44.226.48.47v3.007l1.998-2.031.074-.057a.569.569 0 01.666 0l.073.057.057.073a.569.569 0 010 .666l-.057.065-2.828 2.828v4.363l3.681-2.389.813-3.924v-.081a.569.569 0 01.56-.366H18.646c.231.088.38.314.367.56v.09l-.594 2.811 2.438-1.625.081-.04a.569.569 0 01.65.138l.057.073.04.081a.569.569 0 01-.137.65l-.074.057-2.437 1.625 2.811.593h.081a.569.569 0 01.374.56V10.872a.569.569 0 01-.56.366h-.09l-3.916-.813-3.827 2.487 3.819 2.527 3.916-.813h.081a.569.569 0 01.569.357V15.153a.569.569 0 01-.357.56h-.09l-2.811.594 2.437 1.56.074.057a.569.569 0 01.138.65l-.041.081-.057.073a.569.569 0 01-.65.138l-.081-.04-2.397-1.56.593 2.81v.082a.569.569 0 01-.357.56H18.525a.569.569 0 01-.56-.357v-.09l-.813-3.924-3.68-2.388v4.412l2.778 2.868.057.073a.569.569 0 010 .666l-.057.073-.073.057a.569.569 0 01-.666 0l-.073-.073-2.032-2.031v2.941a.569.569 0 01-.471.48h-.179a.569.569 0 01-.48-.472v-2.941l-2.03 2.031-.073.057a.569.569 0 01-.667 0l-.073-.057-.04-.106a.569.569 0 010-.666l.056-.073 2.836-2.836v-4.379L8.613 16.38l-.837 3.932v.082a.569.569 0 01-.561.365H7.045a.569.569 0 01-.366-.56v-.09l.593-2.81-2.397 1.51-.081.041a.569.569 0 01-.65-.138l-.081-.065v-.081a.569.569 0 01.138-.65l.04-.041 2.438-1.56-2.811-.593h-.082a.569.569 0 01-.406-.601z"></path>
            <path fill="#E99" d="M13 0C5.82 0 0 5.82 0 13s5.82 13 13 13 13-5.82 13-13A13 13 0 0013 0zm11.473 13a11.375 11.375 0 01-2.974 7.678L5.322 4.501A11.448 11.448 0 0124.472 13zM1.527 13a11.375 11.375 0 012.73-7.41L20.41 21.742A11.456 11.456 0 011.527 13z"></path>
        </symbol>

        <symbol id=":snowflake" viewBox="0 0 30 33">
            <title id=":snowflake">Snowflake</title>
            <g transform="translate(-272.000000, -211.000000)">
                <path d="M283.66776,213.000931 L283.809333,213.01923 L283.932599,213.054863 C284.28437,213.185501 284.511954,213.531824 284.494337,213.905982 L284.476,214.04723 L283.210667,220.02323 L287,225.849896 L290.788,220.02323 L289.522667,214.04723 L289.505136,213.920026 C289.481539,213.545201 289.705289,213.195863 290.053261,213.059863 L290.189333,213.01923 L290.316838,213.0017 C290.692385,212.978112 291.041019,213.20195 291.177706,213.550793 L291.218667,213.68723 L292.124,217.968563 L294.544,214.245896 L294.630231,214.134186 C294.879969,213.8597 295.279297,213.774399 295.618636,213.92402 L295.742667,213.99123 L295.854737,214.077174 C296.130076,214.326432 296.215377,214.727414 296.064903,215.067126 L295.997333,215.19123 L293.577333,218.91123 L297.857333,218.005896 L297.984507,217.988005 C298.359163,217.963357 298.707698,218.186294 298.844374,218.535801 L298.885333,218.672563 L298.902532,218.799766 C298.925239,219.174582 298.70139,219.523832 298.353407,219.658961 L298.217333,219.69923 L292.241333,220.968563 L288.596,226.573896 L295.242667,226.573896 L299.561333,222.253896 L299.668795,222.162096 C299.969872,221.944496 300.378128,221.944496 300.679205,222.162096 L300.786667,222.253896 L300.878107,222.36107 C301.094853,222.661656 301.094853,223.07147 300.878107,223.372056 L300.786667,223.47923 L297.694667,226.573896 L302.132,226.573896 C302.568364,226.573896 302.928694,226.893456 302.990603,227.311187 L302.9976,227.421363 L302.9976,227.458696 L302.990603,227.567273 C302.935573,227.938589 302.644753,228.232338 302.274333,228.293031 L302.132,228.304563 L297.694667,228.304563 L300.786667,231.39923 L300.878107,231.506727 C301.094853,231.807986 301.094853,232.21702 300.878107,232.517426 L300.786667,232.624563 L300.679205,232.716003 C300.378128,232.93275 299.969872,232.93275 299.668795,232.716003 L299.561333,232.624563 L295.242667,228.304563 L288.596,228.304563 L292.241333,233.912563 L298.217333,235.17923 L298.3403,235.214832 C298.691367,235.345291 298.91983,235.690725 298.903269,236.064687 L298.885333,236.205896 L298.849399,236.329764 C298.71805,236.682969 298.372517,236.909057 297.998544,236.891942 L297.857333,236.873896 L293.577333,235.968563 L295.997333,239.689896 L296.064903,239.813279 C296.215377,240.151274 296.130076,240.552159 295.854737,240.80226 L295.742667,240.888563 L295.618636,240.955448 C295.279297,241.104398 294.879969,241.019875 294.630231,240.745571 L294.544,240.633896 L292.124,236.912563 L291.218667,241.19123 L291.182732,241.314527 C291.051373,241.666486 290.705753,241.895048 290.330908,241.878497 L290.189333,241.860563 L290.066368,241.824628 C289.715309,241.693269 289.486934,241.347649 289.504367,240.972805 L289.522667,240.83123 L290.788,234.857896 L287,229.028563 L283.210667,234.857896 L284.476,240.83123 L284.493561,240.958735 C284.517327,241.334281 284.29438,241.682916 283.945732,241.819602 L283.809333,241.860563 L283.681829,241.877761 C283.306292,241.900459 282.957745,241.676522 282.82193,241.327668 L282.781333,241.19123 L281.874667,236.912563 L279.5,240.565896 L279.413408,240.677606 C279.162805,240.95208 278.763381,241.037286 278.424032,240.8868 L278.3,240.81923 L278.187967,240.732999 C277.91282,240.48326 277.828393,240.083932 277.97906,239.744594 L278.046667,239.620563 L280.421333,235.968563 L276.141333,236.873896 L276.014162,236.891186 C275.639524,236.9144 275.291164,236.692958 275.15623,236.34295 L275.116,236.205896 L275.098138,236.078724 C275.07365,235.704077 275.297301,235.355629 275.645263,235.219825 L275.781333,235.17923 L281.757333,233.912563 L285.401333,228.304563 L278.673333,228.304563 L274.354667,232.624563 L274.247205,232.716003 C273.946128,232.93275 273.537872,232.93275 273.236795,232.716003 L273.129333,232.624563 L273.037893,232.517426 C272.821147,232.21702 272.821147,231.807986 273.037893,231.506727 L273.129333,231.39923 L276.224,228.304563 L271.866667,228.304563 L271.738593,228.295198 C271.367098,228.240355 271.072459,227.950513 271.01157,227.58116 L271,227.43923 L271.009396,227.311187 C271.064417,226.93987 271.355149,226.646122 271.724698,226.585428 L271.866667,226.573896 L276.224,226.573896 L273.129333,223.47923 L273.037893,223.372056 C272.821147,223.07147 272.821147,222.661656 273.037893,222.36107 L273.129333,222.253896 L273.236795,222.162096 C273.537872,221.944496 273.946128,221.944496 274.247205,222.162096 L274.354667,222.253896 L278.673333,226.573896 L285.401333,226.573896 L281.757333,220.968563 L275.781333,219.69923 L275.658369,219.663928 C275.307319,219.534181 275.079032,219.187956 275.097336,218.813809 L275.116,218.672563 L275.151271,218.548967 C275.28084,218.196314 275.626174,217.96872 276.000126,217.987197 L276.141333,218.005896 L280.421333,218.91123 L278.046667,215.25923 L277.97906,215.135198 C277.828393,214.795848 277.91282,214.396424 278.187967,214.145822 L278.3,214.05923 L278.424032,213.992379 C278.763381,213.8436 279.162805,213.928806 279.413408,214.201574 L279.5,214.312563 L281.874667,217.968563 L282.781333,213.68723 L282.816937,213.563933 C282.947405,213.211984 283.292926,212.98351 283.66776,213.000931 Z" transform="translate(286.998800, 227.439670) rotate(-90.000000) translate(-286.998800, -227.439670)"></path>
            </g>
        </symbol>

        <symbol id=":attention" viewBox="0 0 32 32">
            <title id=":attention-title">Attention</title>
            <g transform="translate(-512.000000, -210.000000)">
                <path d="M528.001333,210 C536.701395,210 543.780507,216.945265 543.996266,225.593265 L543.998933,225.8716 L543.998933,226.102267 L543.996266,226.406475 C543.783826,234.921554 536.917589,241.785763 528.401705,241.994954 L528.100267,241.9996 L527.898933,241.9996 L527.594605,241.9948 C519.077059,241.78236 512.214065,234.916123 512.004912,226.400238 L512,225.999867 L512.005066,225.593265 C512.220786,216.945265 519.298646,210 528.001333,210 Z M528.001333,211.730667 C520.247118,211.730667 513.938453,217.915555 513.736965,225.619767 L513.732,225.999867 L513.736965,226.380036 C513.935095,233.957177 520.038526,240.062657 527.614849,240.264069 L528.001333,240.2692 L528.381377,240.264235 C535.956103,240.066105 542.064039,233.962674 542.265533,226.386351 L542.270667,225.999867 L542.2657,225.619767 C542.064129,217.915555 535.752925,211.730667 528.001333,211.730667 Z M535.134667,225.1332 C535.569818,225.1332 535.930039,225.454963 535.991937,225.871091 L536.001333,225.998533 L535.991937,226.126939 C535.936916,226.499324 535.646184,226.794062 535.276636,226.854962 L535.134667,226.866533 L526.2,226.866533 L526.072257,226.857136 C525.701653,226.802106 525.407113,226.511286 525.346235,226.140867 L525.334667,225.998533 L525.344062,225.871091 C525.399074,225.5012 525.689718,225.205868 526.058396,225.144805 L526.2,225.1332 L535.134667,225.1332 Z M521.801333,225.1332 C522.237697,225.1332 522.596926,225.454963 522.658634,225.871091 L522.668,225.998533 L522.658634,226.126939 C522.603782,226.499324 522.313852,226.794062 521.943629,226.854962 L521.801333,226.866533 L520.866667,226.866533 L520.738955,226.857136 C520.368529,226.802106 520.074879,226.511286 520.014197,226.140867 L520.002667,225.998533 L520.012031,225.871091 C520.066865,225.5012 520.356618,225.205868 520.7251,225.144805 L520.866667,225.1332 L521.801333,225.1332 Z" transform="translate(527.999467, 225.999800) rotate(-90.000000) translate(-527.999467, -225.999800)"></path>
            </g>
        </symbol>

        <symbol id=":icon-store" viewBox="0 0 32 32">
            <title id=":icon-store">Icon Store</title>
            <path d="M22.2 4.48c1.949 0.632 3.641 1.54 5.131 2.695l-0.038-0.028c1.389 1.095 2.538 2.423 3.405 3.934l0.035 0.066c0.772 1.403 1.227 3.075 1.227 4.853s-0.454 3.45-1.253 4.906l0.027-0.053c-0.902 1.577-2.051 2.905-3.411 3.978l-0.029 0.022c-1.452 1.127-3.144 2.034-4.975 2.633l-0.118 0.033c-1.811 0.626-3.899 0.987-6.070 0.987-0.041 0-0.082-0-0.123-0l0.006 0c-0.037 0-0.081 0-0.126 0-2.178 0-4.271-0.361-6.223-1.027l0.136 0.040c-1.943-0.642-3.629-1.549-5.12-2.696l0.040 0.030c-1.391-1.085-2.534-2.415-3.38-3.934l-0.034-0.066c-0.788-1.392-1.253-3.056-1.253-4.83 0-1.792 0.475-3.474 1.305-4.926l-0.026 0.049c0.879-1.585 2.022-2.915 3.385-3.978l0.029-0.022c1.451-1.118 3.137-2.024 4.96-2.632l0.12-0.035c1.816-0.626 3.91-0.987 6.087-0.987 0.030 0 0.061 0 0.091 0l-0.005-0c0.038-0 0.084-0 0.129-0 2.172 0 4.259 0.361 6.205 1.027l-0.135-0.040zM2.8 16c0.035 1.177 0.311 2.282 0.781 3.277l-0.021-0.050c0.471 1.007 1.104 1.861 1.874 2.568l0.006 0.005 1.333-0.4 1.333-0.36v0.107c-0.606-1.591-0.957-3.431-0.957-5.352 0-0.869 0.072-1.721 0.21-2.551l-0.012 0.090c0.153-0.923 0.38-1.743 0.683-2.526l-0.029 0.086-1.333-0.347q-0.627-0.173-1.2-0.4v0c-1.574 1.475-2.581 3.539-2.666 5.838l-0 0.015zM9.827 24.6v0q-0.36-0.52-0.68-1.080c-0.209-0.334-0.418-0.728-0.601-1.136l-0.026-0.064c-0.627 0.16-1.253 0.32-1.88 0.52v0c0.424 0.311 0.911 0.629 1.416 0.919l0.077 0.041c0.465 0.266 1.022 0.534 1.598 0.766l0.095 0.034zM8.493 9.587v-0.093c0.172-0.415 0.342-0.757 0.531-1.086l-0.024 0.046c0.199-0.361 0.389-0.662 0.594-0.951l-0.021 0.031h-0.093c-0.571 0.217-1.059 0.459-1.519 0.742l0.039-0.022c-0.523 0.292-0.958 0.57-1.377 0.87l0.044-0.030 0.933 0.24c0.293 0.080 0.587 0.173 0.867 0.253zM9.333 11.187v-0.107c-0.243 0.656-0.452 1.436-0.589 2.24l-0.011 0.080c-0.128 0.702-0.201 1.51-0.201 2.335 0 0.046 0 0.092 0.001 0.138l-0-0.007c-0 0.027-0 0.059-0 0.091 0 0.868 0.083 1.717 0.24 2.54l-0.013-0.084c0.149 0.897 0.348 1.682 0.605 2.441l-0.032-0.108h-0.187c0.973-0.2 1.973-0.36 2.987-0.48s2.067-0.187 3.133-0.2v-8.2c-1.040 0-2.067-0.093-3.093-0.213s-1.973-0.28-2.84-0.467zM11.853 6.76c-0.381 0.434-0.737 0.914-1.053 1.42l-0.027 0.046c-0.285 0.45-0.587 0.991-0.861 1.549l-0.046 0.104h-0.227c0.907 0.173 1.84 0.307 2.773 0.413s1.907 0.173 2.893 0.2v-4.2c-0.656 0.026-1.272 0.088-1.876 0.185l0.089-0.012c-0.63 0.083-1.181 0.196-1.718 0.341l0.091-0.021zM9.96 22.053v0.067c0.309 0.647 0.633 1.198 0.998 1.717l-0.025-0.037c0.403 0.571 0.81 1.071 1.248 1.542l-0.008-0.009h-0.173q0.787 0.16 1.6 0.28c0.547 0 1.093 0.12 1.667 0.147v-4.253q-1.333 0-2.76 0.16c-0.961 0.083-1.83 0.22-2.678 0.412l0.132-0.025zM16.707 10.467v0c0.947 0 1.893-0.080 2.813-0.187 1.029-0.1 1.939-0.241 2.832-0.429l-0.165 0.029v-0.093c-0.28-0.547-0.587-1.067-0.907-1.587-0.345-0.531-0.701-0.992-1.089-1.424l0.009 0.010h0.133c-0.461-0.116-1.053-0.228-1.656-0.31l-0.091-0.010c-0.527-0.086-1.157-0.148-1.797-0.172l-0.030-0.001zM23.507 15.867c-0.002-0.868-0.080-1.717-0.226-2.542l0.013 0.089c-0.166-0.856-0.382-1.602-0.658-2.32l0.031 0.093h0.227c-1 0.2-2.027 0.36-3.067 0.493-0.919 0.121-2.009 0.202-3.113 0.226l-0.034 0.001v8.24c1.040 0 2.053 0.080 3.053 0.187s1.947 0.267 2.84 0.453v0.107c0.261-0.681 0.492-1.495 0.652-2.334l0.015-0.093c0.17-0.776 0.267-1.667 0.267-2.581 0-0.007 0-0.013 0-0.020v0.001zM19.827 25.333c0.417-0.459 0.812-0.959 1.17-1.486l0.030-0.047c0.346-0.488 0.691-1.051 0.999-1.636l0.041-0.084h0.2c-0.893-0.173-1.8-0.32-2.667-0.427s-1.88-0.173-2.827-0.2v4.24c0.547 0 1.080-0.067 1.613-0.133 0.561-0.059 1.051-0.139 1.533-0.244l-0.093 0.017zM23.44 22.413v0.093c-0.187 0.373-0.387 0.733-0.6 1.093s-0.413 0.693-0.627 1.027h0.093c0.637-0.244 1.168-0.495 1.678-0.78l-0.064 0.033c0.535-0.328 0.997-0.663 1.431-1.028l-0.018 0.015-0.933-0.253c-0.248-0.077-0.571-0.155-0.9-0.217l-0.060-0.009zM22.427 7.507v0l0.587 0.987c0.187 0.347 0.373 0.707 0.547 1.107l0.84-0.267 0.933-0.24c-0.389-0.312-0.826-0.603-1.286-0.856l-0.047-0.024c-0.52-0.213-1.027-0.467-1.573-0.707zM26.56 21.827c0.779-0.744 1.416-1.628 1.871-2.614l0.022-0.053c0.448-0.924 0.721-2.007 0.747-3.151l0-0.009c-0.018-1.19-0.296-2.311-0.781-3.314l0.021 0.047c-0.487-1.016-1.142-1.876-1.938-2.579l-0.009-0.007-1.16 0.373c-0.4 0.12-0.827 0.227-1.253 0.333v-0.093c0.558 1.508 0.88 3.25 0.88 5.067 0 0.014-0 0.028-0 0.042v-0.002c-0.001 0.943-0.089 1.866-0.254 2.76l0.014-0.094c-0.177 0.96-0.407 1.797-0.702 2.604l0.035-0.11c0.773 0.307 1.64 0.52 2.507 0.8z"></path>
        </symbol>

        <symbol id=":overview-bubble" viewBox="0 0 24 24">
            <title id=":overview-bubble">Overview bubble</title>
            <g transform="translate(432 -6)">
                <g transform="translate(-432 6)">
                    <g transform="translate(0)">
                        <path id="Pfad_215" d="M15.3,12.7H8.7c-0.4,0-0.7,0.3-0.7,0.7c0,0.4,0.3,0.7,0.7,0.7h6.5c0.4,0,0.7-0.3,0.7-0.7
				C15.9,12.9,15.6,12.7,15.3,12.7z M16.6,8.7H7.4C7.1,8.7,6.8,9,6.8,9.4c0,0.4,0.3,0.7,0.7,0.7h9.1c0.4,0,0.7-0.3,0.7-0.7
				C17.2,9,16.9,8.7,16.6,8.7C16.6,8.7,16.6,8.7,16.6,8.7L16.6,8.7z M12,1.6c-5.7,0-10.4,4.1-10.4,9.1c0.1,2.9,1.5,5.5,3.9,7.1v4.6
				l4.6-2.8c0.6,0.1,1.3,0.2,1.9,0.2c5.7,0,10.4-4.1,10.4-9.1S17.7,1.6,12,1.6z M12,18.5c-0.7,0-1.5-0.1-2.2-0.2l-3.1,1.8l0-3
				c-2.3-1.3-3.8-3.7-3.9-6.4C2.9,6.4,7,2.9,12,2.9s9.1,3.5,9.1,7.8S17,18.5,12,18.5z"/>
                    </g>
                </g>
            </g>
        </symbol>
    {% endspaceless %}
{% endblock %}
