@mixin register-page-left-side($name: '.register-page-left-side') {

    #{$name} {
        &__body {
            background-color: $setting-color-light-tentgray-3;
            font-family: $setting-font-family-additional;
            color: $setting-color-tentgray;
            padding: rem(24);
            overflow: hidden;
        }

        &__top-margin {
            margin-top: rem(35);
        }

        &__top-margin-smaller {
            margin-top: rem(8);
        }

        &__top-margin-big {
            margin-top: rem(24);
        }

        &__bot-margin {
            margin-bottom: rem(12);
        }

        &__bottom-margin-information {
            margin-bottom: rem(8);
        }

        &__flex {
            display: flex;
        }

        &__information-paragraph-margin {
            margin: rem(0);

            @include helper-breakpoint-media-max($md-max) {
                margin-top: rem(2);
            }
        }

        &__bot-margin-smaller {
            margin-bottom: rem(8);
        }

        &__left-margin {
            margin-left: rem(24);
            display: inline-flex;
        }

        &__left-margin-smaller {
            margin-left: rem(8);
        }

        &__right-margin {
            margin-right: rem(16);
            display: inline-flex;
        }

        &__value {
            margin-top: rem(5);
            margin-left: rem(10);
        }

        &__right-margin-smaller {
            margin-right: rem(8);
        }

        &__header {
            font-weight: 500;
        }

        &__input-label {
            font-size: rem(12);
            font-weight: 600;
            margin: rem(12) rem(14) 0 rem(14);
        }

        &__font-medium {
            font-size: medium;
        }

        &__font-smaller {
            font-size: smaller;
        }

        &__icon {
            width: rem(24);
            height: rem(12);
            vertical-align: middle;
        }

        &__height {
            min-height: rem(48);
            width: 90%;
            margin-right: rem(4);
        }

        &__icon-list {
            margin: rem(5) auto rem(5) auto;
        }

        &__green-radio-button {
            box-shadow:0 0 0 1px $setting-color-input-border-tentgray;
            appearance: none;
            border-radius:50%;
            width:rem(30);
            height:rem(30);
            background-color:$setting-color-globus-white;
            cursor: pointer;
            &:checked {
                border:10px solid $setting-color-forest-green;
                background-color: $setting-color-globus-white;
            }
        }

        &__linkOrange {
            text-decoration: none;
            color: $setting-color-orange;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
        }

        #btnCancelRegister {
            background-color: red;
        }

        #globusCardTerms {
            float: right;
        }

        #globusCardTerms span{
            float: left;
            margin-top: rem(4);
            margin-right: rem(4);
        }

    }

    .hidden {
        display: none;
    }

}

@include register-page-left-side();
