@mixin register-page-left-side($name: '.register-page-left-side') {

    #{$name} {
        &__body{
            background-color: $setting-color-globus-lightGray;
            padding: rem(16);
        }

        &__image{
            width: 80%;
            margin-left: rem(28);
        }

        &__top-margin{
            margin-top: rem(16);
        }

        &__font-smaller{
            font-size: smaller;
        }

        &__icon{
            width: rem(24);
        }
    }

    .hidden{
        display: none;
    }

}

@include register-page-left-side();
