{% extends model('component') %}

{% define config = {
    name: 'title-box',
} %}

{% define data = {
    title: required,
    isTitleRaw: false,
} %}

{% block extraClass %} grid grid--justify grid--middle{% endblock %}

{% block body %}
    {% block title %}
        {% if app.currentCodeBucket == 'DE' %}
            <h3 class="title title--h2 title--general col">
                {{- data.isTitleRaw ? data.title | raw : data.title -}}
            </h3>
        {% else %}
            <h3 class="title title--h2 title--general title--heading-CZ col">
                {{- data.isTitleRaw ? data.title | raw : data.title -}}
            </h3>
        {% endif %}
    {% endblock %}

    {% block additionalContent %}{% endblock %}
{% endblock %}
