@mixin customer-page-title-box($name: '.title-box') {
    #{$name} {
        margin-bottom: rem(10);
        display: flex;
        align-items: center;

        &--borderless {
            border: none;
        }

        @content;
    }
}

@include customer-page-title-box();
