@mixin customer-page-title-box($name: '.title-box') {
    #{$name} {
        border-bottom: rem(1) solid $setting-color-gray-4;
        margin: rem(15) 0;

        &--borderless {
            border: none;
        }

        @content;
    }
}

@include customer-page-title-box();
