{% extends template('page-layout-main') %}

{% define data = {
    form: containerToShelfForm,
    activities: activities
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: 'Container Platz',
            withoutLogo: true,
            titleColor: 'lighterGreen'
        }
    } only %}
{% endblock %}

{% block content %}

    <div class="margin-top-shelf">

        <div class="padding-shelf"><span class="span-font-weight"> {{ 'storeapp.form.container-assign' | trans }} </span></div>

        {% include molecule('container-to-shelf-form', 'Picker') with {
            data: {
                form: data.form
            },
        } only %}
    </div>
{% endblock %}
