{% extends template('page-layout-main') %}

{% define data = {
    form: containerToShelfForm,
    activities: activities,
    isErrorTrue: isErrorTrue | default(null),
    isSuccess: isSuccess | default(null),
    isUpdated: isUpdated | default(null),
    containerId: containerId | default(null),
    shelfId: shelfId | default(null),
    orderId: orderId | default(null),
    listOfContainers: listOfContainers | default(null),
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: 'Container Platz',
            withoutLogo: true,
            titleColor: 'lighterGreen'
        }
    } only %}
{% endblock %}

{% block content %}
    {% embed molecule('popup-success-ui') with {
        data: {
            isSuccess: data.isSuccess,
            containerId: data.containerId,
            shelfId: data.shelfId,
            buttons: {
                submit: {
                    isButton: true,
                    additionalClass: 'js-pick-products__submit',
                },
            },
        },
    } only %}
    {% endembed %}
    {% embed molecule('popup-ui-info') with {
        data: {
            isUpdated: data.isUpdated,
            containerId: data.containerId,
            shelfId: data.shelfId,
            orderId: data.orderId,
            buttons: {
                submit: {
                    isButton: true,
                    additionalClass: 'js-pick-products__submit',
                },
            },
        },
    } only %}
    {% endembed %}
            {% embed molecule('popup-ui-error') with {
                data: {
                    isErrorTrue: data.isErrorTrue,
                    buttons: {
                        submit: {
                            isButton: true,
                            additionalClass: 'js-pick-products__submit',
                        },
                    },
                },
            } only %}
    {% endembed %}


    <div class="margin-top-shelf">

        <div class="padding-shelf"><span class="span-font-weight"> {{ 'storeapp.form.container-assign' | trans }} </span></div>

        {% include molecule('container-to-shelf-form', 'Picker') with {
            class: 'js-order-search__item',
            data: {
                form: data.form,
                isSuccess: data.isSuccess,
            },
            attributes: {
                'data-listOfContainers': data.listOfContainers
            },
        } only %}
    </div>
{% endblock %}
