{% extends template('page-layout-main') %}

{% define data = {
    form: containerToShelfForm,
    activities: activities
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: '',
        }
    } only %}
{% endblock %}

{% block content %}
    <ul class="list list--inline spacing-bottom">
        {% for activity in data.activities %}
            <li class="list__item">
                <a class="button button--tab {% if app.request.pathinfo == activity.path %}button--active-tab{% endif %}" href="{{ activity.path }}">{{ activity.name | trans }}</a>
            </li>
        {% endfor %}
    </ul>

    {% include molecule('container-to-shelf-form', 'Picker') with {
        data: {
            form: data.form
        },
    } only %}
{% endblock %}
