@include shop-ui-input {
    @include helper-effect-transition(border-color, box-shadow);
    font: fw(medium) rem(14)/rem(18) $setting-font-family;
    color: $setting-color-black;
    padding: rem(15);
    border: rem(1) solid $setting-color-input-border;
    border-radius: rem(2);
    appearance: none;
    border-radius: rem(25);

    &::placeholder {
        @include helper-font-weight(regular);
        color: $setting-color-gray-9;
    }

    &:focus {
        &:not([readonly='readonly']) {
            border-color: $setting-color-input-shadow-focus;
            box-shadow: 0 0 0 rem(2) rgba($setting-color-gray-6, 0.5);
        }
    }

    &[disabled],
    &--disabled {
        border-color: $setting-color-gray-3;
        background: $setting-color-gray-15;
        color: $setting-color-gray-4;
    }

    &--borderless {
        border-color: $setting-color-transparent;
    }

    &--search {
        border: none;
        border-radius: 0;
        border-top-left-radius: rem(20);
        border-bottom-left-radius: rem(20);
        padding-left: rem(40);
        padding-right: rem(36);

        &:focus {
            &:not([readonly='readonly']) {
                box-shadow: none;
            }
        }
    }

    &--subscribe {
        border-radius: rem(2) 0 0 rem(2);
        border-color: $setting-color-transparent;

        &:focus {
            &:not([readonly='readonly']) {
                box-shadow: none;
            }
        }
    }
}
