@mixin picker-select-picking-zone-form($name: '.select-picking-zone-form') {
    #{$name} {

        &__title {
            font-size: rem(18);
            padding: 0 0 rem(8);
        }

        &__radio-list {
            margin: rem(5) 0 rem(15) 0;
        }

        &__radio-item {
            margin-bottom: rem(10);
        }

        .disable-field {
            color: gray;
        }

        #picking_zone_selection_form_buttonSubmit {
            height: 3rem !important;
        }
    }
}

@include picker-select-picking-zone-form();
