@mixin picker-select-picking-zone-form($name: '.select-picking-zone-form') {
    #{$name} {
        padding: rem(15) 0;

        &__title {
            font-size: rem(18);
            padding: 0 0 rem(20);
        }

        &__radio-list {
            margin-bottom: rem(40);
        }

        &__radio-item {
            margin-bottom: rem(10);
        }

        .disable-field {
            color: gray;
        }
    }
}

@include picker-select-picking-zone-form();
