{% extends template('widget') %}

{% define data = {
    navigation: navigation,
} %}

{% block body %}
    <h2 class="spacing-bottom navigation-category__category-title">{{ 'popular.categories' | trans }}</h2>

    <div class="grid grid--justify">
        {% for node in data.navigation.nodes %}
            <div class="col col--sm-12 col--lg-4 col--spaced-lg">
                {% include molecule('navigation-category', 'NavigationWidget') with {
                    data: {
                        node: node,
                    },
                } only %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
