{% extends template('page-layout-main') %}

{% block header %}
    {% include organism('header') %}
{% endblock %}

{% block content %}
    <h1>{{ 'storeapp.login.access.denied' | trans }}</h1>
{% endblock content %}
