$shop-ui-form-field-margin: rem(8);
$review-rating-field-width: rem(154);

@mixin shop-ui-form($name: '.form') {
    #{$name} {
        &__field {
            padding: 0 rem(16) rem(16);

            &--review {
                padding: 0 0 rem(25);

                @include helper-breakpoint-media-min($md-min) {
                    padding-bottom: rem(28);
                }
            }

            &--review-summary {
                @include helper-breakpoint-media-min($md-min) {
                    min-width: 0;
                    width: calc(100% - #{$review-rating-field-width});
                }
            }

            &--review-rating {
                @include helper-breakpoint-media-min($md-min) {
                    min-width: 0;
                    margin: rem(20) 0 0 auto;
                }
            }
        }

        &__checkout-actions-btn {
            width: 20%;
            margin: 0;
        }

        &__actions {
            text-align: right;

            &--profile {
                padding: rem(8) 0;

                @include helper-breakpoint-media-max($lg-max) {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }

            &--customer-overview {
                display: block;
                text-align: right;
            }
        }

        &__action {

            &--login {
                margin: 0;
                border-radius: rem(25);

                &:not(:last-child) {
                    margin-top: rem(30);
                }
            }

            &--submit {
                &:hover {
                    box-shadow: none !important;
                }
            }

            &--cancel {
                margin: 0;
                color: $setting-color-fresh-orange;
                background-color: $setting-color-globus-white !important;

                &:hover {
                    border: 2px solid $setting-color-fresh-orange;
                    background: $setting-color-fresh-orange-2 !important;
                    color: $setting-color-fresh-orange !important;
                }

                &:focus {
                    outline-style: solid;
                    outline-width: rem(1);
                    outline-color: $setting-color-fresh-orange;
                    outline-offset: rem(2);
                }
            }

            &--cancel-cz {
                margin: 0;
                color: $setting-color-globusCZ-main-green;
                background-color: $setting-color-globus-white;
                border-color: $setting-color-globusCZ-main-green;

                &:hover {
                    background-color: $setting-color-globusCZ-hover;
                    box-shadow: none !important;
                }
            }

            &--checkout {
                border-radius: rem(30);
                margin: 0;

                @include helper-breakpoint-media-max($lg-max) {
                    margin-top: rem(12);
                }

                &:not(:last-child) {
                    margin-top: rem(16);
                }
            }
        }

        &--inline {
            #{$name}__container {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-end;
            }

            #{$name}__fields {
                float: left;
                flex-grow: 1;
                flex-basis: auto;
            }

            #{$name}__actions {
                display: flex;
                flex-grow: 0;
                flex-basis: auto;
            }

            #{$name}__field {
                padding-bottom: 0;
                padding-right: 0;
            }
        }

        &__checkout-sub-form,
        &--checkout-form {
            background-color: $setting-color-gray-2;

            #{$name}__field {
                padding: 0 rem(8) rem(16);

                &:last-child {
                    padding-bottom: 0;
                }
            }

            #{$name}__fields {
                margin: rem(16) rem(-8) 0;
                max-width: fit-content;
            }
        }

        &__checkout-sub-form {
            margin: rem(16) rem(-8) 0;
        }

        &--checkout-actions {
            #{$name}__actions {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
                margin-top: rem(32);

                @media only screen and (max-width: $lg-min) {
                    margin-top: rem(12);
                }
            }

            #{$name}__actions-guest {
                display: flex;
                align-items: flex-end;

                @include helper-breakpoint-media-min($lg-min) {
                    display: block;
                    float: right;
                }
            }
        }

        &--summary-actions {
            #{$name}__actions {
                float: unset;

                @include helper-breakpoint-media-max($lg-max) {
                    display: flex;
                    flex-direction: column-reverse;
                    padding-top: 0;
                }
            }
        }

        &--login,
        &--checkout-form-elements {
            width: auto;

            @include helper-breakpoint-media-min($lg-min) {
                width: 100%;
            }

            label,
            .label {
                display: block;
            }

            .checkbox__container,
            .toggler-checkbox__container {
                display: flex;
            }
        }

        &--custom-forms {
            iframe {
                margin: 0;
            }

            .input,
            .custom-select {
                margin: rem(4);
                width: calc(100% - 6px);
            }
        }

        &--pdp-review-form {
            .label {
                color: $setting-color-gray-6;

                &::after {
                    display: none;
                }
            }

            input[type='text'],
            textarea {
                @include helper-effect-transition(all 0.4s ease);
                font: fw(regular) rem(17)/rem(22) $setting-font-family;
                color: $setting-color-gray-6;
                padding: rem(10) rem(15);

                &:focus {
                    border-color: $setting-color-gray-5;
                }

                &:hover {
                    background-color: $setting-color-gray-1;
                }
            }
        }

        &--reverse-actions {
            #{$name}__actions {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
            }
        }

        &__expand,
        &--expand {
            width: 100%;
        }

        &--grid-indent {
            .grid {
                margin: 0 rem(-16);
                max-width: none;
            }
        }

        &--grid-sm-indent {
            #{$name}__field {
                padding-left: rem(8);
                padding-right: rem(8);
            }

            .grid {
                margin: 0 rem(-8);
                max-width: none;
            }
        }

        &--payment {
            max-width: rem(770);
            margin: 0 auto;
        }

        &__shipment-item {
            &:not(:first-child) {
                margin-top: rem(50);

                @include helper-breakpoint-media-min($md-min) {
                    margin-top: rem(40);
                }
            }
        }

        .txtarea--checkout {
            width: 100%;
            height: rem(170);
            color: $setting-color-tentgray;
            font-family: $setting-font-family-additional;
            font-size: rem(12);
            border: 1px solid $setting-color-input-border-tentgray;
            border-radius: rem(24);
        }

        .label {
            display: inline-block;
            font: fw(medium) rem(16) $setting-font-family-additional;
            font-style: normal;
            font-weight: 600;
            margin-left: rem(14);
            letter-spacing: rem(0.1);
            line-height: rem(19);
            color: $setting-color-tentgray;

            &--required {
                &::after {
                    content: '*';
                    margin: 0;
                    color: $setting-color-tentgray;
                }
            }
        }

        .label-CZ {
            display: inline-block;
            font: fw(medium) rem(16) $setting-font-family;
            margin-bottom: rem(6);
            letter-spacing: rem(0.1);
            color: $setting-color-gray-6;
            margin-left: rem(10);
            padding-bottom: rem(5);

            &--required {
                &::after {
                    content: '*';
                    margin-left: rem(3);
                    color: $setting-color-globus-lightOrange;
                }
            }
        }

        .margin-telefon-title {
            margin-left: rem(20);
            margin-right: rem(94);

            @media only screen and (max-width: $lg-min) {
                margin-right: rem(15);
            }

            @media only screen and (max-width: $lg-min) {
                margin-right: rem(15);
            }
        }

        .margin-date-title {
            margin-left: rem(20);
        }

        .padding-phone-prefix {
            padding-right: 0;

            @media only screen and (max-width: $sm-max) {
                padding-top: 0;
                padding-bottom: rem(4);
            }
        }

        .padding-mobile-prefix {
            padding-right: 0;

            @media only screen and (max-width: $sm-max) {
                padding-top: rem(8);
                padding-bottom: rem(4);
            }
        }

        .padding-phone-date {
            padding-bottom: 0;

            @media only screen and (max-width: $sm-max) {
                padding-top: 0;
                padding-bottom: rem(4);
            }
        }

        .padding-date-title {

            @include helper-breakpoint-media-max($sm-max) {
                padding-top: rem(12);
            }
        }

        .submit-button {
            float: right;
        }

        @content;
    }

    form[name="cartCodeForm"] {
        #{$name}__container {
            flex-flow: row nowrap;

        }
    }
}

@include shop-ui-form();
