@mixin shop-ui-navigation-header($name: '.navigation-header') {
    #{$name} {
        max-height: 100%;
        overflow-y: auto;

        @include helper-media-ie() {
            direction: rtl;
        }

        &__list {
            ::-webkit-scrollbar {
                width: rem(5);
                background: $setting-color-white;
            }

            ::-webkit-scrollbar-thumb {
                background: $setting-color-globusCZ-main-green;
                border-radius: rem(10);
            }
        }
    }
}

@include shop-ui-navigation-header();
