@mixin customer-page-layout-customer($name: '.page-layout-customer') {
    #{$name} {
        padding-top: rem(20);
        padding-bottom: rem(30);
        font-family: $setting-font-family-additional;
        font-weight: 400;
        color: $setting-color-tentgray;

        .order-table-box {
            background-color: white;

            .title-box{
                background-color: white;
                justify-content: space-between;
            }
        }

        .font-family-CZ{
            font-family: $setting-font-family;
        }

        .title{
            font-weight: 500;
        }

        .user-navigation-sidebar {
            padding-left: rem(10);
        }

        &__container {
            background: $setting-color-white;

            &--navigation {
                @include helper-breakpoint-media-min($xl-min) {
                    margin-right: rem(10);
                }
            }

            &--content {
                margin-top: rem(20);
                padding: rem(20) rem(30) rem(30);

                @include helper-breakpoint-media-min($xl-min) {
                    margin-top: 0;
                }
            }
        }

        @include helper-breakpoint-media-max($lg-max) {

            #additionalLoginForm {
                margin: 0 auto;

                .form-elements {
                    width:100%
                }

            }

        }

        @include helper-breakpoint-media-max($md-max) {

            #additionalLoginForm {

                form[name=startRegistrationForm] {
                    .form--login {
                        width: 100%;
                    }
                }
            }

        }

        &__form-wrap {
            max-width: 59%;
            margin-left: auto;
            margin-right: auto;
            background: $setting-color-white;

            @include helper-breakpoint-media-min($lg-min) {
                border: rem(1) solid $setting-color-gray-15;
                border-top: none;
            }
        }

        .title-box {
                padding: rem(10);
                background-color: $setting-color-light-tentgray-3;
        }

        &__col-first, &__col-last {

            padding: rem(23) rem(27);
            min-height: rem(210);

            .title{
                padding: 0;
            }
            .title-box{
                padding: 0;
            }
        }

        &__col-first {
            @include helper-breakpoint-media-min($lg-min) {
                margin-right: rem(20);
                height: 100%;
            }
        }

        &__col-last {
            @include helper-breakpoint-media-min($lg-min) {
                height: 100%;
            }
        }

        &__left-indent {
            border-radius: rem(25);

            @include helper-breakpoint-media-min($lg-min) {
                margin: 0 0 0 rem(30);
            }
        }

        &--login-wrap {
            margin-top: rem(-1);

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(60) 0;
            }
        }
    }
}

@include customer-page-layout-customer();
