@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    #{$name} {
        &--align-right {
            display: flex;
            justify-content: flex-end;
        }

        &__container {
            padding: 0 rem(10);
            max-width: rem(136);
            border: rem(1) solid $setting-color-input-border-tentgray;
            border-radius: rem(20);

            &--quantity-large {
                max-width: rem(170);
            }

            &--no-spacing {
                padding: 0;
                display: flex;
            }
        }

        &__col {
            padding: 0;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $setting-color-globus-white;
            color: $setting-color-forest-green;

            &--decr {
                border-radius: rem(20);
                border: rem(2) solid $setting-color-forest-green;
                align-items: normal;
            }

            &--incr {
                border-radius: rem(20);
                border: rem(2) solid $setting-color-forest-green;
            }
        }

        &__input {
            margin: 0;
            padding: 0;
            display: block;
            font-weight: 100;
            font-size: rem(16);
            font-family: $setting-font-family-additional;
            width: 100%;
            height: rem(38);
            text-align: center;
            border: rem(2) solid $setting-color-gray-10;
            border-radius: 0;
            /* stylelint-disable */
            -moz-appearance: textfield;
            /* stylelint-enable */

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &:focus:not([readonly='readonly']) {
                box-shadow: none;
            }

            &--quantity-lighter {
                border: none;
                color: black;
            }

            &--quantity-large {
                font-size: rem(15);
                line-height: rem(31);
                height: rem(46);
            }
        }

        @content;
    }
}

@include shop-ui-quantity-counter();
