@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    #{$name} {
        &--align-right {
            display: flex;
            justify-content: flex-end;
        }

        &__borders {
            border-bottom: rem(1.8) solid $setting-color-gray-21;
            border-top: rem(1.8) solid $setting-color-gray-21;
            margin: rem(0) rem(-18);
            height: rem(38);
        }

        &__container {
            padding: 0 rem(10);
            max-width: rem(136);

            &--quantity-large {
                max-width: rem(170);
            }

            &--no-spacing {
                padding: 0;
                display: flex;
            }
        }

        &__col {
            padding: 0;
            &:first-child{
                z-index: 1;
            }
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $setting-color-globus-white;
            color: $setting-color-fresh-orange;

            &--decr {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-fresh-orange;
                align-items: flex-start;

                &:hover {
                    border-color: $setting-color-forest-green;
                    background: $setting-color-forest-green-light;
                }
            }

            &--incr {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-fresh-orange;

                &:hover {
                    border-color: $setting-color-forest-green;
                    background: $setting-color-forest-green-light;
                }
            }
            &:hover {
                color: $setting-color-forest-green;
            }
        }

        &__button-cz {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $setting-color-globus-white;
            color: $setting-color-globusCZ-main-green;

            &--decr-cz {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-globusCZ-main-green;
                align-items: flex-start;

                &:hover {
                    border-color: $setting-color-globusCZ-hover;
                }
            }

            &--incr-cz {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-globusCZ-main-green;

                &:hover {
                    border-color: $setting-color-globusCZ-hover;
                }
            }
            &:hover {
                color: $setting-color-globusCZ-hover;
                background-color: $setting-color-white;
            }
        }

        &__input {
            margin: 0;
            padding: 0;
            display: block;
            font-weight: 100;
            font-size: rem(16);
            font-family: $setting-font-family-additional;
            width: 100%;
            height: rem(38);
            text-align: center;
            border: none;
            /* stylelint-disable */
            -moz-appearance: textfield;
            /* stylelint-enable */

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &:focus:not([readonly='readonly']) {
                box-shadow: none;
            }

            &--quantity-lighter {
                border-top: rem(1) solid $setting-color-input-border-tentgray;
                border-bottom: rem(1) solid $setting-color-input-border-tentgray;
                color: black;
                width: 250%;
                margin-left: rem(-35);

                @include helper-breakpoint-media-min($xxs-max) {
                    width: 220%;
                }

                @include helper-breakpoint-media-min($lg-max){
                    width: 350%;
                }

                @include helper-breakpoint-media-min($l-min){
                    width: 325%;
                }

                @include helper-breakpoint-media-min($l-min+2){
                    width: 240%;
                }


            }

            &--quantity-large {
                font-size: rem(15);
                font-weight: fw(medium);
                line-height: rem(31);
                height: rem(46);
            }
        }

        &--counter-wishlist {
            border: 1px solid $setting-color-input-border-tentgray;
            border-radius: rem(24);
        }

        @content;
    }
}

@include shop-ui-quantity-counter();
