@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    $quantity-counter-width: rem(112);

    #{$name} {
        width: $quantity-counter-width;
        &--align-right {
            display: flex;
            justify-content: flex-end;
        }

        &__borders {
            border-bottom: rem(1.8) solid $setting-color-gray-21;
            border-top: rem(1.8) solid $setting-color-gray-21;
            margin: rem(0) rem(-18);
            height: rem(38);
        }

        &__container {
            padding: 0 rem(10);
            max-width: rem(136);
            position: relative;

            &--quantity-large {
                max-width: rem(170);
            }

            &--no-spacing {
                padding: 0;
                display: flex;
            }

            &:before,
            &:after
            {
                content:'';
                position: absolute;
                width: calc(#{$quantity-counter-width} - 35%);
                height: rem(1);
                background: $setting-color-input-border-tentgray;
                left: rem(16);
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom:0;
            }
        }

        &__col {
            padding: 0;
            &:nth-child(odd)
            {
                z-index: 1;
            }
        }

        .col-decr {
            .js-quantity-counter__decr {
                pointer-events: unset;
                display: flex;
                align-items: center;
            }
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $setting-color-globus-white;
            color: $setting-color-fresh-orange;

            &--decr {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-fresh-orange;
                align-items: flex-start;
                font-weight: 500;

                &:hover {
                    background-color: $setting-color-forest-green-light;
                    border-color: $setting-color-forest-green;
                    background: $setting-color-forest-green-light;
                }
            }

            &--incr {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-fresh-orange;
                font-weight: 500;

                &:hover {
                    background-color: $setting-color-forest-green-light;
                    border-color: $setting-color-forest-green;
                    background: $setting-color-forest-green-light;
                }
            }
            &:hover {
                color: $setting-color-forest-green;
            }
        }

        &__button-cz {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $setting-color-globus-white;
            color: $setting-color-globusCZ-main-green;

            &--decr-cz {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-globusCZ-main-green;
                align-items: flex-start;

                &:hover {
                    border-color: $setting-color-globusCZ-hover;
                }
            }

            &--incr-cz {
                border-radius: rem(25);
                border: rem(2) solid $setting-color-globusCZ-main-green;

                &:hover {
                    border-color: $setting-color-globusCZ-hover;
                }
            }
            &:hover {
                color: $setting-color-globusCZ-hover;
                background-color: $setting-color-white;
            }
        }

        &__input {
            margin: 0;
            padding: 0;
            display: block;
            font-weight: 100;
            font-size: rem(16);
            font-family: $setting-font-family-additional;
            width: 100%;
            height: rem(38);
            text-align: center;
            border: none;
            /* stylelint-disable */
            -moz-appearance: textfield;
            /* stylelint-enable */

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &:focus:not([readonly='readonly']) {
                box-shadow: none;
            }

            &--quantity-lighter {
                color: black;
            }

            &--quantity-large {
                font-size: rem(15);
                font-weight: fw(medium);
                line-height: rem(31);
                height: rem(46);
            }
        }

        &--counter-wishlist {
            border: 1px solid $setting-color-input-border-tentgray;
            border-radius: rem(24);

            .quantity-counter__button--decr, .quantity-counter__button--incr {
                border-color: $setting-color-forest-green;
                color: $setting-color-forest-green;
            }
        }

        @content;
    }
}

@include shop-ui-quantity-counter();
