{% extends model('component') %}

{% define config = {
    name: 'flag',
    tag: 'span'
} %}

{% define data = {
    text: ''
} %}

{% block body %}
    <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }}">
        {{data.text}}
    </span>
    {% if data.type == 'goproduct' %}
        <span><img src="{{ publicPath('images/globus-product.png') }}" /></span>
    {% endif %}
{% endblock %}
