@mixin checkout-page-transport-box($name: '.transport-box') {
    #{$name} {
        height: rem(280);
        padding: rem(12) 0;
        margin-top: rem(10);
        margin-bottom: rem(10);
        color: $setting-color-globus-black;
        font-size: rem(13);

        @include helper-breakpoint-media-max(300px) {
            height: rem(520);
        }

        @include helper-breakpoint-media-between(300px, 320px){
            height: rem(500);
        }

        @include helper-breakpoint-media-between(320px, 335px){
            height: rem(460);
        }

        @include helper-breakpoint-media-between(335px, 400px){
            height: rem(440);
        }

        @include helper-breakpoint-media-between($xs-max, $sm-max){
                height: rem(450);
        }

        @include helper-breakpoint-media-between($xl-min, $l-max){
            height: rem(270);
        }

        &__image {
            margin-top: rem(12);
            width: rem(177);
            height: rem(139);

            @include helper-breakpoint-media-max($sm-max) {
                max-width: 50%;
            }
        }

        &__image-container {
            width: 30%;
        }

        &__text {
            color: $setting-color-tentgray;
            font: fw(regular) rem(16) / rem(24) $setting-font-family-additional;
            margin-left: rem(10);
        }

        &__bullet-points {
            font-size: rem(10);
        }

        .bullet-point {
            display: flex;
            align-items: center;
            margin-bottom: rem(18);
            font: fw(regular) rem(16) / rem(19) $setting-font-family-additional;
            color: $setting-color-tentgray;
            &:nth-child(1) {
                margin-top: rem(10);
            }
            img {
                margin-right: rem(8);
                width: rem(22);
                height: rem(16);
            }
        }

        &__depositAllowed_checkbox {
            color: $setting-color-globus-black;
            margin-top: rem(10);

            .checkbox__box {
                width: rem(30);
                height: rem(30);

                @include helper-breakpoint-media-max($xs-max) {
                    width: rem(38);
                    height: rem(30);
                }
                svg {
                    width: rem(20);
                    height: rem(20);

                    @include helper-breakpoint-media-max($xs-max) {
                        width: rem(22);
                    }
                }
            }

            .checkbox__box:focus {
                border: rem(1) solid $setting-color-gray-15;
            }

            .checkbox__label {
                font: fw(regular) rem(16) / rem(19) $setting-font-family-additional !important;
                color: $setting-color-tentgray;
                align-self: center;
            }

        }

        &__icon_right {
            width: rem(16);
            height: rem(16);
            vertical-align:bottom;
            margin-right: rem(2);
        }

        &__horizontal-line {
            display: block;
            border-top: rem(1) solid $setting-color-gray-6;
        }

        .title {
            margin-bottom: rem(8);
        }

        @content;
    }
}

@include checkout-page-transport-box();
