@mixin checkout-page-transport-box($name: '.transport-box') {
    #{$name} {
        background-color: white;
        height: rem(280);
        padding: rem(12);
        margin-top: rem(10);
        margin-bottom: rem(10);
        color: $setting-color-globus-black;
        font-size: rem(13);

        @include helper-breakpoint-media-max(300px) {
            height: rem(520);
        }

        @include helper-breakpoint-media-between(300px, 320px){
            height: rem(500);
        }

        @include helper-breakpoint-media-between(320px, 335px){
            height: rem(460);
        }

        @include helper-breakpoint-media-between(335px, 400px){
            height: rem(440);
        }

        @include helper-breakpoint-media-between($xs-max, $sm-max){
                height: rem(450);
        }

        @include helper-breakpoint-media-between($xl-min, $l-max){
            height: rem(270);
        }

        &__image-div {
            @include helper-breakpoint-media-max($sm-max) {
                text-align: center;
            }
        }

        &__image {
            margin-top: rem(12);

            @include helper-breakpoint-media-max($sm-max) {
                max-width: 50%;
            }
        }

        &__text {
            font-size: rem(13);
            margin-left: rem(10);
        }

        &__bullet-points {
            font-size: rem(10);
        }

        .bullet-point {
            display: flex;
            align-items: center;
            margin-left: -3px;
            margin-bottom: rem(5);
            &:nth-child(1) {
                margin-top: rem(10);
            }
            img {
                margin-right: rem(8);
            }
        }

        &__depositAllowed_checkbox{
            color: $setting-color-globus-black;
            margin-left: rem(6);
            margin-top: rem(10);
        }

        &__icon_right {
            width: rem(16);
            height: rem(16);
            vertical-align:bottom;
            margin-right: rem(2);
            margin-left: rem(10);
        }

        &__horizontal-line {
            display: block;
            border-top: rem(1) solid $setting-color-gray-6;
        }

        @content;
    }

    .checkbox__label {
        color: $setting-color-globus-black !important;
    }
}

@include checkout-page-transport-box();
