{% extends template('page-layout-catalog', 'CatalogPage') %}

{% define data = {
    suggestion: _view.spellingSuggestion,
    searchString: _view.searchString | default,
    title: ('global.search.results' | trans) ~ ' ' ~ _view.searchString,
    pagination: {
        paginationPath: app.request.attributes.get('_route'),
    },
    hideClass: app.currentCodeBucket is same as('DE') ? 'hide': '',
    ffCategoryFilter: _view.ffCategoryFilter | default,
} %}

{% block breadcrumb %}
    {% include molecule('breadcrumb') with {
        modifiers: ['no-border'],
        data: {
            steps: [{
                label: 'global.search.results' | trans
            }]
        }
    } only %}
{% endblock %}

{% block title %}
    <div class="container">
        <div class="container__inner spacing-y spacing-y--inner spacing-y--bigger">
            {% include molecule('search-headline', 'CatalogPage') with {
                class: data.hideClass,
                data: {
                    headline: data.searchString | trim ? 'global.search.results.for' | trans : 'global.search.results' | trans,
                    searchString: data.searchString,
                    pagination: data.pagination,
                    suggestion: data.suggestion,
                },
            } only %}
        </div>
    </div>
    <script type="text/javascript">
        window.searchSuggestion = "{{ data.searchString }}";
        var ffCategoryFilter  = JSON.parse(atob("{{ data.ffCategoryFilter }}"));
    </script>
{% endblock %}

{% block form %}

    {{parent()}}

    {% if data.searchString is not empty %}
        <input type="hidden" name="q" value="{{ data.searchString }}" />
    {% endif %}
{% endblock %}
