@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {
        width: 100%;

        &__list {
            margin: 0 rem(-5) rem(50);

            @include helper-breakpoint-media-max($sm-max) {
                justify-content: center;
            }
        }

        &__item {
            display: inline-block;
            padding: 0 rem(5);

            :hover {
                text-decoration: none;
                background: $setting-color-globusCZ-hover;
                color: $setting-color-white;
            }
        }

        &__step {
            @include helper-effect-transition(color background);
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(40);
            height: rem(40);
            font-weight: fw(medium);
            font-size: rem(13);
            text-align: center;
            color: $setting-color-globusCZ-main-green;
            background: $setting-color-white;
            border: rem(2) solid $setting-color-globusCZ-main-green;
            border-radius: 100%;
            text-decoration: none;

            @include helper-breakpoint-media-max($sm-max) {
                width: rem(32);
                height: rem(32);
            }

            @include helper-breakpoint-media-min($md-min) {
                width: rem(40);
                height: rem(40);
                font-size: rem(14);
                line-height: rem(54);
            }

            &--ellipsis,
            &--previous,
            &--next {
                border: none;
                color: $setting-color-gray-12;
                width: 1rem;
            }

            &--previous,
            &--next {
                display: flex;
                align-items: center;
                justify-content: center;
                width: rem(40);
                height: rem(40);
                font-weight: fw(medium);
                font-size: rem(13);
                text-align: center;
                color: $setting-color-globusCZ-main-green;
                background: $setting-color-white;
                border: rem(2) solid $setting-color-globusCZ-main-green;
                border-radius: 100%;
                text-decoration: none;
            }

            svg {
                color: $setting-color-globusCZ-main-green;
            }

            &:hover {
                text-decoration: none;
                background: $setting-color-globusCZ-hover;
                color: $setting-color-white;

                svg {
                    color: $setting-color-white;
                }
            }

            &--current {
                color: $setting-color-white;
                background: $setting-color-globusCZ-main-green;
                pointer-events: none;
            }

            &--ellipsis,
            &--disabled {
                color: $setting-color-globusCZ-main-green;
                pointer-events: none;
            }
        }

        &--search-cms-results {
            max-width: rem(870);
            margin: 0 auto;

            #{$name}__list {
                @include helper-breakpoint-media-min($xl-min) {
                    margin-bottom: rem(100);
                }
            }
        }
    }
}

@include shop-ui-pagination();
