{% extends molecule('suggestion-product', '@SprykerShop:CatalogPage') %}

{% block body %}
    <a class="{{ config.name }}__link grid grid--middle grid--no-wrap js-suggest-search__item--navigable js-suggest-search__product-item--navigable"  href="{{ data.url }}">
        <span class="col">
            {% if data.image %}
                {% include atom('thumbnail') with {
                    modifiers: ['catalog', 'with-overlay'],
                    attributes: {
                        alt: data.alt,
                        src: data.image.external_url_small,
                        title: data.title,
                    },
                } only %}
            {% endif %}
       </span>

        <span class="col col--expand col--lg-9 title title--medium">
            {{- data.title -}}
            {% include molecule('money-price') with {
                modifiers: ['suggestion-product'],
                data: {
                    amount: data.price,
                    originalAmount: data.originalPrice ?? null,
                },
            } only %}
       </span>
    </a>
{% endblock %}
