@include catalog-page-suggestion-product() {
    &__link {
        @include helper-effect-transition(color background);
        text-transform: capitalize;
        text-decoration: none;
        padding: rem(3) rem(10);
        margin: 0 rem(-10);
        border-radius: rem(5);
        color: $setting-color-gray-6;
        max-width: none;

        &:hover {
            text-decoration: none;
            background: $setting-color-gray-2;
        }
    }

    &__button-search-cart{
        padding: 7px 0px 7px 15px;
        margin-top:20px;
        margin-left:20px;
        float: right;

        &:hover {
            cursor: pointer;
            text-decoration: none;
            border-radius: 25px;
            padding: 10px 3px 10px 18px;
            background: $setting-color-gray-2;
        }
    }

    .suggested-product-link{
    float:left;
    width:85%;
    padding-bottom:10px;
    padding-top:10px;

        @include helper-breakpoint-media-max($sm-max)  {
            width:80%;
        }
    }

    .suggestion-product-slot{
        display: block;
        border-bottom: 1px solid $setting-color-light-tentgray-2;
    }

    .search-suggestion-supplier{
        font-size:12px;
    }

}

