@mixin shop-ui-page-layout-main($name: '.page-layout-main') {
    #{$name} {
        font-family: $setting-font-family-additional;

        &--login {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &--list {
            height: auto;
            padding: rem(20) 0;
        }

        &--error {
            #{$name}__content {
                background: url('../images/error-page_background.jpg') no-repeat center top/100% auto;
            }

            @include helper-breakpoint-media-min($xl-min) {
                background-image: url('../images/error-page_background@2x.jpg');
            }

            #{$name}__main {
                background: $setting-color-white;
                border-top: rem(8) solid $setting-color-yellow;
                margin: rem(46) auto;
                min-height: rem(352);
                text-align: center;
                padding: rem(20);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include helper-breakpoint-media-min($lg-min) {
                    margin: rem(92) auto;
                    padding: rem(30);
                }
            }

            #{$name}__icon {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: $setting-color-yellow;
                width: rem(62);
                height: rem(62);
                margin-bottom: rem(30);
                color: $setting-color-blue;
            }
        }
    }
}

@include shop-ui-page-layout-main();
