@mixin shop-ui-cart-link ($name: '.cart-link') {
    #{$name} {
        position: relative;
        padding: rem(10) 0;

        &__quantity {
            position: absolute;
            top: 0;
            left: rem(18) !important;
            color: $setting-color-white;
            background: $setting-color-globus-darkGreen;
            border-radius: 50%;
            text-align: center;
            line-height: rem(8);
            min-width: rem(23);
            border: rem(2) solid $setting-color-white;
            font-size: rem(12);
            font-weight: fw(bold);
            padding: rem(4) !important;

            @include helper-breakpoint-media-min($xl-min) {
                @include helper-effect-transition(background-color);
            }
        }

        &:active {
            @include helper-breakpoint-media-min($xl-min) {
                #{$name}__quantity {
                    background: $setting-color-green;
                }
            }
        }
    }
}

@include shop-ui-cart-link();
