@mixin cart-checkout-breadcrumb($name: '.cart-checkout-breadcrumb') {
    #{$name} {
        &__wrap {
            position: relative;
            text-align: center;
            padding: rem(10) 0;

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(17) 0;
            }
        }

        &__button {
            display: none;

            @include helper-breakpoint-media-min($lg-min) {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                @include helper-breakpoint-media-max($lg-max) {
                    width: rem(240);
                    font-size: rem(16);
                    font-weight: fw(black);
                    border-radius: rem(30);
                }
            }
        }

        &__button_icon {
            height: rem(12);
            margin: 0 rem(4) rem(3) 0;
            color: $setting-color-white;
        }

        &__progress-wrap {
            display: inline-block;
            position: relative;
            min-width: 50%;
            width: 100%;
            overflow-x: auto;

            @include helper-breakpoint-media-min($lg-min) {
                min-width: 0;
                overflow-x: visible;
            }
        }

        @content;
    }
}

@include cart-checkout-breadcrumb;
