{% extends template('page-layout-main') %}

{% define data = {
    listOfExistingContainers: listOfExistingContainers | default(null),
    lastOrder: lastOrder,
    orderForScanningContainer: orderForScanningContainer,
    nextOrderPosition: nextOrderPosition,
    containersShelf: containersShelf,
    containersWithoutShelf: containersWithoutShelf | default(null)
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: '',
            withoutLogo: true,
            pickingZone: true,
            buttonUrl: ''
        }
    } only %}
{% endblock %}

{% block content %}

    {% embed molecule('popup-ui-info') with {
        data: {
            isUpdated: false,
            containerId: "1",
            shelfId: "1",
            orderId: "1",
            buttons: {
                submit: {
                    isButton: true,
                    additionalClass: 'js-pick-products__submit',
                },
            },
        },
    } only %}
    {% endembed %}

    {% include molecule('container-color') with {
        data: {
            colorCode: data.orderForScanningContainer.pickingColor.backColor,
            colorNumber:  data.orderForScanningContainer.pickingColor.idColor,
            textColor:  data.orderForScanningContainer.pickingColor.foreColor,
        }
    } only %}

    {% if(data.containersShelf | length > 0) %}
        {% embed molecule('popup-ui-container-shelf') with {
            data: {
                containersShelf: data.containersShelf
            },
        } only %}
        {% endembed %}
    {% endif %}

    <form id="frmMultiPickingScanningContainer" method="post" action="/picker/multi-picking-scanning-container">
        <input type="hidden" name="nextOrderPosition" value="{{ data.nextOrderPosition }}">
        {% include molecule('shelf-scan-order') with {
            data: {
                listOfExistingContainers: data.listOfExistingContainers,
                lastOrder: data.lastOrder,
                orderForScanningContainer: data.orderForScanningContainer,
                containersWithoutShelf: data.containersWithoutShelf
            }
        } only %}
    </form>

{% endblock %}
