{% extends template('page-layout-main') %}

{% define data = {
    listOfExistingContainers: listOfExistingContainers | default(null),
    dataWithContainers: dataWithContainers,
    zoneAbbreviation: zoneAbbreviation,
    selectedContainers: selectedContainers
} %}

{% block header %}
    {% include organism('header') with {
        data: {
            headerLocationTitle: '',
            withoutLogo: true,
            pickingZone: true,
            buttonUrl: ''
        }
    } only %}
{% endblock %}

{% block content %}
    <form id="frmMultiPickingScanningContainer" method="post" action="/picker/multi-picking-scanning-container">
        {% include molecule('shelf-scan-order') with {
            data: {
                listOfExistingContainers: data.listOfExistingContainers,
                dataWithContainers: data.dataWithContainers,
                zoneAbbreviation: data.zoneAbbreviation,
                selectedContainers: data.selectedContainers
            }
        } only %}
    </form>
{% endblock %}
