@mixin paging($name: '.paging') {
    #{$name} {
        font-family: $setting-font-family-additional;
        font-size: rem(16);

        ff-paging-set{
            display: flex;
        }

        .ffw-page-item-container {
            display: flex;
            border: rem(2) solid $setting-color-forest-green;
            border-radius: 100%;
            width: rem(36);
            height: rem(36);
            margin-right: rem(5);
            align-items: center;
            justify-content: center;
            color: $setting-color-forest-green;
        }

        .pagingDots {
           margin: rem(5) rem(5) rem(5) rem(0);
           font-weight: bold;
           color: $setting-color-forest-green;
        }

        .ffw-page-item-container:hover {
            background-color: $setting-color-forest-green-3;
            color: $setting-color-white;
        }

        .ffw-selected{
            .ffw-page-item-container{
                display: flex;
                border: rem(2) solid $setting-color-forest-green;
                border-radius: 100%;
                width: rem(36);
                height: rem(36);
                margin-right: rem(5);
                align-items: center;
                justify-content: center;
                font-weight: bold;
                background-color: $setting-color-forest-green;
            }
            .ffw-cursor {
                color: $setting-color-white;
            }
        }
        .step {
            color: $setting-color-gray-9;
        }
        .paggingArrow {

            .ffw-page-item-container {
                border: rem(2) solid $setting-color-forest-green;
                border-radius: 100%;

                svg {
                    color: $setting-color-forest-green;
                }
                svg:active {
                    color: $setting-color-forest-green;
                    transform: scale(1.2);
                }
            }
            .ffw-page-item-container:hover {
                background-color: $setting-color-forest-green-3;
                svg{
                    color: $setting-color-white;
                }
            }
        }
    }
}

@include paging();
