{% extends model('component') %}

{% define config = {
    name: 'sortbox'
} %}

{% define data = {
    properties: {
        component: '',
        items: []
    }
} %}

{% block body %}

    <ff-sortbox id="sortbox" show-selected="true" {{ data.properties.component|raw }}>
        {% for item in data.properties.items %}
            <ff-sortbox-item key="{{ item.key }}">
                <span>{{ item.title | trans }}:
                    {% verbatim %}
                        {{ description }}
                    {% endverbatim %}
                </span>
            </ff-sortbox-item>
        {% endfor %}

    </ff-sortbox>

    <script>
        let sortbox = document.getElementById("sortbox");

        function toggleAttributeSortBox(){
            if(sortbox.hasAttribute("opened")){
                sortbox.removeAttribute("opened");
                sortbox.setAttribute("closed", "closed");
            }else if(sortbox.hasAttribute("closed")){
                sortbox.removeAttribute("closed");
                sortbox.setAttribute("opened", "opened");
            }
        };
        sortbox.addEventListener("blur", toggleAttributeSortBox);
    </script>

{% endblock %}
