@mixin sortbox($name: '.sortbox') {
    #{$name} {
        display: flex;
        justify-content: flex-end;

        &.hide {
            visibility: hidden;
        }

        ff-sortbox {
            min-width: rem(240);
            border: rem(2) solid $setting-color-forest-green;
            background-color: transparent;
            border-radius: rem(64);
            color: $setting-color-forest-green;
            font-family: $setting-font-family-additional;
            font-size: rem(16);
            font-weight: fw(900);
            padding: rem(5) rem(9);
            margin-bottom: rem(25);
            margin-left: rem(17);
            transition: min-width 0.5s;

            @include helper-breakpoint-media-max($xs-max) {
                min-width: rem(175);
            }

            .ffw-selected{
                margin-left: rem(10);
            }


            .ffw-dropdown-container {
                width: rem(209);
                margin-top: rem(32);
                margin-left: rem(4);
                color: $setting-color-gray-9;

                ff-sortbox-item {
                    font-size: rem(16);
                    padding: rem(5) rem(10);

                }
                ff-sortbox-item:hover {
                    background-color: $setting-color-gray-1;
                    color: $setting-color-gray-6;
                }

                .ffw-showSelected {
                    color: $setting-color-forest-green;
                    display: flex !important;
                    justify-content: space-between;
                }
                .ffw-showSelected::after {
                    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path fill='rgb(0, 98, 44)' d='M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z'/></svg>");
                }
            }
        }
        #sortbox {
            display: flex;
            justify-content: space-between;
            margin-left: 0;
        }

        #sortbox::after {
            content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path fill='rgb(0, 98, 44)' d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/></svg>");
            margin-right: rem(10);
        }
    }
}

@include sortbox();
