@mixin error404($name: '.error-not-found') {
    #{$name} {
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $setting-color-fresh-orange;
            border-radius: rem(30);
            width: fit-content;
            height: rem(48);
            margin-bottom: rem(50);
            font-size: rem(16);

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                margin-bottom: rem(20);
                letter-spacing: rem(2);
            }
        }

        &__title {
            font-size: rem(60);

            @include helper-breakpoint-media-max($sm-max){
                display: none;
            }
        }

        &_btn-arrow {
            padding-left: rem(10);
        }

        &__container {
            margin-top: rem(100);
            width: 30%;
            font-size: rem(20);

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                text-align: left;
                display: flex;
                flex-flow: column;
                margin: 0;
            }
        }

        &__mobile-title {
            font-size: rem(60);
            width: 100%;

            @include helper-breakpoint-media-min($sm-max) {
                display: none;
            }
        }

        &__image-container {
            display: flex;
            justify-content: center;
            width: 70%;

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                display: flex;
                flex-flow: wrap;
                margin-bottom: rem(20);
            }
        }
        &__image {
            width: rem(467);
            height: rem(613);

            @include helper-breakpoint-media-max($sm-max) {
                max-height: rem(400);
                width: 80%;
            }
        }
    }
}
@include error404();
