@mixin error404($name: '.error-not-found') {
    #{$name} {
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $setting-color-fresh-orange;
            border-radius: rem(30);
            width: fit-content;
            height: rem(48);
            margin-bottom: rem(50);
            font-size: rem(16);

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                margin-bottom: rem(20);
                letter-spacing: rem(2);
            }
        }

        &__button-CZ {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $setting-color-globusCZ-main-green;
            border-radius: rem(30);
            width: fit-content;
            height: rem(48);
            margin-bottom: rem(50);
            font-size: rem(16);

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                margin-bottom: rem(20);
                letter-spacing: rem(2);
            }
        }

        &__title {
            font-size: rem(50);

            @include helper-breakpoint-media-max($md-max){
                font-size: rem(40);
            }

            @include helper-breakpoint-media-max($sm-max){
                display: none;
            }
        }

        &__title-CZ {
            font-size: rem(40);

            @include helper-breakpoint-media-min($md-max) {
                margin-bottom: rem(50);
            }

            @include helper-breakpoint-media-max($md-max){
                font-size: rem(40);
            }

            @include helper-breakpoint-media-max($sm-max){
                display: none;
            }
        }

        &__title-not-found {
            font-size: rem(20);
            @include helper-breakpoint-media-max($lg-max){
                font-size: rem(16);
            }
        }

        &__help-text {
            font-size: rem(20);
            @include helper-breakpoint-media-max($lg-max){
                font-size: rem(16);
            }
        }

        &_btn-arrow {
            padding-left: rem(10);
        }

        &__container {
            text-align: left;
            margin-top: rem(40);
            width: 65%;
            font-size: rem(20);

            @include helper-breakpoint-media-max($md-max){
                margin-top: rem(0);
            }


            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                text-align: left;
                display: flex;
                flex-flow: column;
                margin: 0;
            }
        }

        &__mobile-title {
            font-size: rem(40);
            width: 100%;
            text-align: left;

            @include helper-breakpoint-media-min($sm-max) {
                display: none;
            }
        }

        &__image-container {
            display: flex;
            justify-content: center;
            width: 70%;

            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
                display: flex;
                flex-flow: wrap;
                margin-bottom: rem(20);
            }
        }
        &__image {
            width: 75%;
            height: 80%;

            @include helper-breakpoint-media-max($md-max){
                margin-top: rem(20);
            }

            @include helper-breakpoint-media-max($sm-max) {
                max-height: rem(400);
                width: 80%;
            }

            @include helper-breakpoint-media-min($xxl-min) {
                width: 75%;
            }
        }
    }
}
@include error404();
