@mixin shop-ui-header($name: '.header') {
    #{$name} {
        height: rem(62);

        &--product-type {
            min-height: rem(84);
            margin-bottom: 0;

            #{$name} {
                &__header-bottom {
                    background: $setting-color-gray-2;
                }
            }
        }

        &--product-type-big {
            min-height: rem(125);
        }

        &__header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: $setting-zi-header;
            width: 100%;
        }

        &__header-top {
            min-height: rem(50);
            height: rem(50);
            background: $setting-color-white;
            color: $setting-color-gray-10;
            border-bottom: rem(5) solid $setting-color-gray-2;
        }

        &__header-bottom {
            background: $setting-color-white;
        }

        &__content {
            height: 3rem;
            @include helper-breakpoint-media-max($sm-max) {

                height: 2rem;

                .back-link {
                    width: auto;
                }
            }
        }

        &__logout {
            width: 3rem;
        }

        &__location-title {
            font: rem(15)/1 $setting-font-family-additional;
            @include helper-font-weight(light);

            @include helper-breakpoint-media-max($sm-max) {
                margin-top: rem(14);
            }
        }

        &__time {
            padding-bottom: rem(3);
            font-weight: fw(bold);
        }

        .text-middle {
            &__lighterGreen {
                color: $setting-color-pickingApp-lighterGreen;
                font-weight: fw(black);
            }

            &__darkerGreen {
                color: $setting-color-pickingApp-darkerGreen;
                font-weight: fw(black);
                font-size:16px;
            }

            &__lightOrange {
                color: $setting-color-pickingApp-lightOrange;
                font-weight: fw(black);
            }
        }

        @content;
    }
}

@include shop-ui-header();
