{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

    <div>
        {{- spyCmsBlockPlaceholder('title') | raw -}}
    </div>

    {{- spyCmsBlockPlaceholder('content') | raw -}}
{% endblock %}
