{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

    <div class="spacing-bottom spacing-bottom--bigger spacing-top--large">
        {{- spyCmsBlockPlaceholder('title') | raw -}}
    </div>

    {{- spyCmsBlockPlaceholder('content') | raw -}}
{% endblock %}
