{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

    <div class="container">
        <div class="grid grid--justify">
            {{ spyCmsBlockPlaceholder('content') | raw }}
        </div>
    </div>
{% endblock %}
