{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->

            <div class="title-and-content-holder">
                <div class="title-holder">{{ spyCmsBlockPlaceholder('title') | raw }}</div>
                {{ spyCmsBlockPlaceholder('content') | raw }}
            </div>

{% endblock %}
