{% extends model('component') %}

{% define config = {
    name: 'substitutions-tooltip',
} %}

{% block body %}
    <div class="tooltip-background">
        <div class="position-tool-tip">
            <div class="tooltip-information">
                <p class="spacing-y spacing-y--big" style="color:black">
                    <span><svg style="width:20px !important;height: 20px !important;" class="icon button__icon"><use xlink:href="#:sync"></use></svg></span>
                    {{ 'checkout.cart.page.substitutions.title' | trans }}
                </p>
                <p class="substitutions-text"> {{ 'checkout.cart.page.substitutions.text' | trans }} </p>
            </div>
            {% if app.currentCodeBucket == 'DE' %}
                <svg style="width:25px !important;height: 25px !important;" class="infoIcon icon button__icon"><use xlink:href="#:info-circle"></use></svg>
            {% else %}
                <svg style="width:25px !important;height: 25px !important;" class="infoIcon-CZ icon button__icon"><use xlink:href="#:info-circle"></use></svg>
            {% endif %}
        </div>
    </div>
{% endblock %}
