{% extends model('component') %}

{% define config = {
    name: 'ajax-add-to-cart',
    tag: 'ajax-add-to-cart',
} %}

{% block body %}
    <div class="{{ config.name }}__notification-area {{ config.jsName }}__notification-area is-hidden">
        {% include molecule('flash-message') with {
            class: config.jsName ~ '__flash-message',
            data: {
                action: 'alert',
                text: '',
                messageTextHolderClass: config.jsName ~ '__message-text',
            },
        } only %}
    </div>
{% endblock %}

