{% extends model('component') %}

{% define config = {
    name: 'picking-zone-link',
} %}

{% define data = {
    currentPickingZone: required,
} %}

{% block body %}
    <a href="/picker/select-picking-zone?multi_picking=1" class="{{ config.name }}__link">
        {{ data.currentPickingZone.name }}
    </a>
{% endblock %}
