{% extends model('component') %}

{% define config = {
    name: 'picking-zone-link',
} %}

{% define data = {
    currentPickingZone: required,
    isDisabled: required | default(false)
} %}

{% block body %}
    {% if data.isDisabled %}
        <span class="{{ config.name }}__link">
            {{ data.currentPickingZone.name }}
        </span>
    {% else %}
        <a href="/picker/select-picking-zone?multi_picking=1" class="{{ config.name }}__link">
            {{ data.currentPickingZone.name }}
        </a>
    {% endif %}
{% endblock %}
