@mixin picker-picking-zone-link($name: '.picking-zone-link') {
    #{$name} {
        padding: rem(15) 0;
        margin-left: 25px;

        @include helper-breakpoint-media-max($md-max) {
            margin-left: 30px;
        }


        &__title {
            font-size: rem(18);
            padding: 0 0 rem(20);
        }

        &__radio-list {
            margin-bottom: rem(40);
        }

        &__radio-item {
            margin-bottom: rem(10);
        }

        &__link
        {
            color: $setting-color-green;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
        }
    }
}

@include picker-picking-zone-link();
