@mixin wishlist-widget-wishlist-selector($name: '.wishlist-selector') {
    #{$name} {
        position: relative;

        .payback {
            display:flex;
            align-items: center;
        }

        .text-blue {
            color: blue !important;
        }

        .text-grey {
            color: gray !important;
        }

        @content;
    }
}

@include wishlist-widget-wishlist-selector();
