@mixin wishlist-widget-wishlist-selector($name: '.wishlist-selector') {
    #{$name} {
        position: relative;

        .payback {
            display:flex;
            align-items: center;
        }

        .text-blue {
            color: $setting-color-globus-payback-blue;
        }

        .text-grey {
            color: $setting-color-gray-9;
        }

        @content;
    }
}

@include wishlist-widget-wishlist-selector();
