@mixin wishlist-widget-wishlist-selector($name: '.wishlist-selector') {
    #{$name} {
        position: relative;

        .payback {
            display:flex;
            align-items: center;
        }

        .text-blue {
            color: $setting-color-globus-payback-blue;
        }

        .text-grey {
            color: $setting-color-gray-9;
        }

        .wishlist-icon {
            position: relative;
            bottom: rem(108);
            button {
                background: $setting-color-forest-green;
                svg {
                    height: rem(20);
                    width: rem(20);
                }
            }

            @include helper-breakpoint-media-max($md-max) {
                bottom: 0;
            }
        }

        @content;
    }
}

@include wishlist-widget-wishlist-selector();
