@mixin cart-page-cart-box($name: '.cart-box') {
    #{$name} {
        padding-bottom: rem(8);

        @include helper-breakpoint-media-between($md-min, $md-max){
            padding: rem(16) 0;
        }

        &__quantity {
            font-weight: fw(semibold);
            font-size: rem(16);
            color: $setting-color-stonegray-2;

            &:hover {
                text-decoration: none;
                color: $setting-color-globus-darkGreen;
            }
        }

        &--voucher {
            margin-top: rem(32);
            border-top: rem(1) dotted $setting-color-gray-3;

            @include helper-breakpoint-media-min($lg-min) {
                margin-top: rem(56);
            }
        }

        &--reset-spacing {
            padding: 0;
        }

        &--linkDecoration {
            text-decoration: none;
            color: $setting-color-fresh-orange;
            font-size: rem(16);
            font-weight: fw(semibold);

            &:hover {
                color: $setting-color-globus-darkGreen;
            }

            @include  helper-breakpoint-media-max($lg-max){
                display: none;
            }
        }

        &--linkDecoration--CZ {
            color: $setting-color-main;

            &:hover {
                color: $setting-color-globus-darkGreen;
            }
        }

        &--linkDecoration_mobile {
            display: flex;
            height: rem(45);
            align-items: center;
            text-decoration: none;
            color: $setting-color-globus-lightOrange;
            font-size: rem(11);

            &:hover {
                color: $setting-color-globus-darkGreen;
            }
            @include helper-breakpoint-media-min($lg-min){
                font-size: rem(14);
            }

            @include  helper-breakpoint-media-min($xl-min){
                display: none;
            }

            @include helper-breakpoint-media-max($sm-max){
                height: rem(10);
            }

        }

        &--linkDecoration_mobile--CZ {
            color: $setting-color-globusCZ-main-green;

            &:hover {
                color: $setting-color-globus-darkGreen;
            }
        }
    }
}

@include cart-page-cart-box();
