@mixin cart-page-cart-box($name: '.cart-box') {
    #{$name} {
        padding-bottom: rem(18);

        &__quantity {
            font-weight: fw(medium);
            font-size: rem(14);
            color: $setting-color-gray-9;

            &:hover {
                text-decoration: none;
                color: $setting-color-globus-darkGreen;
            }
        }

        &--voucher {
            margin-top: rem(32);
            border-top: rem(1) dotted $setting-color-gray-3;

            @include helper-breakpoint-media-min($lg-min) {
                margin-top: rem(56);
            }
        }

        &--reset-spacing {
            padding: 0;
        }

        &--linkDecoration {
            text-decoration: none;
            color: $setting-color-globus-lightOrange;

            &:hover {
                color: $setting-color-globus-darkGreen;
            }

            @include  helper-breakpoint-media-max($lg-max){
                display: none;
            }
        }

        &--linkDecoration_mobile {
            text-decoration: none;
            color: $setting-color-globus-lightOrange;
            font-size: rem(10);

            &:hover {
                color: $setting-color-globus-darkGreen;
            }

            @include  helper-breakpoint-media-min($lg-max){
                display: none;
            }

        }

    }
}

@include cart-page-cart-box();
