@mixin suggest($name: '.suggest') {
    #{$name} {

        .transitionDisplay{
            display: block!important;
            background: transparent;
        }

        .ffw-suggestContainerWrapper {
            min-width: auto;
            width: inherit;
            border-top: 0;
            border-right: 2px solid;
            border-left: 2px solid;
            border-color: $setting-color-fresh-orange;
            border-bottom-right-radius: 24px;
            background-color: $setting-color-light-tentgray-3;
        }

        .ffw-suggestContainer {
            padding-left: rem(10);
            display: flex;
            border-radius: 0 0 24px 0;
            background-color: $setting-color-light-tentgray-3;

            .searchTermContainer {
                width: 100%;
            }
        }

        .containerCaption {
            font-size: 1rem;
            font-weight: bold;
            border-bottom: rem(1) solid $setting-color-gray-6;
        }

        ff-suggest-item[type=productName]{
            display: inline-flex;
            width: 100%;
            padding-bottom: rem(10);
            min-height: rem(75);
            border-bottom: 1px solid $setting-color-light-tentgray-2;
            margin-bottom: 10px;
        }

        button[type=productName]{
            display: flex;
        }

        &__search-container {
            width: 100%;
            padding: 0 30px 15px 24px;
        }

        &__suggestion-product-slot{
            border-bottom: 1px solid #dedddd !important;
        }

        &__button-suggest-cart {
            padding-left: rem(15);
            background-color: transparent;
            display: flex;
            align-items: center;
            z-index: 10000;

            &:hover {
                padding-top: rem(3);
                padding-left: rem(12);
                cursor: pointer;
            }
        }

        &__link {
            @include helper-effect-transition(color background);
            text-transform: capitalize;
            padding: rem(3) rem(10);
            margin: 0 rem(-10);
            border-radius: rem(5);
            color: $setting-color-gray-6;
            width: 98%;
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid $setting-color-gray-2;

            &:hover {
                color: $setting-color-orange;
                background: $setting-color-gray-2;
                cursor: pointer;
            }

            .col {
                margin-top: auto;
                margin-bottom: auto;
            }

            .suggestImage{
                margin-right: rem(8);
                display: flex;
                align-items: center;
            }
            .nameAndMoneyContainer {
                display: flex;
                flex-direction: column;
                text-decoration: underline;
                text-decoration-color: $setting-color-light-tentgray-3;
                font-family: "Roboto Thin", sans-serif;
                font-size: rem(12);
                font-weight: 700;
                color: $setting-color-tentgray;
                padding-top: rem(14);

                .suggestBrand{
                    display: flex;

                    @include helper-breakpoint-media-max($xs-max) {
                        display: block;
                    }

                    .suggest__brand{
                        margin-right: rem(5);
                    }
                }

                .moneyTag {
                    margin-right: auto;
                }
            }
        }

        &__uvp {
            position: absolute;
            margin-left: rem(45);
            color: #111;
        }

        &__hide {
            display: none;
        }

        &__amount--original {
            text-decoration: line-through;
            color: $setting-color-globus-darkGray-2;
            display: flex;
            font-family: $setting-font-family-additional;
            margin-top: 0;
            justify-content: flex-end;
            min-height: rem(23);
        }

        &__amount-red {
            color: $setting-color-globus-red;
            display: flex;
            justify-content: flex-end;
            font-family: $setting-font-family-additional;
            margin-bottom: 0;
        }
    }
}

@include suggest();

