@mixin shop-ui-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: flex;
        font-size: rem(12);

        &__link {
            @include helper-effect-transition(color);
            text-decoration: none;
            color: $setting-color-tentgray;
            font-size: rem(13);

            &:hover {
                color: $setting-color-fresh-orange;
            }
        }

        &__separator {
            width: rem(25);
            color: $setting-color-gray-3;
            position: relative;
            display: none;
        }

        &__separator {
            display: block;

            svg {
                width: rem(8) !important;
                height: rem(8) !important;
                margin: rem(5) 0 0 rem(8);
            }
        }

        &--progress {
            position: relative;
            font: fw(regular) rem(18)/rem(22) $setting-font-family-additional;
            letter-spacing: rem(0.1);
            color: $setting-color-tentgray;
            flex: 1;
            display: block;
            padding-right: rem(24);
            margin: 0;
            white-space: nowrap;

            &:last-child {
                /*padding-right: 0;*/

                /*&::after {
                    right: rem(-3);
                }*/
            }

            #{$name}__link {
                font-size: rem(18);
                text-decoration: none;
            }

            #{$name}__link-CZ {
                color: $setting-color-globusCZ-main-green;
                text-decoration: none;
            }
        }

        &--progress-active {
            margin-right: rem(24);

            @include helper-breakpoint-media-min($lg-min) {
                margin-right: rem(46);
            }
        }

        &--active {
            color: $setting-color-forest-green;
            margin-right: 0;
            font-weight: fw(bold);

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: rem(22);
                bottom: rem(-4);
                height: rem(6);
                background: $setting-color-forest-green;
                border-radius: rem(3);
            }
        }

        &__check {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: none;
            z-index: $setting-zi-element + 1;

            &--progress-active {
                display: block;
            }

            &--active {
                display: none;
            }
        }

        @content;
    }
}

@include shop-ui-breadcrumb-step();
