@import '~ShopUi/styles/basic';

@import 'basics/animation';
@import 'basics/grid';
@import 'basics/reset';
@import 'basics/typography';
@import "basics/global";

@include basic-reset;
@include basic-typography;
@include basic-grid;
@include global-style;

a {
    color: #B3B0AA; }
a:hover {
    color: $setting-color-globus-lightOrange; }
