@mixin facets-asn($name: '.facets-asn') {
    #{$name} {

        @include helper-breakpoint-media-max($md-max){
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__filter-mobile-header {
            background-color: $setting-color-gray-1;
            color: $setting-color-globus-black;
        }

        .btn-transparent-right {
            background-color: $setting-color-gray-1;
            color: $setting-color-globus-black;
            float: right;
            text-align: center;
            width: rem(50);
            min-width: unset;
        }

        ff-asn {

            font-family: $setting-font-family;

            @include helper-breakpoint-media-max($md-max){
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 90vh;
                overflow-y: auto;
            }

            strong {
                font-weight: 500;
            }

            .groupCaption {
                font-size: 1.25rem;
                font-family: $setting-font-family-additional;
                display: flex;
                justify-content: space-between;
                padding: 5px;
            }
            .groupCaption::after {
                content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/></svg>");
            }

            ff-asn-group[for-group = CategoryPathROOT] {

                border:  rem(1) solid $setting-color-globus-lightGray;
                padding: rem(5);

                @include helper-breakpoint-media-max($md-max){
                    min-width: 95vw;
                }

                .ffw-asn-group-container {
                    padding-left: 1rem;

                    .ffw-wrapper {

                        div[data-content = detailedLinks] {
                            overflow-y: auto;
                            max-height: rem(300);

                            @include helper-breakpoint-media-max($md-max){
                                max-height: 30vh;
                            }
                        }

                        ff-asn-group-element {
                            display: flex;
                            justify-content: space-between;
                            padding: rem(5);
                        }
                        ff-asn-group-element:hover {
                            color: $setting-color-globus-darkOrange;
                        }
                        ff-asn-group-element::after {
                            content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'><path d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/></svg>");
                        }
                        .clusterLevel1 {
                            color: $setting-color-gray-13;
                        }
                        .clusterLevel1:hover {
                            color: $setting-color-orange;
                            cursor: pointer;
                        }
                        .clusterLevel1::after {
                            color: $setting-color-gray-13;
                            content: "";
                        }
                        .clusterLevel2 {
                            color: $setting-color-gray-13;
                            margin-left: rem(30);
                        }
                        .clusterLevel2:hover {
                            color: $setting-color-orange;
                            cursor: pointer;
                        }
                        .clusterLevel2::after {
                            color: $setting-color-gray-13;
                            content: "";
                        }
                        .clusterLevel3 {
                            color: $setting-color-gray-13;
                            margin-left: rem(60);
                        }
                        .clusterLevel3:hover {
                            color: $setting-color-orange;
                            cursor: pointer;
                        }
                        .clusterLevel3::after {
                            color: $setting-color-gray-13;
                            content: "";
                        }

                    }
                }
            }
            ff-asn-group-slider {

                border:  rem(1) solid $setting-color-globus-lightGray;
                padding: rem(5);

                @include helper-breakpoint-media-max($md-max){
                    min-width: 95vw;
                }
                groupCaption {
                    @include helper-breakpoint-media-max($xs-max){
                        padding-bottom: 0;
                    }
                }

                ff-slider-control {
                    @include helper-breakpoint-media-max($xs-max){
                        padding-top: 0;
                        margin-top: 0;
                    }
                }

                .ffw-sliderSection {

                    input {
                        max-width: 5rem;
                        font-family: $setting-font-family;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    input[data-control = '2'] {
                        float: right;
                        text-align: right;
                    }
                    ff-slider {

                        height: rem(4);
                        background-color: $setting-color-gray-1;
                        border-radius: 10px;
                        .ffw-sliderBar {
                            bottom: 4px;

                            .sliderBtn {
                                background-color: $setting-color-orange;
                                border: none;
                                border-radius: 100%;
                                height: rem(12);
                                width: rem(12);
                            }
                        }
                    }
                }
            }
            ff-asn-group[for-group = Brand], ff-asn-group[for-group = Sale] {

                border:  rem(1) solid $setting-color-globus-lightGray;
                padding: rem(5);

                @include helper-breakpoint-media-max($md-max){
                    min-width: 95vw;
                }

                .ffw-asn-group-container {
                    padding-left: 1rem;

                    .ffw-wrapper {

                        div[data-content = detailedLinks] {
                            overflow-y: auto;
                            max-height: rem(300);

                            @include helper-breakpoint-media-max($md-max){
                                max-height: 30vh;
                            }
                        }

                        ff-asn-group-element {
                            display: flex;
                            justify-content: space-between;
                            padding: rem(5);
                        }
                        ff-asn-group-element:hover {
                            color: $setting-color-orange;
                            cursor: pointer;
                        }

                        .ffw-asn-selected {
                            input[type = checkbox] {
                                width: 1rem;
                                min-width: 1rem;
                                height: 1rem;
                                vertical-align: top;
                                margin-right: 0.5rem;
                            }

                        }
                        .ffw-asn-unselected {
                            input[type = checkbox] {
                                width: 1rem;
                                min-width: 1rem;
                                height: 1rem;
                                vertical-align: top;
                                margin-right: 0.5rem;
                            }
                        }

                    }
                }
            }
            ff-asn-group[for-group = Sale]{
                div[data-content = detailedLinks] {
                    overflow-y: auto;
                }
            }

            div[data-container = showMore] {
                font-size: rem(13);
                margin-top: rem(10);
                color: $setting-color-globus-darkGray;
            }

            div[data-container = showMore]:hover {
                color: $setting-color-orange;
                cursor: pointer;
            }

            div[data-container = removeFilter] {
                font-size: rem(13);
                margin-top: rem(10);
                color: $setting-color-globus-darkGray;
            }
            div[data-container = removeFilter]::before {
                content: "X";
                padding-right: rem(5);
            }

            div[data-container = removeFilter]:hover {
                color: $setting-color-globus-red;
                cursor: pointer;
            }


            div[data-content = detailedLinks]::-webkit-scrollbar {
                width: rem(7);
            }

            div[data-content = detailedLinks]::-webkit-scrollbar-track {
                background-color: $setting-color-gray-1;
                border-radius: rem(10);
            }

            div[data-content = detailedLinks]::-webkit-scrollbar-thumb {
                background: $setting-color-orange;
                border-radius: rem(5);
            }
        }

    }
}

@include facets-asn();
