@import '../../atoms/select/select';

@mixin shop-ui-custom-select($name: '.custom-select') {
    @include shop-ui-select($name) {
        line-height: 0;
        background-color: transparent;

        &__select {
            font-size: inherit;
            font-weight: normal;
            padding: rem(15);
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            border-radius: rem(24);

            &--auto {
                width: auto;
            }

            &--light {
                background: $setting-color-white;
            }
        }

        &__select--hollow {
            @include helper-breakpoint-media-min($xl-min) {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        &__select--header {
            color: $setting-color-gray-13;
            background: $setting-color-white;
            border: 1px solid $setting-color-gray-15;
            border-radius: 0;
            padding: rem(11) rem(30) rem(11) rem(11);

            @include helper-breakpoint-media-max($lg-max) {
                width: rem(135);
            }
        }

        &__select--side-drawer {
            color: $setting-color-black;
        }

        .select2-container {
            width: 70px;
            min-width: rem(64);
            max-width: 100%;
        }

        .select2-selection--single {
            background: $setting-color-globus-white;
            height: auto;
            border-radius: rem(24);
            padding-left: rem(12);

            .select2-selection__rendered {
                color: $setting-color-light-tentgray-4;
                font: fw(semibold) rem(14)/rem(16) $setting-font-family-additional;
                min-height: rem(16);
            }

            .select2-selection__arrow {
                display: none;
            }
        }

        &--hollow {
            .select2-selection {
                text-align: right;
            }
        }

        &--style-CZ {
            min-width: rem(80);
            border: rem(1) solid $setting-color-globusCZ-main-green;
            background-color: transparent;
            border-radius: rem(64);
            font: rem(15) $setting-font-family-fira-sans;
            .select2-selection--single{
                min-width: rem(80);
                border: rem(1) solid $setting-color-globusCZ-main-green;
                background-color: transparent;
                border-radius: rem(64);
            }

            .custom-select__select {
                min-width: rem(80);
                border: rem(1) solid $setting-color-globusCZ-main-green;
                background-color: transparent;
                border-radius: rem(64);
                color: $setting-color-globusCZ-main-green;
                padding-top: rem(9);
                padding-bottom: rem(9);
                padding-left: rem(25);
                font: fw(normal) rem(16) $setting-font-family-fira-sans;
            }


            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-globusCZ-main-green;
                padding: rem(24);
                font: fw(normal) rem(16) $setting-font-family-fira-sans;
            }

            .custom-select__caret {
                color: $setting-color-globusCZ-main-green;
            }
        }

        &--header {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-forest-green;
                font-size: rem(12);
            }

            .select2-selection--single {
                border-bottom: rem(5) solid $setting-color-forest-green;
                border-radius: rem(2) rem(2) rem(2) rem(2);
                padding: rem(10);
                @include helper-breakpoint-media-max($lg-max) {
                    padding: 0 1.125rem 0 0.6875rem !important;
                }

            }

            .custom-select__caret {
                color: $setting-color-forest-green;

                @include helper-breakpoint-media-max($lg-max) {
                    color: $setting-color-tentgray;
                }
            }

            .custom-select__caret-cz {
                color: $setting-color-globusCZ-main-green;
            }
        }

        &--side-drawer {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-black;
            }

            .custom-select__caret {
                color: $setting-color-black;
            }
        }

        &--sort {
            min-width: rem(250);
        }
    }

    .select2-results__option {
        color: $setting-color-input-border-tentgray;
        font-family: $setting-font-family-additional;
        font-size: rem(16);
        font-weight: fw(regular);
        line-height: rem(26);
        min-height: rem(38);
        padding: rem(6) rem(20) rem(6) rem(10);
    }

    .select2-container {
        .select2-results {
            border-radius: 0 0 rem(2) rem(2);
            background-color: $setting-color-white;
            box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-1, 0 0 rem(30) 0 $setting-color-alpha-1;
            position: relative;
            border: rem(1) solid $setting-color-alpha-7;
        }

        .select2-results__options {
            max-height: rem(250);
            overflow-y: auto;
        }

        .select2-results__option--highlighted[aria-selected] {
            background: $setting-color-gray-1;
            color: $setting-color-gray-6;
        }

        .select2-results__option--highlighted[aria-selected='true'] {
            color: $setting-color-globus-lightOrange;
        }

        .select2-results__option[aria-selected='true'] {
            background: none;
            color: $setting-color-globus-lightOrange;
            position: relative;

            &::after {
                content: '';
                top: 50%;
                width: rem(12);
                height: rem(12);
                margin-top: rem(-6);
                background: url('../images/icon-chosen.svg') no-repeat 0 0;
            }
        }

        &--secondary {
            .select2-results {
                padding: rem(12) 0;
                width: calc(100% + #{rem(48)});
                transform: translateX(rem(-32));
                border: none;

                &__option[aria-selected='true']::before {
                    right: rem(23);
                }
            }

            .select2-dropdown--below {
                box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-1, 0 0 rem(30) 0 $setting-color-alpha-1, 0 rem(-10) rem(30) 0 $setting-color-alpha-1;
            }
        }

        &--small {
            .select2-results__option {
                padding: rem(4) rem(10);
            }

            .select2-results__option[aria-selected='true'] {
                &::before {
                    right: rem(10);
                }
            }
        }

        &--open {
            .select2-dropdown {
                border: none;
                border-radius: 0;
                background: none;
                margin: rem(12) 0;
                text-align: left;
                z-index: $setting-zi-popup-store-switcher;

                &::before {
                    display: none;
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    right: rem(8);
                    border: rem(6) solid $setting-color-transparent;
                    border-bottom-color: $setting-color-white;
                    z-index: $setting-zi-element + 1;
                }

                &--header {
                    z-index: $setting-zi-header + 2;
                }
            }

            .select2-dropdown--below {
                margin-top: 0;
            }

            .select2-dropdown--above {
                margin-top: rem(-6);

                &::before {
                    bottom: auto;
                    top: 100%;
                    border-bottom-color: $setting-color-transparent;
                    border-top-color: $setting-color-white;
                }
            }
        }
    }
}

@include shop-ui-custom-select();
