@include shop-ui-suggest-search {
    &__input {
        min-height: rem(44);
        border-radius: rem(0) rem(30) rem(30) rem(0);
        border-color: transparent;
        background-color: $setting-color-light-tentgray-3;
        color: $setting-color-tentgray;
    }

    &__hint {
        border-radius: rem(0) rem(30) rem(30) rem(0);
        font: fw(medium) rem(14)/rem(18) $setting-font-family;
        padding: rem(15) rem(60);

        &--active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__container {
        display: inline-block;
        border-radius: 0 0 24px 0;
        border: 2px solid $setting-color-globusCZ-main-green;
        border-top: 0;
        background-color: $setting-color-light-tentgray-3;
        padding: 0 35px 0 35px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
