{% extends template('widget') %}

{% define data = {
    completion: completion | default([]),
    suggestionByType: suggestionByType | default,
    category: suggestionByType.category | default([]),
    product_abstract: suggestionByType.product_abstract | default([]),
    suggestionsLength: 4,
    categoriesLength: 3,
    pagesLength: 3,
    productsLength: 4
} %}

{% set isCompletionVisible = data.completion is not empty %}
{% set isProductsVisible = data.product_abstract is not empty %}
{% set isCategoriesVisible = data.category is not empty %}
{% set isSuggestionsEmpty = not isCompletionVisible and not isProductsVisible and not isCategoriesVisible %}

{% block body %}

    {% if isProductsVisible and isCompletionVisible %}
        <ul class="spacing-top spacing-top--big spacing-bottom spacing-bottom--bigger">
            {% for product in data.product_abstract | slice(0, data.productsLength) if product is not empty %}
                <li class="list__item spacing-y spacing-y--small">
                    {% include molecule('suggestion-product', 'CatalogPage') with {
                        data: {
                            product: product,
                            url: product.url | default,
                            image: product.images | first | default,
                            alt: product.abstract_name | default,
                            title: product.abstract_name | default,
                            price: product.price,
                            originalPrice: product.prices.ORIGINAL ?? null,
                        },
                    } only %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if isCategoriesVisible %}
        {% include molecule('suggestion-links-list', 'CatalogPage') with {
            class: 'spacing-top',
            data: {
                name: 'global.search.suggestion.in_categories' | trans,
                items: data.category,
                length: data.categoriesLength,
            },
        } only %}
    {% endif %}

    {% if isSuggestionsEmpty %}
        <div class="text-center">
            {{ 'global.search.suggestion.no_result' | trans }}
        </div>

        {% include molecule('suggestion-not-found', 'CatalogPage') with {
            data: {
                notFound: true
            },
        } only %}

    {% endif %}
{% endblock %}

