$image-width: rem(120);
$image-width-with-checkbox: rem(158);
$image-small-width: rem(100);
$additional-info-width: rem(350);

@mixin shop-ui-product-card-item($name: '.product-card-item') {
    #{$name} {
        .product-image{
            @include helper-breakpoint-media-max($sm-max) {
                margin: 0;
                padding: 0;
            }
            @include helper-breakpoint-media-max($xs-max) {
                margin-bottom: 0;
            }
            @include helper-breakpoint-media-max($xxs-max) {
                margin-bottom: rem(-30);
            }
        }

        &__box {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            border-bottom: rem(3) solid $setting-color-gray-3;
            margin-bottom: rem(10);
            width: 100%;

            @include helper-breakpoint-media-max($l-max){
                justify-content: space-around;
            }

            @include helper-breakpoint-media-max($lg-max){
                width: 100%;
                padding-bottom: rem(0);
            }

            #{$name}__sum-price {
                @include helper-breakpoint-media-max($md-max){
                    display: none;
                }
            }

            &--mini-cart {
                padding: rem(10) rem(10) rem(10) 0;
            }

            &--summary {
                padding: 0;
                border: 0;
                margin-bottom: rem(25);
            }

            &--with-actions {
                padding-bottom: rem(10);

                @include helper-breakpoint-media-min($md-min) {
                    padding-bottom: rem(15);
                }
            }

            &--light {
                background: $setting-color-white;
            }
        }

        &__box--with-options {
            border: none;
            border-bottom: 2px solid $setting-color-input-border-tentgray;
        }

        &__product-container {
            display: flex;
            flex-flow: row;
            align-items: center;
            height: rem(90);

            @include helper-breakpoint-media-max($sm-max) {
                height: rem(130);
            }
        }

        &__heading {
            display: flex;
            font-size: rem(20);
            font-weight: 500;
            justify-content: center;
            flex-direction: column;

            @include helper-breakpoint-media-max($xxs-max){
                padding-right: rem(0);
                display: flex;
                flex-direction: column;
            }

            @include helper-breakpoint-media-min($xl-min) {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding-right: rem(15);

                &--with-actions {
                    display: block;
                }
            }
        }

        &__brand-title {
            font-size: rem(14);
        }

        &__title {
            font-weight: fw(normal);
            font-size: rem(14);
            text-decoration: none;
            color: $setting-color-black;

            @include helper-breakpoint-media-max($md-max) {
                font-size: rem(14);
            }

            &:hover {
                text-decoration: none;

                &:not(&--alternative) {
                    color: $setting-color-globus-darkOrange;
                }
            }

            &--mini-cart {
                font-size: rem(15);
                margin-bottom: rem(5);
            }

            &--secondary {
                font-size: rem(15);
                line-height: rem(18);
                margin: rem(10) 0;
            }

            &--readonly {
                pointer-events: none;
            }

            &--summary {
                font-size: rem(15);
                font-weight: fw(bold);
                text-decoration: none;
                margin: 0;
                padding-right: rem(15);
                @include  helper-breakpoint-media-max($xs-max){
                    margin-left: rem(-81);
                }
            }
        }

        &__remove {
            @include helper-breakpoint-media-between($md-min,$md-max) {
                bottom: rem(130);
                left: rem(580);
                margin-left: rem(10);
            }

            @include helper-breakpoint-media-max($sm-max) {
                bottom: rem(100);
                left: rem(350);
            }
        }

        &__content {
            width: 100%;
            padding-top: rem(10);
            padding-bottom: rem(10);
            padding-right: rem(30);
            height: 100%;

            @include helper-breakpoint-media-min($xl-min) {
                padding-right: rem(20);
            }

            @include helper-breakpoint-media-max($sm-max) {
                padding-left: 0;
            }

            &--mini-cart {
                width: calc(100% - #{$image-small-width});
            }

            &--alternative {
                @include helper-breakpoint-media-min($lg-min) {
                    padding: 0 0 0 rem(20);
                }
            }

            &--additional-info {
                padding: 0 0 0 rem(20);

                @include helper-breakpoint-media-min($lg-min) {
                    width: calc(100% - #{$image-width} - #{$additional-info-width});
                }
            }

            &--with-checkbox {
                width: calc(100% - #{rem(45)});

                @include helper-breakpoint-media-min($lg-min) {
                    width: calc(100% - #{$image-width-with-checkbox});
                }
            }

            &--summary {
                padding-right: 0;
            }
        }

        &__image {
            width: $image-width;
            flex-shrink: 0;
            bottom: 0;
            left: rem(-15);
            @include helper-breakpoint-media-max($xxs-max){
                padding-bottom: rem(30);
            }

            @include helper-breakpoint-media-min($md-min) {
                position: static;
                margin-top: rem(-15);
            }

            &--mini-cart {
                position: static;
                width: $image-small-width;
                margin-bottom: rem(-15);

                .thumbnail {
                    height: rem(60);
                }
            }

            &--readonly {
                position: static;
                pointer-events: none;
            }

            &--summary {
                width: rem(70);
                position: static;
                margin: rem(5) rem(15) 0 0;
                background: $setting-color-white;
            }

            &--with-actions {
                position: static;

                @include helper-breakpoint-media-min($xl-min) {
                    bottom: rem(50);
                }
            }
        }

        &__price-col {
            display: flex;
            align-items: center;
            justify-content: center;

            @include helper-breakpoint-media-min($xl-min) {
                padding: 0 rem(5);
                width: 20%;
                flex-shrink: 0;
                display: flex;
                align-items: center;
            }

            @include helper-breakpoint-media-max($lg-max) {
                display: flex;
                justify-content: flex-end;
            }

            @include helper-breakpoint-media-max(420px) {
                position: relative;
                left: rem(50);
            }
        }

        &__price-unit {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
        }

        &__price {
            font-weight: fw(normal);
            color: $setting-color-black;
            text-align: right;
            padding: 0;

            @include helper-breakpoint-media-max($lg-max){
                font-size: rem(12);
            }

            &--subtotal {
                @include helper-breakpoint-media-min($xl-min) {
                    text-align: right;
                }
                @include helper-breakpoint-media-max($xs-max){
                    display: none;
                }
            }

            &--mini-cart {
                font-size: rem(15);
                line-height: rem(20);
                align-self: flex-start;
                padding-bottom: rem(5);
            }

            &--secondary {
                width: 100%;
                margin-bottom: rem(5);
            }

            &--summary {
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                align-items: end;

                .money-price__money_original_container {
                    flex-direction: row-reverse;

                    .money-price__uvp {
                        margin-right: rem(5);
                    }
                }

            }

            &--with-actions {
                margin-right: 0;
                text-align: center;

                @include helper-breakpoint-media-min($md-min) {
                    text-align: right;
                }
            }

            .money-price__amount {
                position: inherit;
            }
        }

        &__general-information {
            height: 100%;
            @include helper-breakpoint-media-min($xl-min) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @include helper-breakpoint-media-max($md-max) {
                display: flex;
                justify-content: start;
            }

            @include helper-breakpoint-media-max($lg-max) {
                display: flex;
                justify-content: start;
            }

            &--with-actions {
                @include helper-breakpoint-media-min($lg-min) {
                    min-height: rem(90);
                }
            }
        }

        &__quantity {
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include helper-breakpoint-media-max($xxs-max){
                margin-right: rem(30);
            }

            &--summary {
                position: static;
                padding: 0;
            }

            &--with-actions {
                position: static;
            }

            @include helper-breakpoint-media-min($xl-min) {
                flex-shrink: 0;
            }
        }

        &__actions {
            position: absolute;
            left: rem(10);
            bottom: rem(10);
            max-width: 50%;

            @include helper-breakpoint-media-min($lg-min) {
                left: rem(15);
                bottom: rem(18);
            }

            &--with-actions {
                position: static;
                max-width: 100%;
                width: 100%;
                text-align: right;
                margin-top: rem(10);

                @include helper-breakpoint-media-min($lg-min) {
                    position: absolute;
                    left: auto;
                    right: rem(15);
                    bottom: rem(15);
                }
            }
        }

        &__option {
            &--mini-cart {
                text-align: right;
            }
        }

        &__options {
            margin-bottom: rem(5);
        }

        &__additional-info {
            width: 100%;
            padding-top: rem(15);

            @include helper-breakpoint-media-min($lg-min) {
                padding-left: rem(15);
                padding-top: 0;
                max-width: $additional-info-width;
            }
        }

        &--expand {
            width: 100%;
        }

        &--right-indent-from-tablet {
            @include helper-breakpoint-media-min($lg-min) {
                padding-right: rem(20);
            }
        }

        &__text-quantity {
            &--summary {
                color: $setting-color-gray-6;
            }
        }

        &__quantity-measurement-line {
            font-size: rem(13);
            color: $setting-color-gray-9;
            display: none;

            .cart-quantity-input {
                display: none;
            }
            @include helper-breakpoint-media-max($lg-max){
                display: none;
            }
        }

        .lazy-thumbnail__image {
            height: rem(75);
        }

        .trash-bin {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @content;
    }

    .cz-font {
        font-family: $setting-font-family;
    }
}

@include shop-ui-product-card-item();
