@mixin product-description($name: '.product-description') {
    #{$name} {
        &__info {
            .description-holder {
                color: $setting-color-tentgray;
                margin-bottom: rem(10);
                .description {
                    font-weight: bold;
                    color: #000;
                }
            }

            .bullet-point {
                display: flex;
                align-items: center;
                margin-left: -3px;
                margin-bottom: 5px;
                &:nth-child(1) {
                    margin-top: 10px;
                }
                img {
                    margin-right: 8px;
                }
            }
        }

        &__attribute_info {
            color: $setting-color-globus-black;
            margin-bottom: rem(5);
        }

        &__attribute_info_text {
            color: $setting-color-globus-darkGray;
        }
    }
}

@include product-description();
