@include shop-ui-link {
    color: $setting-color-gray-10;

    &:hover {
        text-decoration: none;
    }

    &--icon {
        position: relative;
        display: inline-block;
        padding-left: rem(23);
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        @include helper-breakpoint-media-max($sm-max) {
            width: 1.2rem;
            margin-top: 5px;
        }

        &--cancel {
            transform: rotate(180deg) translate(0, 50%);
        }

        &--marker {
            left: rem(-4);
        }
    }

    &--cancel {
        color: $setting-color-gray-10;
        text-decoration: none;

        &:hover {
            color: $setting-color-gray-6;
        }
    }

    &--close {
        color: $setting-color-gray-6;
        text-decoration: none;
    }

    &--error {
        background-color: $setting-color-white;
        height: 3rem;
        padding: 1rem;
    }

    &--logout {
        width: rem(24);
        height: rem(24);
        padding: 0;
        color: $setting-color-gray-10;
        text-decoration: none;

        &:hover {
            color: $setting-color-gray-6;
        }
    }

    @media only screen and (max-width: 480px) {
        .link__header__title
        {
            margin-top:25% !important;
        }

        .link__header__zone
        {
            margin-top:25% !important;
        }

    }
}
