{% extends model('component') %}

{% define config = {
    name: 'customer-info'
} %}

{% define data = {
    fullName: required,
    customerCartNote: ''
} %}

{% block body %}
    <div class="grid grid--middle">
        <div class="col {{ config.name }}__content">
            <div>{{ data.fullName }}</div>
            <div>{{ data.customerCartNote }}</div>
        </div>
    </div>
{% endblock %}
