@mixin basic-grid() {
    $gap: rem(8);

    .container {
        display: block;
        width: 100%;
        max-width: $setting-grid-max-width;
        margin: auto;

        &--home-page {
            max-width: none;
            padding-bottom: rem(40);
        }

        &--with-gap {
            max-width: calc(#{$gap} * 2 + #{$setting-grid-max-width});
        }

        &__inner {
            padding: 0 rem(16);
        }

        &__inner-homepage-categories {
            max-width: rem(1204);
            margin: auto;
        }
    }

    .grid,
    .col {
        &--spaced {
            &-sm {
                padding: rem(8);
            }

            &-md {
                padding: rem(13);
            }

            &-lg {
                padding: rem(16);
            }
        }
    }

    .col {
        @include helper-ui-clearfix;
        float: left;
        display: block;
        flex-grow: 0;
        flex-basis: auto;

        @each $breakpoint, $edges in $setting-breakpoints {
            @include helper-breakpoint-media-min(helper-breakpoint-edge-min($edges)) {
                @for $column from 1 through $setting-grid-columns {
                    &--#{$breakpoint}-#{$column} {
                        width: helper-grid-span($column);
                        min-width: helper-grid-span($column);
                    }
                }

                &--#{$breakpoint}-auto {
                    width: auto;
                    min-width: 0;
                }
            }
        }

        @for $i from 1 through 10 {
            &--order-#{$i} {
                order: $i;
            }
        }

        &--expand {
            flex-grow: 1;
        }

        &--top {
            align-self: flex-start;
            margin-bottom: auto;
        }

        &--bottom {
            align-self: flex-end;
            margin-top: auto;
        }

        &--left {
            justify-self: flex-start;
            margin-right: auto;
        }

        &--right {
            justify-self: flex-end;
            margin-left: auto;
        }

        &--center {
            justify-self: center;
            margin-left: auto;
            margin-right: auto;
        }

        &--middle {
            align-self: center;
            margin-top: auto;
            margin-bottom: auto;
        }

        &--no-shrink {
            flex-shrink: 0;
        }

        &--for-truncate {
            min-width: 0;
        }
    }

    .grid {
        @include helper-ui-clearfix;
        clear: both;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;

        &--top {
            align-items: flex-start;
        }

        &--bottom {
            align-items: flex-end;
        }

        &--center {
            justify-content: center;
        }

        &--middle {
            align-items: center;
            /*margin-right: rem(30);*/
        }

        &--stretch {
            align-items: stretch;

            .col {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &--justify {
            justify-content: start;
            width:100%;

            @include helper-breakpoint-media-max($sm-max) {
                display:flex;
                width: 100%;

                :nth-child(4) {
                    order: 4;
                }
            }


            .col {
                margin-left: auto;

                @include helper-breakpoint-media-max($sm-max) {
                    height: 100%;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--left {
            justify-content: flex-start;

            .col--left {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &--right {
            justify-content: flex-end;

            .col--right {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &--column {
            flex-direction: column;
        }

        &--inline {
            display: inline-flex;
        }

        &.container {
            max-width: $setting-grid-max-width;
        }

        &--no-wrap {
            flex-wrap: nowrap;
            display: flex;
            flex-direction: row;
            align-content: stretch;
            align-items: center;
            margin-right: 0;
        }

        &--desktop-no-wrap {
            @include helper-breakpoint-media-min($md-min) {
                flex-wrap: nowrap;
            }
        }

        &--mobile-row-revers {
            @include helper-breakpoint-media-max($lg-max) {
                flex-direction: column-reverse;
            }
        }

        &--tablet-revers {
            flex-direction: column-reverse;

            @include helper-breakpoint-media-min($xl-min) {
                flex-direction: row;
            }
        }

        &--indent {
            max-width: none;
            margin: 0 rem(-16);
        }

        &--indent-sm {
            max-width: none;
            /*margin: rem(-8);*/
        }

        &--expand {
            width: 100%;
        }

        &--baseline {
            align-items: baseline;
        }
    }
}
