@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

@font-face {
    font-family: 'Clearface-Medium';
    src:  url('../fonts/ClearfaceGothicPro-Medium~2.eot');
    src:  url('../fonts/ClearfaceGothicPro-Medium~2.eot?a3tps9#iefix') format('embedded-opentype'),
    url('../fonts/ClearfaceGothicPro-Medium~1.ttf') format('truetype'),
    url('../fonts/ClearfaceGothicPro-Medium.woff') format('woff'),
    url('../fonts/ClearfaceGothicPro-Medium~3.svg') format('svg');
}

@font-face {
    font-family: 'globus';
    src:  url('../fonts/globus.eot?8pxhn6');
    src:  url('../fonts/globus.eot?8pxhn6#iefix') format('embedded-opentype'),
    url('../fonts/globus.ttf?8pxhn6') format('truetype'),
    url('../fonts/globus.woff?8pxhn6') format('woff'),
    url('../fonts/globus.svg?8pxhn6#globus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'globus' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
    content: "\e916";
}

.icon-basketplus:before {
    content: "\e900";
}

.icon-milchkaese:before {
    content: "\e901";
}
.icon-fischfleisch:before {
    content: "\e902";
}
.icon-tiefkuehl:before {
    content: "\e903";
}
.icon-vorratsschrank:before {
    content: "\e904";
}
.icon-getraenketabak:before {
    content: "\e905";
}
.icon-koerperpflege:before {
    content: "\e906";
}
.icon-haushalt:before {
    content: "\e907";
}
.icon-spielschreibwaren:before {
    content: "\e908";
}
.icon-freizeittierauto:before {
    content: "\e909";
}
.icon-babyschwangerschaft:before {
    content: "\e90a";
}
.icon-elektro:before {
    content: "\e90b";
}
.icon-textilschmuck:before {
    content: "\e90c";
}
.icon-suche:before {
    content: "\e90d";
}
.icon-arrow-up:before {
    content: "\e90e";
}
.icon-arrow-down:before {
    content: "\e90f";
}
.icon-arrow-right:before {
    content: "\e910";
}
.icon-arrow-left:before {
    content: "\e911";
}
.icon-plus:before {
    content: "\e912";
}
.icon-minus:before {
    content: "\e913";
}
.icon-sale:before {
    content: "\e914";
}
.icon-check:before {
    content: "\e915";
}
.icon-close:before {
    content: "\e917";
}
.icon-allproducts:before {
    content: "\e918";
}
.icon-filter:before {
    content: "\e919";
}
.icon-list:before {
    content: "\e91e";
}
.icon-burger-menu:before {
    content: "\e91f";
}
.icon-filter1:before {
    content: "\e920";
}
.icon-done-all:before {
    content: "\e921";
}
.icon-compare:before {
    content: "\e926";
}
.icon-refresh:before {
    content: "\e927";
}
.icon-market:before {
    content: "\e928";
}
.icon-delete:before {
    content: "\e929";
}
.icon-basket:before {
    content: "\e92a";
}
.icon-fav:before {
    content: "\e92b";
}
.icon-love:before {
    content: "\e92c";
}
.icon-new:before {
    content: "\e92d";
}
.icon-pinterest:before {
    content: "\e930";
}
.icon-facebook:before {
    content: "\e931";
}
.icon-youtube:before {
    content: "\e932";
}
.icon-instagram:before {
    content: "\e933";
}
.icon-action:before {
    content: "\e934";
}
.icon-food:before {
    content: "\e935";
}
.icon-contact:before {
    content: "\e936";
}
.icon-mail:before {
    content: "\e937";
}
.icon-user:before {
    content: "\e938";
}
.icon-store:before {
    content: "\e939";
}
.icon-ObstGemuese:before {
    content: "\1f32b";
}
.icon-click-collect:before {
    content: "\e920a";
}
.icon-sale1:before {
    content: "\e93a";
    color: #4d4d4d;
}
.icon-faq:before {
    content: "\e93b";
    color: #4d4d4d;
}
.icon-location:before {
    content: "\e93c";
    color: #4d4d4d;
}
.icon-eye:before {
    content: "\e91b";
}
.icon-eyeclosed:before {
    content: "\e91c";
}

@mixin basic-typography() {
    html {
        font-size: 100%;
        height: 100%;
    }

    body {
        @include helper-font-size(default);
        @include helper-font-weight(medium);
        @include helper-font-line-height(default);

        // Height in media query for IE, min-height for every other browser include Samsung browser (Footer at bottom)
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: 100%;
        }
        min-height: 100vh;
        position: relative;
        background-color: $setting-color-white;
        color: $setting-color-text;
        font-family: $setting-font-family;
        display: flex;
        flex-direction: column;
        text-size-adjust: 100%;
    }

    @each $i in (1, 2, 3, 4, 5, 6) {
        h#{$i} {
            @include helper-heading($i);
        }
    }

    a {
        color: $setting-color-gray-13;

        &:hover {
            color: $setting-color-green;
        }
    }

    b,
    strong {
        @include helper-font-weight(bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: none;
        margin: rem(8) 0;
    }

    small {
        @include helper-font-size(small);
    }

    big {
        @include helper-font-size(big);
    }

    p,
    blockquote,
    iframe {
        margin: rem(8) 0;
    }

    iframe {
        max-width: 100%;
        margin: 0;
    }
}
