@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap');

@font-face {
    font-family: 'Clearface-Medium';
    src:  url('../fonts/ClearfaceGothicPro-Medium~2.eot');
    src:  url('../fonts/ClearfaceGothicPro-Medium~2.eot?a3tps9#iefix') format('embedded-opentype'),
    url('../fonts/ClearfaceGothicPro-Medium~1.ttf') format('truetype'),
    url('../fonts/ClearfaceGothicPro-Medium.woff') format('woff'),
    url('../fonts/ClearfaceGothicPro-Medium~3.svg') format('svg');
}

@font-face {
    font-family: 'globus';
    src:  url('../fonts/globus.eot?8pxhn6');
    src:  url('../fonts/globus.eot?8pxhn6#iefix') format('embedded-opentype'),
    url('../fonts/globus.ttf?8pxhn6') format('truetype'),
    url('../fonts/globus.woff?8pxhn6') format('woff'),
    url('../fonts/globus.svg?8pxhn6#globus') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    //font-family: 'globus' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
    content: "\e916";
}

.icon-basketplus:before {
    content: "\e900";
}

.icon-milchkaese:before {
    content: "\e901";
}
.icon-fischfleisch:before {
    content: "\e902";
}
.icon-tiefkuehl:before {
    content: "\e903";
}
.icon-vorratsschrank:before {
    content: "\e904";
}
.icon-getraenketabak:before {
    content: "\e905";
}
.icon-koerperpflege:before {
    content: "\e906";
}
.icon-haushalt:before {
    content: "\e907";
}
.icon-spielschreibwaren:before {
    content: "\e908";
}
.icon-freizeittierauto:before {
    content: "\e909";
}
.icon-babyschwangerschaft:before {
    content: "\e90a";
}
.icon-elektro:before {
    content: "\e90b";
}
.icon-textilschmuck:before {
    content: "\e90c";
}
.icon-suche:before {
    content: "\e90d";
}
.icon-arrow-up:before {
    content: "\e90e";
}
.icon-arrow-down:before {
    content: "\e90f";
}
.icon-arrow-right:before {
    content: "\e910";
}
.icon-arrow-left:before {
    content: "\e911";
}
.icon-plus:before {
    content: "\e912";
}
.icon-minus:before {
    content: "\e913";
}
.icon-sale:before {
    content: "\e914";
}
.icon-check:before {
    content: "\e915";
}
.icon-close:before {
    content: "\e917";
}
.icon-allproducts:before {
    content: "\e918";
}
.icon-filter:before {
    content: "\e919";
}
.icon-list:before {
    content: "\e91e";
}
.icon-burger-menu:before {
    content: "\e91f";
}
.icon-filter1:before {
    content: "\e920";
}
.icon-done-all:before {
    content: "\e921";
}
.icon-compare:before {
    content: "\e926";
}
.icon-refresh:before {
    content: "\e927";
}
.icon-market:before {
    content: "\e928";
}
.icon-delete:before {
    content: "\e929";
}
.icon-basket:before {
    content: "\e92a";
}
.icon-overview-user-menu:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none"><path d="M19.9997 4.0007C19.9997 3.4507 19.5497 3.0007 18.9997 3.0007H11.9997C11.4497 3.0007 10.9997 3.4507 10.9997 4.0007C10.9997 4.5507 11.4497 5.0007 11.9997 5.0007H18.9997C19.5497 5.0007 19.9997 4.5507 19.9997 4.0007ZM10.9997 12.0007C10.9997 12.5507 11.4497 13.0007 11.9997 13.0007H18.9997C19.5497 13.0007 19.9997 12.5507 19.9997 12.0007C19.9997 11.4507 19.5497 11.0007 18.9997 11.0007H11.9997C11.4497 11.0007 10.9997 11.4507 10.9997 12.0007ZM8.46973 0.630703C8.85973 1.0207 8.85973 1.6507 8.46973 2.0407L4.23973 6.2907C3.84973 6.6807 3.21973 6.6807 2.81973 6.2907L0.699727 4.1607C0.309727 3.7707 0.309727 3.1407 0.699727 2.7507C1.08973 2.3607 1.71973 2.3607 2.10973 2.7507L3.52973 4.1707L7.06973 0.630703C7.44973 0.250703 8.08973 0.250703 8.46973 0.630703ZM8.47973 8.6407C8.86973 9.0307 8.86973 9.6607 8.47973 10.0507L4.24973 14.3007C3.85973 14.6907 3.22973 14.6907 2.82973 14.3007L0.699727 12.1607C0.309727 11.7707 0.309727 11.1407 0.699727 10.7507C1.08973 10.3607 1.71973 10.3607 2.10973 10.7507L3.52973 12.1707L7.06973 8.6307C7.44973 8.2507 8.08973 8.2507 8.47973 8.6407Z" fill="black"/></svg>');
}
.icon-profile-user-menu:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none"><path d="M8 8C10.21 8 12 6.21 12 4C12 1.79 10.21 0 8 0C5.79 0 4 1.79 4 4C4 6.21 5.79 8 8 8ZM8 10C5.33 10 0 11.34 0 14V15C0 15.55 0.45 16 1 16H15C15.55 16 16 15.55 16 15V14C16 11.34 10.67 10 8 10Z" fill="black"/></svg>');
}
.icon-password-user-menu:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none"><path d="M11.6502 5.00012C10.7002 2.31012 7.90018 0.500121 4.77018 1.12012C2.48018 1.58012 0.620184 3.41012 0.140184 5.70012C-0.679816 9.57012 2.26018 13.0001 6.00018 13.0001C8.61018 13.0001 10.8302 11.3301 11.6502 9.00012H16.0002V11.0001C16.0002 12.1001 16.9002 13.0001 18.0002 13.0001C19.1002 13.0001 20.0002 12.1001 20.0002 11.0001V9.00012C21.1002 9.00012 22.0002 8.10012 22.0002 7.00012C22.0002 5.90012 21.1002 5.00012 20.0002 5.00012H11.6502ZM6.00018 9.00012C4.90018 9.00012 4.00018 8.10012 4.00018 7.00012C4.00018 5.90012 4.90018 5.00012 6.00018 5.00012C7.10018 5.00012 8.00018 5.90012 8.00018 7.00012C8.00018 8.10012 7.10018 9.00012 6.00018 9.00012Z" fill="black"/></svg>');
}
.icon-order-user-menu:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none"><path d="M21 8.00078H16.21L11.82 1.43078C11.42 0.840781 10.55 0.840781 10.16 1.43078L5.77 8.00078H1C0.45 8.00078 0 8.45078 0 9.00078C0 9.09078 0.00999996 9.18078 0.04 9.27078L2.58 18.5408C2.81 19.3808 3.58 20.0008 4.5 20.0008H17.5C18.42 20.0008 19.19 19.3808 19.43 18.5408L21.97 9.27078L22 9.00078C22 8.45078 21.55 8.00078 21 8.00078ZM10.99 3.79078L13.8 8.00078H8.18L10.99 3.79078ZM11 16.0008C9.9 16.0008 9 15.1008 9 14.0008C9 12.9008 9.9 12.0008 11 12.0008C12.1 12.0008 13 12.9008 13 14.0008C13 15.1008 12.1 16.0008 11 16.0008Z" fill="black"/></svg>');
}
.icon-wishlist-user-menu:before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none"><path d="M9 6H13C13.55 6 14 5.55 14 5C14 4.45 13.55 4 13 4H9C8.45 4 8 4.45 8 5C8 5.55 8.45 6 9 6ZM9 10H13C13.55 10 14 9.55 14 9C14 8.45 13.55 8 13 8H9C8.45 8 8 8.45 8 9C8 9.55 8.45 10 9 10ZM9 14H13C13.55 14 14 13.55 14 13C14 12.45 13.55 12 13 12H9C8.45 12 8 12.45 8 13C8 13.55 8.45 14 9 14ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12ZM17 0H1C0.45 0 0 0.45 0 1V17C0 17.55 0.45 18 1 18H17C17.55 18 18 17.55 18 17V1C18 0.45 17.55 0 17 0ZM16 16H2V2H16V16Z" fill="black"/></svg>');
}
.icon-fav:before {
    content: "\e92b";
}
.icon-love:before {
    content: "\e92c";
}
.icon-new:before {
    content: "\e92d";
}
.icon-pinterest:before {
    content: "\e930";
}
.icon-facebook:before {
    content: "\e931";
}
.icon-youtube:before {
    content: "\e932";
}
.icon-instagram:before {
    content: "\e933";
}
.icon-action:before {
    content: "\e934";
}
.icon-food:before {
    content: "\e935";
}
.icon-contact:before {
    content: "\e936";
}
.icon-mail:before {
    content: "\e937";
}
.icon-user:before {
    content: "\e938";
}
.icon-store:before {
    content: "\e939";
}
.icon-ObstGemuese:before {
    content: "\1f32b";
}
.icon-click-collect:before {
    content: "\e920a";
}
.icon-sale1:before {
    content: "\e93a";
    color: #4d4d4d;
}
.icon-faq:before {
    content: "\e93b";
    color: #4d4d4d;
}
.icon-location:before {
    content: "\e93c";
    color: #4d4d4d;
}
.icon-eye:before {
    content: "\e91b";
}
.icon-eyeclosed:before {
    content: "\e91c";
}

@mixin basic-typography() {
    html {
        font-size: 100%;
        height: 100%;
    }

    body {
        @include helper-font-size(default);
        @include helper-font-weight(medium);
        @include helper-font-line-height(default);

        // Height in media query for IE, min-height for every other browser include Samsung browser (Footer at bottom)
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: 100%;
        }
        min-height: 100vh;
        position: relative;
        background-color: $setting-color-white;
        color: $setting-color-text;
        font-family: $setting-font-family-additional;
        display: flex;
        flex-direction: column;
        text-size-adjust: 100%;
    }

    @each $i in (1, 2, 3, 4, 5, 6) {
        h#{$i} {
            @include helper-heading($i);
        }
    }

    a {
        color: $setting-color-gray-13;

        &:hover {
            color: $setting-color-green;
        }
    }

    b,
    strong {
        @include helper-font-weight(bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: none;
        margin: rem(8) 0;
    }

    small {
        @include helper-font-size(small);
    }

    big {
        @include helper-font-size(big);
    }

    p,
    blockquote,
    iframe {
        margin: rem(8) 0;
    }

    iframe {
        max-width: 100%;
        margin: 0;
    }

    .cz-font {
        font-family: $setting-font-family-fira-sans;
    }
}
