@mixin checkout-page-summary-overview($name: '.summary-overview') {
    #{$name} {
        margin: rem(20) 0 rem(10);

        &__list-item {
            font: fw(medium) rem(16) / 1.6 $setting-font-family-additional;
            margin: rem(15) 0;
            color: $setting-color-gray-13;

            &--total {
                padding-top: rem(15);
                font-size: rem(18);
                font-weight: fw(bold);
                letter-spacing: rem(0.12);
                color: $setting-color-gray-6;
            }
        }

        &__list-item-CZ {
            font: fw(medium) rem(16) / 1.6 $setting-font-family;
            margin: rem(15) 0;
            color: $setting-color-gray-13;

            &--total {
                padding-top: rem(15);
                font-size: rem(18);
                font-weight: fw(bold);
                letter-spacing: rem(0.12);
                color: $setting-color-gray-6;
            }
        }

        &__price {
            font-weight: fw(bold);
            color: $setting-color-gray-13;

            &--total {
                color: $setting-color-gray-6;
            }
        }

        @content;
    }
}

@include checkout-page-summary-overview();
