{% extends model('component') %}

{% define config = {
    name: 'product-carousel',
    tag: 'product-carousel'
} %}

{% define data = {
    product: required,
    idProductAbstract: data.product.idProductAbstract | default,
    name: data.product.name,
} %}

{% set isGlobusProduction = data.product.attributes.isGlobusProduction | default(0) %}

{% block body %}
    {% if isGlobusProduction == true %}
        {% block productAbstractLabels %}
            {% block goproductLabel %}
                {% set labels = labels | default([]) %}

                {% set labels = labels | merge([{
                    text: '',
                    type: '',
                    product_type: 'goproduct',
                    discount: discount is defined ? discount : 0,
                    discount_percentage: discount_percentage is defined ? discount_percentage : 0,
                }]) %}

                {% include molecule('label-group', 'ProductLabelWidget') with {
                    data: {
                        labels: labels,
                        parentJsName: '',
                    },
                } only %}
            {% endblock %}
        {% endblock %}
    {% endif %}
    <div>
        {% if (data.product.prices['ORIGINAL'] is defined and data.product.prices['DEFAULT'] < data.product.prices['ORIGINAL']) %}
            {% block saleLabel%}
                {% set discount = data.product.prices.ORIGINAL - data.product.prices.DEFAULT %}
                {% set discount_percentage = ((discount / data.product.prices.ORIGINAL) * 100)|round %}

                {% set labels = labels | default([]) %}

                {% if not data.product.id_product_labels is defined or data.product.id_product_labels|length <= 0 %}

                    {% set labels = labels | merge([{
                        text: '',
                        type: 'highlight',
                        product_type: '',
                        discount: discount,
                        discount_percentage: discount_percentage
                    }]) %}

                    {% include molecule('label-group', 'ProductLabelWidget') with {
                        data: {
                            labels: labels,
                            parentJsName: '',
                        },
                    } only %}

                {% elseif data.idProductAbstract %}
                    {% widget 'ProductAbstractLabelWidget' args [data.idProductAbstract] with {
                        data: {
                            parentJsName: config.jsName,
                            product_type: '',
                            discount: discount,
                            discount_percentage: discount_percentage
                        },
                    } only %}{% endwidget %}
                {% endif %}
            {% endblock %}
        {% endif %}
    </div>

    {% include molecule('image-gallery', 'ProductImageWidget') with {
        data: {
            idProductAbstract: data.product.idProductAbstract,
            images: data.product.images | default([])
        },
        attributes: {
            'active-class': 'image-gallery__item--active',
            'thumbnail-active-class': 'image-gallery-thumbnail__item--active',
            'slider-config': '{
                "slidesToShow":3,
                "slidesToScroll":1,
                "infinite":false,
                "vertical":false,
                "horizontal":true,
                "prevArrow":"<div class=\'image-gallery-thumbnail__prev\'><svg class=\'icon icon--thumbnail-arrow icon--reverse\'><use href=\'#:arrow-down\'></use></svg></div>",
                "nextArrow":"<div class=\'image-gallery-thumbnail__next\'><svg class=\'icon icon--thumbnail-arrow\'><use href=\'#:arrow-down\'></use></svg></div>",
                "responsive": [
                    {
                        "breakpoint": 769,
                        "settings": {
                        "slidesToShow": 3,
                        "vertical": false,
                        "horizontal":true,
                        "infinite": true,
                        "arrows": true,
                        "dots": true
                    }
                }]
            }'
        }
    } only %}

{% endblock %}
