$sm-min: 0;
$xxs-max:360px;
$xs-max: 400px;
$sm-max: 575px;
$smd-max: 680px;
$md-min: 576px;
$md-max: 768px;
$lg-min: 769px;
$lg-max: 991px;
$xl-min: 992px;
$l-min: 1023px;
$l-max: 1100px;
$xl-max: 1300px;
$xxl-min: 1301px;

$setting-breakpoints: (
    sm: ($sm-min, $sm-max),
    md: ($md-min, $md-max),
    lg: ($lg-min, $lg-max),
    xl: ($xl-min)
);
