$setting-font-family: 'Fira Sans', "Open Sans", Arial, "Lucida Grande", sans-serif;
$setting-font-family-roboto: 'Roboto', sans-serif;
$setting-font-family-fira-sans: 'Fira Sans';
$setting-font-family-additional: 'Roboto', Arial, sans-serif ;
$setting-font-family-code: 'Menlo', monospace;
$setting-font-size-base: 16px;

$setting-font-size: (
    1: rem(24, number),
    2: rem(20, number),
    3: rem(18, number),
    4: rem(18, number),
    5: rem(15, number),
    6: rem(13, number),
    big: rem(18),
    default: rem(14),
    small: rem(13)
);

$setting-font-size-mobile: (
    1: rem(18, number),
    2: rem(18, number),
    3: rem(15, number),
    4: rem(15, number),
    5: rem(15, number),
    6: rem(13, number),
    big: rem(18),
    default: rem(15),
    small: rem(13)
);

$setting-font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 900
);

$setting-font-line-height: (
    1: 1.2,
    2: 1.2,
    3: 1.2,
    4: 1.2,
    5: 1.2,
    6: 1.2,
    default: 1.5,
    tight: 1.4
);
