
@mixin shop-ui-popup-ui($name: '.popup-ui-shipment-form') {
    #{$name} {
        &--show {
            #{$name} {
                &__overlay {
                    display: flex;
                }
            }
        }

        .font-cz {
            font-family: $setting-font-family-fira-sans;
        }

        .slick-popup-slide {
            float:left;
            height: rem(380);
        }

        .grid {
            height: rem(480);
        }

        .spaceBetweenCol {
            background-color: $setting-color-gray-1;
            height: 100%;
            padding: 0 rem(10);
        }

        .time-slot-info-text {
            color: $setting-color-globus-black;
            font-size: rem(12);
            margin: rem(10) 0;

            @include helper-breakpoint-media-max($lg-max) {
                font-size: rem(10);
                margin: rem(5) 0;
            }
        }

        &__top-left-title {
            float:left;
            margin-left: rem(10);
            color: black;
        }

        &__time-slot-buttons {
            float: right;
            margin-bottom: rem(10);
        }

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            z-index: $setting-zi-popup;
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: rem(15);
            background-color: rgba($setting-color-black, 0.7);
        }

        &__container {
            flex-grow: 1;
            width: 100%;
            height: rem(560);
            background-color: $setting-color-globus-white;
            border-radius: 0;
            padding: 0 rem(20);

            @include helper-breakpoint-media-min($xl-min) {
                width: 60%;
                flex-grow: 0;
            }

            @include helper-breakpoint-media-min($md-min) {
                height: rem(640);
            }

            .store-app-label-holder {
                background: white;

                .spacing-y-label {
                    margin-top: 0.2rem;
                    margin-bottom: 0.2rem;
                }
                table {
                    .item-quantity {
                        width: 60px;
                        text-align: right;
                    }
                }

                .label-text{
                    padding-left: 5px;
                }

                .label-text-green {
                    color:$setting-color-green;
                    padding-left: 5px;
                }
                .label-text-brown {
                    color:$setting-color-brown;
                    padding-left: 5px;
                }
            }
            .horizontal-spacing {
                margin-bottom: 15px;
            }
        }

        &__title {
            padding: 0.9rem 1.5rem 0.5rem;
            font: fw(bold) rem(18) $setting-font-family-additional;
            text-align: right;
            border-bottom: rem(1) solid $setting-color-globus-black;
        }

        &__title--text {
            color: black;
            text-align: left;
            float: left;
            padding-top: rem(6);
            font-size: rem(24);
        }

        &__close {
            color: $setting-color-globus-lightOrange;
            text-align: right;
            cursor: pointer;
            font-size: rem(24);
            background-color: transparent;
            margin: rem(10) -20px 0 0;
        }

        &__content::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }

        &__content {
            padding: rem(5);
            background-color: $setting-color-globus-white;

            .horizontal-spacing {
                p {
                    padding: 0px 35px;
                    text-align: left;
                }
            }
            .total-articles {
                width: 100%;
                padding:0.5rem 2.7rem 0rem;
                font-weight: bold;
                font-size: 18px;
                align-items: center;

                .total-amount {
                    padding: 0px 5px 0px 9px;
                }
            }

            .submit-confirmation {
                width: 80%;
                margin: 0px auto;
                display: block;
            }

            .cancel-confirmation {
                padding: 10px;
                border: 1px solid $setting-color-green;
                display: block;
                width: 80%;
                margin: 10px auto;
                border-radius: 0.5rem;
            }
        }

        &--align-left {
            .slick-track {
                margin-left: 0;
            }
        }

        &__container-slick {
            position: relative;

            @include helper-breakpoint-media-max($sm-max) {
                padding: 0 rem(11);
            }


            .slick-arrow {
                font-size: 0;
                top: 0;
                right: rem(15);
                left: auto;
                width: rem(36);
                height: rem(36);
                background: url('../images/right-chevron-orange.svg') no-repeat center / rem(6);
                background-color: $setting-color-white;
                border-radius: 50%;
                border: rem(2) solid $setting-color-fresh-orange;

                @include helper-breakpoint-media-max($sm-max) {
                    top: rem(66);
                }

                &:hover {
                    background-color: $setting-color-white;
                    cursor: pointer;
                }
            }


            .slick-arrow-cz {
                font-size: 0;
                top: 0;
                right: rem(15);
                left: auto;
                width: rem(36);
                height: rem(36);
                background: url('../images/right-chevron-green.svg') no-repeat center / rem(6);
                background-color: $setting-color-white;
                border-radius: 50%;
                border: rem(2) solid $setting-color-globusCZ-main-green;

                @include helper-breakpoint-media-max($sm-max) {
                    top: rem(66);
                }

                &:hover {
                    background-color: $setting-color-white;
                    cursor: pointer;
                }
            }

            .slick-prev {
                transform: rotate(180deg);
                margin-right: rem(10);

                @include helper-breakpoint-media-max($xl-max) {
                    left: rem(-16);
                }

                @include helper-breakpoint-media-max($sm-max) {
                    left: rem(-8);
                }
            }

            .slick-next {
                @include helper-breakpoint-media-max($xl-max) {
                    right: rem(-16);
                }

                @include helper-breakpoint-media-max($sm-max) {
                    right: rem(-8);
                }
            }
        }

        &--product-set {
            #{$name}__container {
                padding: 0;
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem(12);

                li {
                    display: block;
                    margin: rem(4.8) rem(8);
                    width: rem(6);
                    height: rem(6);
                    background: $setting-color-gray-3;
                    border-radius: 50%;

                    &:hover {
                        cursor: pointer;
                    }

                    &.slick-active {
                        width: rem(12);
                        height: rem(12);
                        background: $setting-color-transparent;
                        border: rem(1) solid map-get($setting-color-actions, alert);
                    }
                }

                button {
                    font-size: 0;
                }
            }

            .slick-arrow {
                @include helper-breakpoint-media-max($md-max) {
                    top: rem(85);
                }
            }

            .slick-prev {
                @include helper-breakpoint-media-max($md-max) {
                    left: 0;
                }
            }

            .slick-next {
                @include helper-breakpoint-media-max($md-max) {
                    right: 0;
                }
            }

            .slick-disabled {
                display: none !important;
            }
        }

        &--product-set-secondary {
            margin-top: rem(24);

            @include helper-breakpoint-media-min($lg-min) {
                margin-top: 0;
            }

            .slick-slide {
                width: rem(230);

                @include helper-breakpoint-media-min($sm-max) {
                    padding-right: rem(30);

                    &:last-of-type {
                        padding-right: 0;
                    }
                }

                @include helper-breakpoint-media-min($lg-min) {
                    width: rem(309);
                }
            }
        }

        .checkout-block {
            background-color: $setting-color-light-tentgray-3;
            color: $setting-color-light-tentgray-5;
            border-radius: rem(2);
            padding: rem(20) rem(15);
            height: rem(400);
            border-bottom: rem(20) solid $setting-color-light-tentgray-3;

            @include helper-breakpoint-media-min($xl-min) {
                padding: rem(30);
            }


            @include helper-breakpoint-media-min($sm-max) {
                height: rem(490);
                border-bottom: rem(20) solid $setting-color-light-tentgray-3;
            }

            &--shipment {
                padding-bottom: 0;
                margin-bottom: 0 !important;
            }

            &--summary {
                background: none;
                padding: 0;
                border-radius: 0;
            }

            &__title-with-link {
                @include helper-breakpoint-media-min($md-min) {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }
            }

            &__summary {
                background: $setting-color-gray-2;
                padding: rem(15);
                border-radius: rem(4);
                margin-bottom: rem(15);

                @include helper-breakpoint-media-min($lg-min) {
                    padding: rem(30);
                    //margin-bottom: rem(30);
                }
            }

            &__summary-total {
                border-top: rem(1) solid $setting-color-gray-10;
                padding: rem(15) rem(15) 0;
                margin: 0 rem(-15);

                @include helper-breakpoint-media-min($lg-min) {
                    padding: rem(30) rem(30) 0;
                    margin: 0 rem(-30);
                }

                .summary-info-holder {
                    margin-top: 20px;
                }
            }

            &__title {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                font: fw(bold) rem(24) / 1 $setting-font-family-additional;
                padding-bottom: rem(30);
                color: $setting-color-gray-6;

                &-counter {
                    padding: rem(5) 0;
                    font-size: rem(15);
                    color: $setting-color-gray-6;
                    font-weight: fw(regular);
                }
            }
        }

        &--timeslots {
            background-color: $setting-color-light-tentgray-3;
            color: $setting-color-light-tentgray-5;
            border-radius: rem(2);
            clear: both;

            /* width */
            ::-webkit-scrollbar {
                width: rem(3);
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: $setting-color-light-tentgray-3;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: $setting-color-fresh-orange;
                height: rem(20);
                border-bottom-left-radius: rem(1.5);
                border-bottom-right-radius: rem(1.5);
                border-top-left-radius: rem(1.5);
                border-top-right-radius: rem(1.5);
            }

            #{$name}-popup__containerSlick {
                padding-top: rem(56);
            }

            #{$name}-popup__column {
                padding: rem(30) rem(26);
                background-color: #FFF;
                height: rem(380);

                #{$name}-popup__input {
                    display: none;
                }

                /* stylelint-disable selector-max-combinators, selector-max-compound-selectors */
                #{$name}-popup__input:checked + #{$name}-popup__slot-label {
                    border-color: $setting-color-globus-darkOrange;
                    color: $setting-color-white;
                    background-color: $setting-color-globus-darkOrange;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: rem(20);
                        top: rem(15);
                        display: block;
                        width: rem(8);
                        height: rem(12);
                        transform: rotate(45deg);
                        border-right: rem(2) solid $setting-color-white;
                        border-bottom: rem(2) solid $setting-color-white;
                    }
                }
                /* stylelint-enable */

                #{$name}-popup__slot-label {
                    //background: $setting-color-lighter;
                    border-radius: rem(2);
                    border: rem(1) solid $setting-color-input-border-tentgray;
                    padding: rem(9);
                    margin: rem(8) 0;
                    text-align: center;
                    color: $setting-color-light-tentgray-5;
                    line-height: rem(28);

                    @media only screen and (min-width: 992px) and (max-width: 1028px)  {
                        line-height: rem(14) !important;
                    }

                    @media only screen and (min-width: 1029px) and (max-width: 1037px)  {
                        line-height: rem(20) !important;
                    }

                }

            }


            #{$name}-popup__date {
                font: fw(semibold) rem(16) / rem(22) $setting-font-family-additional !important;
                color: $setting-color-black !important;
                margin-bottom: rem(30) !important;
                height: rem(30);
            }

         .slick-arrow {
                top: 0;
                right: rem(15);
                left: auto;
                width: rem(36);
                height: rem(36);
                background-color: $setting-color-white;
                border-radius: rem(4);
            }

            .slick-prev {
                right: rem(69);
            }

        }

        &--timeslots-cz {
            background-color: $setting-color-light-tentgray-3;
            color: $setting-color-light-tentgray-5;
            border-radius: rem(2);
            clear: both;

            /* width */
            ::-webkit-scrollbar {
                width: rem(3);
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: $setting-color-light-tentgray-3;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: $setting-color-globusCZ-main-green;
                height: rem(20);
                border-bottom-left-radius: rem(1.5);
                border-bottom-right-radius: rem(1.5);
                border-top-left-radius: rem(1.5);
                border-top-right-radius: rem(1.5);
            }

            #{$name}-popup__containerSlick {
                padding-top: rem(56);
            }

            #{$name}-popup__column {
                padding: rem(30) rem(26);
                background-color: #FFF;
                height: rem(380);

                #{$name}-popup__input {
                    display: none;
                }

                /* stylelint-disable selector-max-combinators, selector-max-compound-selectors */
                #{$name}-popup__input:checked + #{$name}-popup__slot-label {
                    border-color: $setting-color-globus-darkOrange;
                    color: $setting-color-white;
                    background-color: $setting-color-globus-darkOrange;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        right: rem(20);
                        top: rem(15);
                        display: block;
                        width: rem(8);
                        height: rem(12);
                        transform: rotate(45deg);
                        border-right: rem(2) solid $setting-color-white;
                        border-bottom: rem(2) solid $setting-color-white;
                    }
                }
                /* stylelint-enable */

                #{$name}-popup__slot-label {
                    border-radius: rem(2);
                    border: rem(1) solid $setting-color-input-border-tentgray;
                    padding: rem(9);
                    margin: rem(8) 0;
                    text-align: center;
                    color: $setting-color-light-tentgray-5;
                    line-height: rem(28);

                    @media only screen and (min-width: 992px) and (max-width: 1028px)  {
                        line-height: rem(14) !important;
                    }

                    @media only screen and (min-width: 1029px) and (max-width: 1037px)  {
                        line-height: rem(20) !important;
                    }

                }

            }

            #{$name}-popup__date-cz {
                font: fw(semibold) rem(16) / rem(22) $setting-font-family !important;
                color: $setting-color-black !important;
                margin-bottom: rem(30) !important;
                height: rem(30);
            }

            .slick-arrow {
                top: 0;
                right: rem(15);
                left: auto;
                width: rem(36);
                height: rem(36);
                background-color: $setting-color-white;
                border-radius: rem(4);

            }

            .slick-prev {
                right: rem(69);
            }

        }
    }

}

@include shop-ui-popup-ui();
