{% extends model('component') %}

{% define config = {
    name: 'barcode'
} %}

{% define data = {
    encodedBarcode: '',
    barcodeNumber: '',
    isTransportboxEnabled: false
} %}

{% block body %}
    <div class="white--box">
        {% if data.encodedBarcode is not empty %}
            <p class="barcode--text">{{ data.encodedBarcode }}</p>
            <p class="barcode--number"> {{ data.barcodeNumber }}</p>
        {% else %}
            <p>{{ 'storeapp.picking.barcode' | trans }}</p>
        {% endif %}
    </div>
    <div class="achtung" >
        {% if data.isTransportboxEnabled %}
            <div class="none"></div>
        {% else %}
            <h2>{{ 'storeapp.picking.warning' | trans }}</h2>
        {% endif %}
    </div>
{% endblock %}
