{% extends model('component') %}

{% define config = {
    name: 'barcode'
} %}

{% define data = {
    encodedBarcode: ''
} %}

{% block body %}
    <div class="white--box">
        {% if data.encodedBarcode is not empty %}
            <p class="barcode--text">{{ data.encodedBarcode }}</p>
        {% else %}
            <p>{{ 'storeapp.picking.barcode' | trans }}</p>
        {% endif %}
    </div>
{% endblock %}
