@mixin barcode($name: '.barcode') {
    #{$name} {
        .white--box {
           background-color: white;
            padding: rem(25);
        }

        .barcode--text {
            font-family: IDAutomationHC39;
            text-align: center;
            font-size: rem(15);
            height: rem(20);
        }
    }
}

@include barcode();
