@mixin available-timeslot-top-header($name: '.available-timeslot-top-header') {
    #{$name} {

        &__container{
            display: flex;
            position: absolute;
            z-index: 1000;
            color: $setting-color-white;
            font-size: rem(12);
            left: rem(30);

            @include helper-breakpoint-media-min($xxl-min) {
                width: 40%;
                justify-content: flex-end;
            }

            @include helper-breakpoint-media-max($xl-min) {
                display: none;
            }
        }

        &__container-content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
        }

        &__content-section{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__icon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: rem(5);
        }

        &__title{
            margin-right: rem(15);
        }

        &__content{
            display: flex;
        }
        &__timeslot{
            margin-right: rem(15);
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__link{
            cursor: pointer;
            transition: opacity 200ms;

            @include helper-breakpoint-media-max($md-max){
                display: none;
            }
        }
        &__link:hover{
            opacity: 0.7;
        }

        @content;
    }
}

@include available-timeslot-top-header();
