{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block container %}
<main>

        {% embed organism('jumbotron-slider') only %}
            {% block body %}
                {% embed molecule('slick-carousel') with {
                    attributes: {
                        'data-json': attributes['data-json'],
                    },
                } only %}
                    {% block slides %}
                        {% cms_slot 'slt-2' %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {% embed organism('jumbotron-slider-mobile') only %}
            {% block body %}
                {% embed molecule('slick-carousel') with {
                    attributes: {
                        'data-json': attributes['data-json'],
                    },
                } only %}
                    {% block slides %}
                        {% cms_slot 'slt-2-mobile' %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

    <div class="navigation-category__container">
            {% embed organism('section') with {
                modifiers: ['secondary', 'full-width','homepage'],
                class: 'quick-links-section spacing-top spacing-top--inner spacing-top--big',
            } only %}
                {% block inner %}
                    <div class="quicklinks grid grid--left grid--middle">
                        {% cms_slot 'quick-links-slt' %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>

    <div class="gray-div-section">
        <div class="curved-line-home"></div>
        <div class="container">
            <div class="container__inner">

                {% block content %}
                {% cms_slot 'slt-3' %}

                <div class="navigation-category__container">
                    {{ content_navigation('navigation-categories', 'navigation-categories') }}
                    {% cms_slot 'slt-1st-in-frame' %}
                </div>
               <div class="navigation-category__container">
                    {% embed organism('section') with {
                        modifiers: ['secondary', 'full-width','homepage'],
                        class: 'spacing-top spacing-top--inner spacing-top--big',
                    } only %}
                        {% block inner %}
                                <div class=" grid grid--left grid--middle">
                                    {% cms_slot '3-elements-slt-in-frame-grid-content' %}
                                </div>
               </div>
                        {% endblock %}
                    {% endembed %}
            <div class="navigation-category__container">

                        {% embed organism('section') with {
                            modifiers: ['secondary'],
                            class: 'spacing-top spacing-top--inner spacing-top--big',
                            } only %}
                            {% block inner %}
                                <div class="grid grid--left grid--middle">
                                    {% cms_slot '4-elements-slt-in-frame-grid-content' %}
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
            </div>
        </div>
    </div>
</div>
    {% block downbar %}
        {% cms_slot 'downbar-slt' %}
    {% endblock %}
</main>
{% endblock %}
