{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block container %}
    <main>
        {% embed organism('jumbotron-slider') only %}
            {% block body %}
                {% embed molecule('slick-carousel') with {
                    attributes: {
                        'data-json': attributes['data-json'],
                    },
                } only %}
                    {% block slides %}
                        {% cms_slot 'slt-2' %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        <div class="container">
            <div class="container__inner">
                {% block content %}

                    {% cms_slot 'slt-3' %}

                    <div class="spacing-bottom spacing-bottom--biggest">
                        {% widget 'NavigationWidget' args ['POPULAR_CATEGORIES', 'navigation-categories'] %}{% endwidget %}
                    </div>

                    {% cms_slot 'slt-1st-in-frame' %}

                    {% embed organism('section') with {
                        modifiers: ['secondary', 'full-width'],
                        class: 'spacing-top spacing-top--inner spacing-top--big',
                        } only %}
                        {% block inner %}
                            <div class="grid grid--left grid--middle">
                                {% cms_slot '3-elements-slt-in-frame-grid-content' %}
                            </div>
                        {% endblock %}
                    {% endembed %}

                    {% embed organism('section') with {
                        modifiers: ['secondary', 'full-width'],
                        class: 'spacing-top spacing-top--inner spacing-top--big',
                        } only %}
                        {% block inner %}
                            <div class="grid grid--left grid--middle">
                                {% cms_slot '4-elements-slt-in-frame-grid-content' %}
                            </div>
                        {% endblock %}
                    {% endembed %}

                {% endblock %}
            </div>
        </div>
    </main>
{% endblock %}
