{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required,
    collectNumber: '',
    requestedDeliveryDate: '',
    deliveryMethodKey: '',
    orderReference:''
} %}

{%- block class -%}{{ parent() }} page-layout-main--success-page{%- endblock -%}

{% block breadcrumbs %}{% endblock %}

{% block title %}{% endblock %}

{% block content %}

    <div class="page-layout-checkout success-page text-center">
        <div class="success-page__container container">
            <h1 class="title title--checkout-success">{{ data.title }}</h1>
            <p class="success-page__text">{{ data.message }}</p>
            <div class="success-information-holder">
                <strong>Wie geht es weiter</strong>
                <p>Ihre Bestellbestätigung <strong> {{ data.orderReference }}</strong> ist bereits auf dem Weg in Ihr Email-Postfach - prüfen Sie also unbedingt auch Ihren Spam Ordner.<br>
                    Ihren <strong>Abholschein</strong> erhalten Sie direkt am <strong>Abholtag per Mail</strong>, sobald wir Ihre Bestellung fertig gepackt haben.
                    Darin finden Sie außerdem den <strong> detaillierten Lieferstatus </strong> aller bestellten Artikel
                </p>
            </div>


            Weitere Fragen zu Ihrer Bestellung oder dem Abholschein? <br/>
            Erfahren Sie Mehr unter: <a style="color:orange" href="https://globus.zendesk.com/hc/de">https://globus.zendesk.com/hc/de</a>

        </div>
    </div>


{% endblock %}
