@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        $footer-socials-width: rem(300);
        background: $setting-color-light-tentgray;
        color: $setting-color-white;

        .grid {
            @include helper-breakpoint-media-max($xl-min) {
                flex-direction: column;
            }
        }

        .footer-container {
            padding-top: rem(30);
        }

        .contact-store-info {
            margin-right: rem(50);
            text-align: center;

            h1,h2,h3,h4,h5,h6 {
                font-size: 14px;
                p {
                    color: $setting-color-white;
                }
            }
            p {
                color: #d4d5d7;
            }

            @include helper-breakpoint-media-max($lg-min) {
                margin-bottom: rem(20);
            }

            @include helper-breakpoint-media-max($xl-min) {
                margin: 0 auto;
            }

            @include helper-breakpoint-media-max($md-min) {
                margin-top: rem(20);
            }
        }

        .title-and-content-holder {
            .title-holder {
                font-size: rem(18);
                font-family: $setting-font-family-additional;
                @include helper-breakpoint-media-max($md-max){
                    font-size: rem(15);
                }
            }
            .title-holder p {
                margin-top: 0;
                color:#fff;
            }
            p {
                color:#d4d5d7;
            }
            a {
                color:#d4d5d7 !important;
            }
        }

        &__top {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: rem(16) rem(16) rem(32);
            position: relative;

            @include helper-breakpoint-media-min($lg-min) {
                padding: rem(32) rem(16) rem(16);
            }
        }

        .icon-container {
            h3 {
                font-weight: fw(medium);
                line-height: rem(22);
            }

            @include helper-breakpoint-media-max($xl-min) {
                margin: 0 auto;
            }
        }

        .icon-container_DE {
            display: block;
        }

        .icon-container_CZ {
            font-family: $setting-font-family !important;
            .title, .title--footer {
                font-family: $setting-font-family;
            }
        }

        .icon-container div  {
            display: inline-block;
        }

        .icon-container .div-margin-right {
            margin-right: rem(20);
        }
        .icon-container .div-margin-left   {
            margin-left: rem(20);
        }

        &__logo-section {
            width: rem(90);
        }

        &__logo-copy {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        &__logo-copy-text {
            letter-spacing: rem(3.2);
            font: fw(regular) rem(10)/rem(16) $setting-font-family-additional;
            text-transform: uppercase;
            margin-right: rem(10);
        }

        &__bottom {
            display: block;
            padding: rem(5);
            background: $setting-color-tentgray;
            color: $setting-color-white;
            position: relative;

            @include helper-breakpoint-media-max($sm-max)  {
                padding: 0;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            .alignLeft {
                margin-left: rem(130);

                @include helper-breakpoint-media-max($xl-min) {
                    margin: auto;
                }
                #footerNav {
                    width: rem(570);
                    justify-content: space-between;

                    @include helper-breakpoint-media-max($xl-min) {
                        width: auto;
                        padding: rem(15) 0 0 0;
                        flex-direction: column;
                        text-align: center;
                    }
                }
            }
        }

        &__socials {
            width: 100%;
            padding-bottom: rem(15);

            @include helper-breakpoint-media-min($xl-min) {
                padding-top: rem(60);
            }

            &-title {
                padding-right: rem(16);
            }

            &-holder {
                display: flex;
                align-items: center;
            }
        }

        &__navigation {
            color: $setting-color-white;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-grow: 1;
            padding-bottom: rem(30);

            @include helper-breakpoint-media-max($lg-min) {
                padding-right: 6%;
                padding-bottom: 0;
                flex-direction: row;
            }

            @include helper-breakpoint-media-max($md-max) {
                flex-direction: column;
            }
        }

        &__contact-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: rem(16);

            @include helper-breakpoint-media-min($lg-min) {
                display: block;
                margin-bottom: 0;
            }

            &::after {
                display: none;
            }
        }

        &__contact-info-item {
            @include helper-effect-transition(color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $setting-color-gray-10;
            font-size: rem(14);
            font-weight: fw(medium);
            text-align: center;
            width: calc(50% - #{rem(10)});
            min-height: rem(70);
            border: rem(1) solid $setting-color-gray-2;
            border-radius: rem(4);
            line-height: rem(24);
            text-decoration: none;

            &:focus,
            &:active,
            &:hover {
                color: $setting-color-gray-10;
                text-decoration: underline;
            }

            @include helper-breakpoint-media-min($lg-min) {
                display: block;
                width: 100%;
                min-height: 0;
                border: none;
                text-align: left;
                margin-bottom: rem(6);
            }

        }

        @include helper-breakpoint-media-max($sm-max) {
            .node--footer {
                padding-bottom: rem(0) !important;
            }
        }

        .cz-font {
            font-family: $setting-font-family-fira-sans !important;
        }

        h3 .cz-font, h4  .cz-font{
            font-family: $setting-font-family-fira-sans !important;
        }

        .footer-logo {
            text-align: center;
            margin-right: rem(20);

            .footer-logo-icon {
                span {
                    height: rem(48);
                    img {
                        width: rem(55);
                        background: #fff;
                        border-radius: rem(50);
                        padding: 6px;
                    }
                }
            }

            .footer-logo-text {
                p {
                    display: inline;
                    font-size: rem(20);
                    font-weight: fw(semibold);
                    color: $setting-color-fresh-orange;
                    background: #fff;
                    padding: rem(0) rem(5);
                    border-radius: rem(12.8);
                }
            }

            @include helper-breakpoint-media-max($lg-max) {
                margin: auto;
            }
        }
    }

    .curved-line {
        background: $setting-color-white;
        width: 100%;
        height: rem(100);
        clip-path: ellipse(55% 100% at 50% 0%)
    }
}

@include shop-ui-footer();
