{% extends model('component') %}

{% define config = {
    name: 'breadcrumb'
} %}

{% define data = {
    properties: {
        component: '',
        items: []
    }
} %}

{% block body %}
    <ff-breadcrumb-trail {{ data.properties.component|raw }}>
        <span data-separator> &#8226 </span>
        {% for item in data.properties.items %}
            <ff-breadcrumb-trail-item type="{{ item }}">
                <span class="{{ item ~ '__item' }}">
                    {% verbatim %}
                        {{{ text }}}
                    {% endverbatim %}
                </span>
            </ff-breadcrumb-trail-item>
        {% endfor %}

    </ff-breadcrumb-trail>
{% endblock %}
