@mixin cart-page-layout-cart($name: '.page-layout-cart') {
    #{$name} {
        display: block;
        .breadcrumb-step__link {
            font-size: 1.6rem;

            @include helper-breakpoint-media-max($md-max) {
                font-size: 1.2rem;
            }
        }
        .breadcrumb-step__separator {
            visibility: hidden;
        }
        &__empty {
            margin-top: rem(48);
            margin-bottom: rem(50);

            .spacing-top {
                margin-bottom: 2rem;
                font-size: 2rem;

                @include helper-breakpoint-media-max($md-max) {
                    font-size: 1.6rem;
                }
            }

            .warenkorb-content {
                display: flex;
                flex-flow: row-reverse;
                align-items: end;
                justify-content: center;
                gap: rem(50);

                @include helper-breakpoint-media-max($sm-max) {
                    flex-direction: column;
                    align-items: center;
                }

                .text-and-button {
                    width: 90%;
                    text-align: center;

                    @include helper-breakpoint-media-min($sm-max) {
                        width: 35%;
                        text-align: left;
                    }

                    @include helper-breakpoint-media-min($lg-max) {
                        display: block;
                        width: 20%;
                    }

                    .info {
                        text-align: left;
                        color: $setting-color-tentgray;
                        font-size: 1.1rem;
                        @include helper-breakpoint-media-max($sm-max) {
                            text-align: left;
                            font-size: 1rem;
                        }
                    }

                    .button {
                        width: 100%;
                        margin-top: rem(10);
                        padding: 0.5rem 0;
                        font-size: 1.1rem;
                        border-radius: rem(20);

                        @include helper-breakpoint-media-max($md-max) {
                            margin-bottom: rem(20);
                        }

                        @include helper-breakpoint-media-max($lg-max) {
                            width: 75%;
                        }

                        @include helper-breakpoint-media-max($sm-max) {
                            width: 100%;
                        }
                    }
                }

                .warenkorb-img {
                    height: auto;
                    width: 30%;
                    margin-left: 20px;
                    @include helper-breakpoint-media-max($sm-max) {
                        width: 90%;
                        margin-left: 0;
                    }
                }

            }
        }

        .quantity-counter__button--incr {
            border-color: $setting-color-forest-green;
            color: $setting-color-forest-green;
        }

        .quantity-counter__button--decr {
            border-color: $setting-color-forest-green;
            color: $setting-color-forest-green;
        }

        &__main-title {
            font-weight: 500;
        }

        &__col {
            &--content {
                padding-bottom: rem(30);

                @include helper-breakpoint-media-min($lg-min) {
                    padding: 0 rem(20) rem(50) 0;
                }
                .cart-limitation-message{
                    @include helper-breakpoint-media-max($md-max){
                        margin-top: rem(50);
                    }
                }
            }

            &--sidebar {
                position: relative;
                margin: 0 rem(-15);
                height: 100%;

                @include helper-breakpoint-media-min($lg-min) {
                    margin: 0;
                    padding: 0 0 rem(60);
                }
            }
        }

        @include helper-breakpoint-media-max(l-max) {
            .col--lg-8 {
                width: 100%;
                min-width: 100%;
            }

            .col--lg-4 {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

@include cart-page-layout-cart();
