* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    padding-bottom: rem(40);
    font: normal rem(15)/1.5 $setting-font-family;
    color: $setting-color-gray-2;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: rem(16) 0;
}

strong {
    font-weight: bold;
}

.container {
    max-width: rem(1204);
    margin: auto;
    width: 100%;
    padding: 0 rem(15);
}

.header {
    background: $setting-color-white;
    color: $setting-color-gray-3;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: rem(10) 0;
}

.logo {
    display: block;
    width: rem(232);
    height: rem(63);
    position: relative;
    z-index: 1;

    &__image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

.banner {
    display: none;

    @include helper-breakpoint-media-min($md-min) {
        display: block;
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 1;
        border-bottom: rem(1) solid $setting-color-gray-4;
    }
}

.main {
    max-width: rem(800);
    width: 100%;
    display: block;

    @include helper-breakpoint-media-min($md-min) {
        margin: rem(100) auto 0;
        border: rem(1) solid $setting-color-gray-4;
    }

    &__inner {
        position: relative;
        z-index: 2;
        background: $setting-color-gray-4;
        color: $setting-color-white;
        padding: rem(40) rem(20);

        @include helper-breakpoint-media-min($md-min) {
            padding: rem(40);
        }
    }
}

.title {
    font: normal rem(26) $setting-font-family-additional;
    margin: 0 0 rem(8);
}

.sub-title {
    font: normal rem(36) $setting-font-family;
    margin: 0 0 rem(20);
}

.message {
    margin-bottom: rem(40);
}

.form-title {
    text-align: center;
    font: normal rem(22) $setting-font-family;
    margin-bottom: rem(15);
}

.form {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: $setting-color-white;
    color: $setting-color-gray-5;

    @include helper-breakpoint-media-min($md-min) {
        width: rem(400);
    }
}

.zip-label {
    font: normal rem(16)/rem(40) $setting-font-family;
    margin-right: auto;
    display: flex;
}

.pin-icon {
    width: rem(14);
    height: rem(40);
    margin: 0 rem(7);
}

.input-wrapper {
    margin: rem(7) 0;
    position: relative;
    flex-basis: calc(100% - 110px);

    @include helper-breakpoint-media-min($md-min) {
        flex-basis: calc(100% - 150px);
    }
}

input {
    width: 100%;
    border: none;
    font: 500 rem(14)/rem(26) $setting-font-family;
    color: $setting-color-gray-2;
    outline: none;
    appearance: none;
    height: rem(26);
    text-align: center;
    padding: 0 rem(8);

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

    &::placeholder {
        color: $setting-color-gray-1;
        text-align: center;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    @include helper-breakpoint-media-min($md-min) {
        font-size: rem(18);
        padding: 0 rem(15);
    }
}

.button {
    flex-basis: rem(110);
    position: relative;
    font: normal rem(14)/rem(40) $setting-font-family;
    transition: all 250ms ease-in-out;
    text-align: center;
    cursor: pointer;
    background: $setting-color-orange;
    color: $setting-color-white;
    border: none;
    padding: 0 rem(6);
    outline: none;
    box-shadow: 0 rem(4) rem(18) $setting-color-transparent;

    &:hover,
    &:focus,
    &:active {
        background: $setting-color-orange;
        color: $setting-color-white;
        box-shadow: 0 rem(4) rem(18) $setting-color-green-alpha-1;
    }

    @include helper-breakpoint-media-min($md-min) {
        flex-basis: rem(150);
        font-size: rem(16);
        padding: 0 rem(15);
    }
}

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $setting-color-alert;
    color: $setting-color-white;
    font: normal rem(17)/rem(25) $setting-font-family;
    padding: rem(20) rem(16);
    z-index: 10;
}

.is-hidden {
    display: none;
}
