{% extends model('component') %}

{% define config = {
    name: 'products-per-page',
    tag: 'products-per-page'
} %}

{% define data = {
    properties: {
        dropdown: '',
        item: ''
    }
} %}

{% block body %}

    <ff-products-per-page-dropdown id="dropdown" {{ data.properties.dropdown|raw }} unresolved>
        <ff-products-per-page-item {{ data.properties.item|raw }} unresolved>
            <div>
                {% verbatim %}
                    {{ value }}
                {% endverbatim %}
            </div>
        </ff-products-per-page-item>
    </ff-products-per-page-dropdown>

{% endblock %}
