{% extends model('component') %}

{% define config = {
    name: 'products-per-page'
} %}

{% define data = {
    properties: {
        dropdown: '',
        item: ''
    }
} %}

{% block body %}

    <ff-products-per-page-dropdown id="dropdown" {{ data.properties.dropdown|raw }}>
        <ff-products-per-page-item {{ data.properties.item|raw }}>
            <div>
                {% verbatim %}
                    {{ value }}
                {% endverbatim %}
            </div>
        </ff-products-per-page-item>
    </ff-products-per-page-dropdown>

    <script>
        let dropdownBox = document.getElementById("dropdown");

        function toggleAttributeProductsPerPage(){
            if(dropdownBox.hasAttribute("opened")){
                dropdownBox.removeAttribute("opened");
                dropdownBox.setAttribute("closed", "closed");
            }else if(dropdownBox.hasAttribute("closed")){
                dropdownBox.removeAttribute("closed");
                dropdownBox.setAttribute("opened", "opened");
            }
        };

        dropdownBox.addEventListener("click", toggleAttributeProductsPerPage);
        dropdownBox.addEventListener("blur", toggleAttributeProductsPerPage);

    </script>

{% endblock %}
