@mixin wishlist-page-add-wishlist($name: '.add-wishlist') {
    #{$name} {
        &__row {
            display: flex;
            flex-wrap: wrap;

            @include helper-breakpoint-media-min($lg-min) {
                flex-wrap: nowrap;
            }
        }

        &__col {
            flex-basis: 100%;
            margin-bottom: rem(8);

            @include helper-breakpoint-media-min($lg-min) {
                flex-basis: auto;
                margin-bottom: 0;
            }

            &:first-child {
                @include helper-breakpoint-media-min($lg-min) {
                    flex-grow: 1;
                    margin-right: rem(15);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include wishlist-page-add-wishlist();
