@mixin card-code-widget-cart-code-form($name: '.cart-code-form') {
    #{$name} {
        &--checkout {
            margin: rem(18) 0;
            border-top: rem(1) dotted $setting-color-gray-3;
            border-bottom: rem(1) dotted $setting-color-gray-3;

            .grid {
                margin: 0;
                padding-right: rem(15);
            }
        }

        .label {
            display: none;
        }

        .form__fields {
            width: 65%;
        }

        .form__field {
            padding: 0;
            width: 100%;
        }

        .input {
            border-radius: rem(25);
        }

        .title {
            font-size: rem(20);
            font-weight: 600;
            padding: 0;
            margin: rem(5) 0 rem(5) 0;
            color: $setting-color-tentgray;
        }

        .form__action {
            font-weight: fw(semibold);
            font-size: rem(16);
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        .form__actions {
            width: 45%;
        }
    }
}

@include card-code-widget-cart-code-form();
