{% define data = {
    imageUrl: '',
    link: '',
    content: '',
    title:''
} %}

{% block quickLinks %}

    <div class="quicklinks">
        <a href="{{ data.link }}" class="link" >
            <div class="item">
                <div class="img">
                    {{ data.imageUrl | raw}}
                </div>
                <div class="block-icon">
                    {{ data.content | raw }}
                </div>
                <div class="quick-links-content">
                    {{ data.title | raw}}
                    <div class="arrow-link">
                        <span>></span>
                    </div>
                </div>
            </div>
        </a>
    </div>

{% endblock %}










