{% extends model('component') %}

{% define config = {
    name: 'container-color',
    tag: 'container-color'
} %}

{% define data = {
    colorCode: '',
    colorNumber: '',
    textColor: '',
    isSubstitutionAllowed: '',
    isDepositAllowed: false
} %}

{% block body %}
    <div class="container-color-holder" style="background-color: {{ data.colorCode }}">

        <div class="color-number" style="color: {{ data.textColor }}"><span>{{ data.colorNumber }}</span>
            {% if data.isSubstitutionAllowed == '' or data.isSubstitutionAllowed == '0' %}
                {% include atom('icon') with {
                    class: 'icon-substitutes',
                    modifiers: ['big'],
                    data: {
                        name: 'icon-not-substitutes',
                    },
                } only %}
            {% endif %}

            {% if data.isDepositAllowed == true %}
                {% include atom('icon') with {
                    class: 'icon-depositAllowed',
                    modifiers: ['big'],
                    data: {
                        name: 'icon-depositAllowed',
                    },
                } only %}
            {% endif %}
        </div>
    </div>
{% endblock %}
